{"openapi":"3.0.0","info":{"version":"2016-10-20","x-release":"v4","title":"AWS Budgets","description":"Use the Amazon Web Services Budgets API to plan your service usage, service costs, and instance reservations. This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for the Amazon Web Services Budgets feature. \u003c/p\u003e \u003cp\u003eBudgets provide you with a way to see the following information:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003eHow close your plan is to your budgeted amount or to the free tier limits\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eYour usage-to-date, including how much you've used of your Reserved Instances (RIs)\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eYour current estimated charges from Amazon Web Services, and how much your predicted usage will accrue in charges by the end of the month\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eHow much of your budget has been used\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e \u003cp\u003eAmazon Web Services updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003e \u003cb\u003eCost budgets\u003c/b\u003e - Plan how much you want to spend on a service.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003cb\u003eUsage budgets\u003c/b\u003e - Plan how much you want to use one or more services.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003cb\u003eRI utilization budgets\u003c/b\u003e - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003e \u003cb\u003eRI coverage budgets\u003c/b\u003e - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e \u003cp\u003eService Endpoint\u003c/p\u003e \u003cp\u003eThe Amazon Web Services Budgets API provides the following endpoint:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003ehttps://budgets.amazonaws.com\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e \u003cp\u003eFor information about costs that are associated with the Amazon Web Services Budgets API, see [Amazon Web Services Cost Management Pricing](https://aws.amazon.com/aws-cost-management/pricing/)","x-logo":{"url":"https://twitter.com/awscloud/profile_image?size=original","backgroundColor":"#FFFFFF"},"termsOfService":"https://aws.amazon.com/service-terms/","contact":{"name":"Mike Ralphson","email":"mike.ralphson@gmail.com","url":"https://github.com/mermade/aws2openapi","x-twitter":"PermittedSoc"},"license":{"name":"Apache 2.0 License","url":"http://www.apache.org/licenses/"},"x-providerName":"amazonaws.com","x-serviceName":"budgets","x-origin":[{"contentType":"application/json","url":"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/budgets-2016-10-20.normal.json","converter":{"url":"https://github.com/mermade/aws2openapi","version":"1.0.0"},"x-apisguru-driver":"external"}],"x-apiClientRegistration":{"url":"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"},"x-apisguru-categories":["cloud"],"x-preferred":true},"externalDocs":{"description":"Amazon Web Services documentation","url":"https://docs.aws.amazon.com/budgets/"},"servers":[{"url":"https://budgets.amazonaws.com/","variables":{},"description":"The general AWSBudgets multi-region endpoint"},{"url":"http://budgets.{region}.amazonaws.com.cn","variables":{"region":{"description":"The AWS region","enum":["cn-north-1","cn-northwest-1"],"default":"cn-north-1"}},"description":"The AWSBudgets endpoint for China (Beijing) and China (Ningxia)"},{"url":"https://budgets.{region}.amazonaws.com.cn","variables":{"region":{"description":"The AWS region","enum":["cn-north-1","cn-northwest-1"],"default":"cn-north-1"}},"description":"The AWSBudgets endpoint for China (Beijing) and China (Ningxia)"}],"x-hasEquivalentPaths":true,"paths":{"/CreateBudget":{"post":{"operationId":"CreateBudget","description":"\u003cp\u003eCreates a budget and, if included, notifications and subscribers. \u003c/p\u003e \u003cimportant\u003e \u003cp\u003eOnly one of \u003ccode\u003eBudgetLimit\u003c/code\u003e or \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the \u003ccode\u003eBudgetLimit\u003c/code\u003e syntax. For \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e, see the \u003ca href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples\"\u003eExamples\u003c/a\u003e section. \u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBudgetResponse"}}}},"480":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"481":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"482":{"description":"CreationLimitExceededException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreationLimitExceededException"}}}},"483":{"description":"DuplicateRecordException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateRecordException"}}}},"484":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBudgetRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["CreateBudget"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/CreateBudgetAction":{"post":{"operationId":"CreateBudgetAction","description":" Creates a budget action. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBudgetActionResponse"}}}},"480":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"481":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"482":{"description":"CreationLimitExceededException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreationLimitExceededException"}}}},"483":{"description":"DuplicateRecordException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateRecordException"}}}},"484":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBudgetActionRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["CreateBudgetAction"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/CreateNotification":{"post":{"operationId":"CreateNotification","description":"Creates a notification. You must create the budget before you create the associated notification.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateNotificationResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"CreationLimitExceededException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreationLimitExceededException"}}}},"484":{"description":"DuplicateRecordException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateRecordException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateNotificationRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["CreateNotification"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/CreateSubscriber":{"post":{"operationId":"CreateSubscriber","description":"Creates a subscriber. You must create the associated budget and notification before you create the subscriber.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubscriberResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"CreationLimitExceededException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreationLimitExceededException"}}}},"483":{"description":"DuplicateRecordException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateRecordException"}}}},"484":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubscriberRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["CreateSubscriber"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DeleteBudget":{"post":{"operationId":"DeleteBudget","description":"\u003cp\u003eDeletes a budget. You can delete your budget at any time.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eDeleting a budget also deletes the notifications and subscribers that are associated with that budget.\u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBudgetResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBudgetRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DeleteBudget"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DeleteBudgetAction":{"post":{"operationId":"DeleteBudgetAction","description":" Deletes a budget action. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBudgetActionResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ResourceLockedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteBudgetActionRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DeleteBudgetAction"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DeleteNotification":{"post":{"operationId":"DeleteNotification","description":"\u003cp\u003eDeletes a notification.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eDeleting a notification also deletes the subscribers that are associated with the notification.\u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteNotificationResponse"}}}},"480":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"481":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteNotificationRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DeleteNotification"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DeleteSubscriber":{"post":{"operationId":"DeleteSubscriber","description":"\u003cp\u003eDeletes a subscriber.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eDeleting the last subscriber to a notification also deletes the notification.\u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSubscriberResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSubscriberRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DeleteSubscriber"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudget":{"post":{"operationId":"DescribeBudget","description":"\u003cp\u003eDescribes a budget.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eThe Request Syntax section shows the \u003ccode\u003eBudgetLimit\u003c/code\u003e syntax. For \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e, see the \u003ca href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples\"\u003eExamples\u003c/a\u003e section. \u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudget"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgetAction":{"post":{"operationId":"DescribeBudgetAction","description":" Describes a budget action detail. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgetAction"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgetActionHistories":{"post":{"operationId":"DescribeBudgetActionHistories","description":" Describes a budget action history detail. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionHistoriesResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionHistoriesRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgetActionHistories"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgetActionsForAccount":{"post":{"operationId":"DescribeBudgetActionsForAccount","description":" Describes all of the budget actions for an account. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionsForAccountResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"483":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionsForAccountRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgetActionsForAccount"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgetActionsForBudget":{"post":{"operationId":"DescribeBudgetActionsForBudget","description":" Describes all of the budget actions for a budget. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionsForBudgetResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetActionsForBudgetRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgetActionsForBudget"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgetNotificationsForAccount":{"post":{"operationId":"DescribeBudgetNotificationsForAccount","description":" Lists the budget names and notifications that are associated with an account. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetNotificationsForAccountResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"484":{"description":"ExpiredNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpiredNextTokenException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetNotificationsForAccountRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgetNotificationsForAccount"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgetPerformanceHistory":{"post":{"operationId":"DescribeBudgetPerformanceHistory","description":"Describes the history for \u003ccode\u003eDAILY\u003c/code\u003e, \u003ccode\u003eMONTHLY\u003c/code\u003e, and \u003ccode\u003eQUARTERLY\u003c/code\u003e budgets. Budget history isn't available for \u003ccode\u003eANNUAL\u003c/code\u003e budgets.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetPerformanceHistoryResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"484":{"description":"ExpiredNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpiredNextTokenException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetPerformanceHistoryRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgetPerformanceHistory"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeBudgets":{"post":{"operationId":"DescribeBudgets","description":"\u003cp\u003eLists the budgets that are associated with an account.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eThe Request Syntax section shows the \u003ccode\u003eBudgetLimit\u003c/code\u003e syntax. For \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e, see the \u003ca href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples\"\u003eExamples\u003c/a\u003e section. \u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetsResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"484":{"description":"ExpiredNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpiredNextTokenException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeBudgetsRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeBudgets"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeNotificationsForBudget":{"post":{"operationId":"DescribeNotificationsForBudget","description":"Lists the notifications that are associated with a budget.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeNotificationsForBudgetResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"484":{"description":"ExpiredNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpiredNextTokenException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeNotificationsForBudgetRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeNotificationsForBudget"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/DescribeSubscribersForNotification":{"post":{"operationId":"DescribeSubscribersForNotification","description":"Lists the subscribers that are associated with a notification.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeSubscribersForNotificationResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"482":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"483":{"description":"InvalidNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidNextTokenException"}}}},"484":{"description":"ExpiredNextTokenException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpiredNextTokenException"}}}},"485":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"486":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeSubscribersForNotificationRequest"}}}},"parameters":[{"name":"MaxResults","in":"query","schema":{"type":"string"},"description":"Pagination limit","required":false},{"name":"NextToken","in":"query","schema":{"type":"string"},"description":"Pagination token","required":false},{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["DescribeSubscribersForNotification"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/ExecuteBudgetAction":{"post":{"operationId":"ExecuteBudgetAction","description":" Executes a budget action. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteBudgetActionResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ResourceLockedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteBudgetActionRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["ExecuteBudgetAction"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/UpdateBudget":{"post":{"operationId":"UpdateBudget","description":"\u003cp\u003eUpdates a budget. You can change every part of a budget except for the \u003ccode\u003ebudgetName\u003c/code\u003e and the \u003ccode\u003ecalculatedSpend\u003c/code\u003e. When you modify a budget, the \u003ccode\u003ecalculatedSpend\u003c/code\u003e drops to zero until Amazon Web Services has new usage data to use for forecasting.\u003c/p\u003e \u003cimportant\u003e \u003cp\u003eOnly one of \u003ccode\u003eBudgetLimit\u003c/code\u003e or \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the \u003ccode\u003eBudgetLimit\u003c/code\u003e syntax. For \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e, see the \u003ca href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_UpdateBudget.html#API_UpdateBudget_Examples\"\u003eExamples\u003c/a\u003e section. \u003c/p\u003e \u003c/important\u003e","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBudgetResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBudgetRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["UpdateBudget"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/UpdateBudgetAction":{"post":{"operationId":"UpdateBudgetAction","description":" Updates a budget action. ","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBudgetActionResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"484":{"description":"ResourceLockedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceLockedException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBudgetActionRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["UpdateBudgetAction"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/UpdateNotification":{"post":{"operationId":"UpdateNotification","description":"Updates a notification.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNotificationResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"DuplicateRecordException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateRecordException"}}}},"484":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNotificationRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["UpdateNotification"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]},"/UpdateSubscriber":{"post":{"operationId":"UpdateSubscriber","description":"Updates a subscriber.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubscriberResponse"}}}},"480":{"description":"InternalErrorException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorException"}}}},"481":{"description":"InvalidParameterException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterException"}}}},"482":{"description":"NotFoundException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundException"}}}},"483":{"description":"DuplicateRecordException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateRecordException"}}}},"484":{"description":"AccessDeniedException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedException"}}}},"485":{"description":"ThrottlingException","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThrottlingException"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubscriberRequest"}}}},"parameters":[{"name":"X-Amz-Target","in":"header","required":true,"schema":{"type":"string","enum":["UpdateSubscriber"]}}]},"parameters":[{"$ref":"#/components/parameters/X-Amz-Content-Sha256"},{"$ref":"#/components/parameters/X-Amz-Date"},{"$ref":"#/components/parameters/X-Amz-Algorithm"},{"$ref":"#/components/parameters/X-Amz-Credential"},{"$ref":"#/components/parameters/X-Amz-Security-Token"},{"$ref":"#/components/parameters/X-Amz-Signature"},{"$ref":"#/components/parameters/X-Amz-SignedHeaders"}]}},"components":{"parameters":{"X-Amz-Content-Sha256":{"name":"X-Amz-Content-Sha256","in":"header","schema":{"type":"string"},"required":false},"X-Amz-Date":{"name":"X-Amz-Date","in":"header","schema":{"type":"string"},"required":false},"X-Amz-Algorithm":{"name":"X-Amz-Algorithm","in":"header","schema":{"type":"string"},"required":false},"X-Amz-Credential":{"name":"X-Amz-Credential","in":"header","schema":{"type":"string"},"required":false},"X-Amz-Security-Token":{"name":"X-Amz-Security-Token","in":"header","schema":{"type":"string"},"required":false},"X-Amz-Signature":{"name":"X-Amz-Signature","in":"header","schema":{"type":"string"},"required":false},"X-Amz-SignedHeaders":{"name":"X-Amz-SignedHeaders","in":"header","schema":{"type":"string"},"required":false}},"securitySchemes":{"hmac":{"type":"apiKey","name":"Authorization","in":"header","description":"Amazon Signature authorization v4","x-amazon-apigateway-authtype":"awsSigv4"}},"schemas":{"CreateBudgetResponse":{"type":"object","properties":{},"description":" Response of CreateBudget "},"CreateBudgetRequest":{"type":"object","required":["AccountId","Budget"],"title":"CreateBudgetRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget."}]},"Budget":{"allOf":[{"$ref":"#/components/schemas/Budget"},{"description":"The budget object that you want to create."}]},"NotificationsWithSubscribers":{"allOf":[{"$ref":"#/components/schemas/NotificationWithSubscribersList"},{"description":"A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your \u003ccode\u003eCreateBudget\u003c/code\u003e call, Amazon Web Services creates the notifications and subscribers for you."}]}},"description":" Request of CreateBudget "},"InvalidParameterException":{},"InternalErrorException":{},"CreationLimitExceededException":{},"DuplicateRecordException":{},"AccessDeniedException":{},"ThrottlingException":{},"CreateBudgetActionResponse":{"type":"object","required":["AccountId","BudgetName","ActionId"],"properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]}}},"CreateBudgetActionRequest":{"type":"object","required":["AccountId","BudgetName","NotificationType","ActionType","ActionThreshold","Definition","ExecutionRoleArn","ApprovalModel","Subscribers"],"title":"CreateBudgetActionRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"NotificationType":{"$ref":"#/components/schemas/NotificationType"},"ActionType":{"allOf":[{"$ref":"#/components/schemas/ActionType"},{"description":" The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. "}]},"ActionThreshold":{"$ref":"#/components/schemas/ActionThreshold"},"Definition":{"$ref":"#/components/schemas/Definition"},"ExecutionRoleArn":{"allOf":[{"$ref":"#/components/schemas/RoleArn"},{"description":" The role passed for action execution and reversion. Roles and actions must be in the same account. "}]},"ApprovalModel":{"allOf":[{"$ref":"#/components/schemas/ApprovalModel"},{"description":" This specifies if the action needs manual or automatic approval. "}]},"Subscribers":{"$ref":"#/components/schemas/Subscribers"}}},"NotFoundException":{},"CreateNotificationResponse":{"type":"object","properties":{},"description":" Response of CreateNotification "},"CreateNotificationRequest":{"type":"object","required":["AccountId","BudgetName","Notification","Subscribers"],"title":"CreateNotificationRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget that you want to create a notification for."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget that you want Amazon Web Services to notify you about. Budget names must be unique within an account."}]},"Notification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The notification that you want to create."}]},"Subscribers":{"allOf":[{"$ref":"#/components/schemas/Subscribers"},{"description":"A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers."}]}},"description":" Request of CreateNotification "},"CreateSubscriberResponse":{"type":"object","properties":{},"description":" Response of CreateSubscriber "},"CreateSubscriberRequest":{"type":"object","required":["AccountId","BudgetName","Notification","Subscriber"],"title":"CreateSubscriberRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget that you want to create a subscriber for."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget that you want to subscribe to. Budget names must be unique within an account."}]},"Notification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The notification that you want to create a subscriber for."}]},"Subscriber":{"allOf":[{"$ref":"#/components/schemas/Subscriber"},{"description":"The subscriber that you want to associate with a budget notification."}]}},"description":" Request of CreateSubscriber "},"DeleteBudgetResponse":{"type":"object","properties":{},"description":" Response of DeleteBudget "},"DeleteBudgetRequest":{"type":"object","required":["AccountId","BudgetName"],"title":"DeleteBudgetRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget that you want to delete."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget that you want to delete."}]}},"description":" Request of DeleteBudget "},"DeleteBudgetActionResponse":{"type":"object","required":["AccountId","BudgetName","Action"],"properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"Action":{"$ref":"#/components/schemas/Action"}}},"DeleteBudgetActionRequest":{"type":"object","required":["AccountId","BudgetName","ActionId"],"title":"DeleteBudgetActionRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]}}},"ResourceLockedException":{},"DeleteNotificationResponse":{"type":"object","properties":{},"description":" Response of DeleteNotification "},"DeleteNotificationRequest":{"type":"object","required":["AccountId","BudgetName","Notification"],"title":"DeleteNotificationRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget whose notification you want to delete."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget whose notification you want to delete."}]},"Notification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The notification that you want to delete."}]}},"description":" Request of DeleteNotification "},"DeleteSubscriberResponse":{"type":"object","properties":{},"description":" Response of DeleteSubscriber "},"DeleteSubscriberRequest":{"type":"object","required":["AccountId","BudgetName","Notification","Subscriber"],"title":"DeleteSubscriberRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget whose subscriber you want to delete."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget whose subscriber you want to delete."}]},"Notification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The notification whose subscriber you want to delete."}]},"Subscriber":{"allOf":[{"$ref":"#/components/schemas/Subscriber"},{"description":"The subscriber that you want to delete."}]}},"description":" Request of DeleteSubscriber "},"DescribeBudgetResponse":{"type":"object","properties":{"Budget":{"allOf":[{"$ref":"#/components/schemas/Budget"},{"description":"The description of the budget."}]}},"description":" Response of DescribeBudget "},"DescribeBudgetRequest":{"type":"object","required":["AccountId","BudgetName"],"title":"DescribeBudgetRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget that you want a description of."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget that you want a description of."}]}},"description":" Request of DescribeBudget "},"DescribeBudgetActionResponse":{"type":"object","required":["AccountId","BudgetName","Action"],"properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"Action":{"allOf":[{"$ref":"#/components/schemas/Action"},{"description":" A budget action resource. "}]}}},"DescribeBudgetActionRequest":{"type":"object","required":["AccountId","BudgetName","ActionId"],"title":"DescribeBudgetActionRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]}}},"DescribeBudgetActionHistoriesResponse":{"type":"object","required":["ActionHistories"],"properties":{"ActionHistories":{"allOf":[{"$ref":"#/components/schemas/ActionHistories"},{"description":" The historical record of the budget action resource. "}]},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetActionHistoriesRequest":{"type":"object","required":["AccountId","BudgetName","ActionId"],"title":"DescribeBudgetActionHistoriesRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]},"TimePeriod":{"$ref":"#/components/schemas/TimePeriod"},"MaxResults":{"$ref":"#/components/schemas/MaxResults"},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"InvalidNextTokenException":{},"DescribeBudgetActionsForAccountResponse":{"type":"object","required":["Actions"],"properties":{"Actions":{"allOf":[{"$ref":"#/components/schemas/Actions"},{"description":" A list of the budget action resources information. "}]},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetActionsForAccountRequest":{"type":"object","required":["AccountId"],"title":"DescribeBudgetActionsForAccountRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"MaxResults":{"$ref":"#/components/schemas/MaxResults"},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetActionsForBudgetResponse":{"type":"object","required":["Actions"],"properties":{"Actions":{"allOf":[{"$ref":"#/components/schemas/Actions"},{"description":" A list of the budget action resources information. "}]},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetActionsForBudgetRequest":{"type":"object","required":["AccountId","BudgetName"],"title":"DescribeBudgetActionsForBudgetRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"MaxResults":{"$ref":"#/components/schemas/MaxResults"},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetNotificationsForAccountResponse":{"type":"object","properties":{"BudgetNotificationsForAccount":{"allOf":[{"$ref":"#/components/schemas/BudgetNotificationsForAccountList"},{"description":" A list of budget names and associated notifications for an account. "}]},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetNotificationsForAccountRequest":{"type":"object","required":["AccountId"],"title":"DescribeBudgetNotificationsForAccountRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"MaxResults":{"allOf":[{"$ref":"#/components/schemas/MaxResultsBudgetNotifications"},{"description":" An integer that shows how many budget name entries a paginated response contains. "}]},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"ExpiredNextTokenException":{},"DescribeBudgetPerformanceHistoryResponse":{"type":"object","properties":{"BudgetPerformanceHistory":{"allOf":[{"$ref":"#/components/schemas/BudgetPerformanceHistory"},{"description":"\u003cp\u003eThe history of how often the budget has gone into an \u003ccode\u003eALARM\u003c/code\u003e state.\u003c/p\u003e \u003cp\u003eFor \u003ccode\u003eDAILY\u003c/code\u003e budgets, the history saves the state of the budget for the last 60 days. For \u003ccode\u003eMONTHLY\u003c/code\u003e budgets, the history saves the state of the budget for the current month plus the last 12 months. For \u003ccode\u003eQUARTERLY\u003c/code\u003e budgets, the history saves the state of the budget for the last four quarters.\u003c/p\u003e"}]},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetPerformanceHistoryRequest":{"type":"object","required":["AccountId","BudgetName"],"title":"DescribeBudgetPerformanceHistoryRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"TimePeriod":{"allOf":[{"$ref":"#/components/schemas/TimePeriod"},{"description":"Retrieves how often the budget went into an \u003ccode\u003eALARM\u003c/code\u003e state for the specified time period."}]},"MaxResults":{"$ref":"#/components/schemas/MaxResults"},"NextToken":{"$ref":"#/components/schemas/GenericString"}}},"DescribeBudgetsResponse":{"type":"object","properties":{"Budgets":{"allOf":[{"$ref":"#/components/schemas/Budgets"},{"description":"A list of budgets."}]},"NextToken":{"allOf":[{"$ref":"#/components/schemas/GenericString"},{"description":"The pagination token in the service response that indicates the next set of results that you can retrieve."}]}},"description":" Response of DescribeBudgets "},"DescribeBudgetsRequest":{"type":"object","required":["AccountId"],"title":"DescribeBudgetsRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budgets that you want descriptions of."}]},"MaxResults":{"allOf":[{"$ref":"#/components/schemas/MaxResults"},{"description":"An optional integer that represents how many entries a paginated response contains. The maximum is 100."}]},"NextToken":{"allOf":[{"$ref":"#/components/schemas/GenericString"},{"description":"The pagination token that you include in your request to indicate the next set of results that you want to retrieve."}]}},"description":" Request of DescribeBudgets "},"DescribeNotificationsForBudgetResponse":{"type":"object","properties":{"Notifications":{"allOf":[{"$ref":"#/components/schemas/Notifications"},{"description":"A list of notifications that are associated with a budget."}]},"NextToken":{"allOf":[{"$ref":"#/components/schemas/GenericString"},{"description":"The pagination token in the service response that indicates the next set of results that you can retrieve."}]}},"description":" Response of GetNotificationsForBudget "},"DescribeNotificationsForBudgetRequest":{"type":"object","required":["AccountId","BudgetName"],"title":"DescribeNotificationsForBudgetRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget whose notifications you want descriptions of."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget whose notifications you want descriptions of."}]},"MaxResults":{"allOf":[{"$ref":"#/components/schemas/MaxResults"},{"description":"An optional integer that represents how many entries a paginated response contains. The maximum is 100."}]},"NextToken":{"allOf":[{"$ref":"#/components/schemas/GenericString"},{"description":"The pagination token that you include in your request to indicate the next set of results that you want to retrieve."}]}},"description":" Request of DescribeNotificationsForBudget "},"DescribeSubscribersForNotificationResponse":{"type":"object","properties":{"Subscribers":{"allOf":[{"$ref":"#/components/schemas/Subscribers"},{"description":"A list of subscribers that are associated with a notification."}]},"NextToken":{"allOf":[{"$ref":"#/components/schemas/GenericString"},{"description":"The pagination token in the service response that indicates the next set of results that you can retrieve."}]}},"description":" Response of DescribeSubscribersForNotification "},"DescribeSubscribersForNotificationRequest":{"type":"object","required":["AccountId","BudgetName","Notification"],"title":"DescribeSubscribersForNotificationRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget whose subscribers you want descriptions of."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget whose subscribers you want descriptions of."}]},"Notification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The notification whose subscribers you want to list."}]},"MaxResults":{"allOf":[{"$ref":"#/components/schemas/MaxResults"},{"description":"An optional integer that represents how many entries a paginated response contains. The maximum is 100."}]},"NextToken":{"allOf":[{"$ref":"#/components/schemas/GenericString"},{"description":"The pagination token that you include in your request to indicate the next set of results that you want to retrieve."}]}},"description":" Request of DescribeSubscribersForNotification "},"ExecuteBudgetActionResponse":{"type":"object","required":["AccountId","BudgetName","ActionId","ExecutionType"],"properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]},"ExecutionType":{"allOf":[{"$ref":"#/components/schemas/ExecutionType"},{"description":" The type of execution. "}]}}},"ExecuteBudgetActionRequest":{"type":"object","required":["AccountId","BudgetName","ActionId","ExecutionType"],"title":"ExecuteBudgetActionRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]},"ExecutionType":{"allOf":[{"$ref":"#/components/schemas/ExecutionType"},{"description":" The type of execution. "}]}}},"UpdateBudgetResponse":{"type":"object","properties":{},"description":" Response of UpdateBudget "},"UpdateBudgetRequest":{"type":"object","required":["AccountId","NewBudget"],"title":"UpdateBudgetRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget that you want to update."}]},"NewBudget":{"allOf":[{"$ref":"#/components/schemas/Budget"},{"description":"The budget that you want to update your budget to."}]}},"description":" Request of UpdateBudget "},"UpdateBudgetActionResponse":{"type":"object","required":["AccountId","BudgetName","OldAction","NewAction"],"properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"OldAction":{"allOf":[{"$ref":"#/components/schemas/Action"},{"description":" The previous action resource information. "}]},"NewAction":{"allOf":[{"$ref":"#/components/schemas/Action"},{"description":" The updated action resource information. "}]}}},"UpdateBudgetActionRequest":{"type":"object","required":["AccountId","BudgetName","ActionId"],"title":"UpdateBudgetActionRequest","properties":{"AccountId":{"$ref":"#/components/schemas/AccountId"},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":" A system-generated universally unique identifier (UUID) for the action. "}]},"NotificationType":{"$ref":"#/components/schemas/NotificationType"},"ActionThreshold":{"$ref":"#/components/schemas/ActionThreshold"},"Definition":{"$ref":"#/components/schemas/Definition"},"ExecutionRoleArn":{"allOf":[{"$ref":"#/components/schemas/RoleArn"},{"description":" The role passed for action execution and reversion. Roles and actions must be in the same account. "}]},"ApprovalModel":{"allOf":[{"$ref":"#/components/schemas/ApprovalModel"},{"description":" This specifies if the action needs manual or automatic approval. "}]},"Subscribers":{"$ref":"#/components/schemas/Subscribers"}}},"UpdateNotificationResponse":{"type":"object","properties":{},"description":" Response of UpdateNotification "},"UpdateNotificationRequest":{"type":"object","required":["AccountId","BudgetName","OldNotification","NewNotification"],"title":"UpdateNotificationRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget whose notification you want to update."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget whose notification you want to update."}]},"OldNotification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The previous notification that is associated with a budget."}]},"NewNotification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The updated notification to be associated with a budget."}]}},"description":" Request of UpdateNotification "},"UpdateSubscriberResponse":{"type":"object","properties":{},"description":" Response of UpdateSubscriber "},"UpdateSubscriberRequest":{"type":"object","required":["AccountId","BudgetName","Notification","OldSubscriber","NewSubscriber"],"title":"UpdateSubscriberRequest","properties":{"AccountId":{"allOf":[{"$ref":"#/components/schemas/AccountId"},{"description":"The \u003ccode\u003eaccountId\u003c/code\u003e that is associated with the budget whose subscriber you want to update."}]},"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of the budget whose subscriber you want to update."}]},"Notification":{"allOf":[{"$ref":"#/components/schemas/Notification"},{"description":"The notification whose subscriber you want to update."}]},"OldSubscriber":{"allOf":[{"$ref":"#/components/schemas/Subscriber"},{"description":"The previous subscriber that is associated with a budget notification."}]},"NewSubscriber":{"allOf":[{"$ref":"#/components/schemas/Subscriber"},{"description":"The updated subscriber that is associated with a budget notification."}]}},"description":" Request of UpdateSubscriber "},"AccountId":{"type":"string","pattern":"\\d{12}","description":"The account ID of the user. It's a 12-digit number.","minLength":12,"maxLength":12},"ActionId":{"type":"string","pattern":"^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$","minLength":36,"maxLength":36},"BudgetName":{"type":"string","pattern":"[^:\\\\]+","description":" A string that represents the budget name. The \":\" and \"\\\" characters aren't allowed.","minLength":1,"maxLength":100},"NotificationType":{"type":"string","enum":["ACTUAL","FORECASTED"],"description":" The type of a notification. It must be ACTUAL or FORECASTED."},"ActionType":{"type":"string","enum":["APPLY_IAM_POLICY","APPLY_SCP_POLICY","RUN_SSM_DOCUMENTS"]},"ActionThreshold":{"type":"object","required":["ActionThresholdValue","ActionThresholdType"],"properties":{"ActionThresholdValue":{"$ref":"#/components/schemas/NotificationThreshold"},"ActionThresholdType":{"$ref":"#/components/schemas/ThresholdType"}},"description":"The trigger threshold of the action. "},"Definition":{"type":"object","properties":{"IamActionDefinition":{"allOf":[{"$ref":"#/components/schemas/IamActionDefinition"},{"description":"The Identity and Access Management (IAM) action definition details. "}]},"ScpActionDefinition":{"allOf":[{"$ref":"#/components/schemas/ScpActionDefinition"},{"description":"The service control policies (SCPs) action definition details. "}]},"SsmActionDefinition":{"allOf":[{"$ref":"#/components/schemas/SsmActionDefinition"},{"description":"The Amazon Web Services Systems Manager (SSM) action definition details. "}]}},"description":"Specifies all of the type-specific parameters. "},"RoleArn":{"type":"string","pattern":"^arn:(aws|aws-cn|aws-us-gov|us-iso-east-1|us-isob-east-1):iam::\\d{12}:role(\\u002F[\\u0021-\\u007F]+\\u002F|\\u002F)[\\w+=,.@-]+$","minLength":32,"maxLength":618},"ApprovalModel":{"type":"string","enum":["AUTOMATIC","MANUAL"]},"ActionStatus":{"type":"string","enum":["STANDBY","PENDING","EXECUTION_IN_PROGRESS","EXECUTION_SUCCESS","EXECUTION_FAILURE","REVERSE_IN_PROGRESS","REVERSE_SUCCESS","REVERSE_FAILURE","RESET_IN_PROGRESS","RESET_FAILURE"]},"Subscribers":{"type":"array","description":" A list of subscribers.","items":{"$ref":"#/components/schemas/Subscriber"},"minItems":1,"maxItems":11},"Action":{"type":"object","required":["ActionId","BudgetName","NotificationType","ActionType","ActionThreshold","Definition","ExecutionRoleArn","ApprovalModel","Status","Subscribers"],"properties":{"ActionId":{"allOf":[{"$ref":"#/components/schemas/ActionId"},{"description":"A system-generated universally unique identifier (UUID) for the action. "}]},"BudgetName":{"$ref":"#/components/schemas/BudgetName"},"NotificationType":{"$ref":"#/components/schemas/NotificationType"},"ActionType":{"allOf":[{"$ref":"#/components/schemas/ActionType"},{"description":"The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. "}]},"ActionThreshold":{"allOf":[{"$ref":"#/components/schemas/ActionThreshold"},{"description":"The trigger threshold of the action. "}]},"Definition":{"allOf":[{"$ref":"#/components/schemas/Definition"},{"description":"Where you specify all of the type-specific parameters. "}]},"ExecutionRoleArn":{"allOf":[{"$ref":"#/components/schemas/RoleArn"},{"description":"The role passed for action execution and reversion. Roles and actions must be in the same account. "}]},"ApprovalModel":{"allOf":[{"$ref":"#/components/schemas/ApprovalModel"},{"description":"This specifies if the action needs manual or automatic approval. "}]},"Status":{"allOf":[{"$ref":"#/components/schemas/ActionStatus"},{"description":"The status of the action. "}]},"Subscribers":{"$ref":"#/components/schemas/Subscribers"}},"description":"A budget action resource. "},"ActionHistory":{"type":"object","required":["Timestamp","Status","EventType","ActionHistoryDetails"],"properties":{"Timestamp":{"$ref":"#/components/schemas/GenericTimestamp"},"Status":{"allOf":[{"$ref":"#/components/schemas/ActionStatus"},{"description":"The status of action at the time of the event. "}]},"EventType":{"allOf":[{"$ref":"#/components/schemas/EventType"},{"description":"This distinguishes between whether the events are triggered by the user or are generated by the system. "}]},"ActionHistoryDetails":{"allOf":[{"$ref":"#/components/schemas/ActionHistoryDetails"},{"description":"The description of the details for the event. "}]}},"description":"The historical records for a budget action. "},"ActionHistories":{"type":"array","items":{"$ref":"#/components/schemas/ActionHistory"},"minItems":0,"maxItems":100},"GenericTimestamp":{"type":"string","description":" A generic time stamp. In Java, it's transformed to a \u003ccode\u003eDate\u003c/code\u003e object.","format":"date-time"},"EventType":{"type":"string","enum":["SYSTEM","CREATE_ACTION","DELETE_ACTION","UPDATE_ACTION","EXECUTE_ACTION"]},"ActionHistoryDetails":{"type":"object","required":["Message","Action"],"properties":{"Message":{"$ref":"#/components/schemas/GenericString"},"Action":{"allOf":[{"$ref":"#/components/schemas/Action"},{"description":"The budget action resource. "}]}},"description":"The description of the details for the event. "},"GenericString":{"type":"string","pattern":".*","description":" A generic string.","minLength":0,"maxLength":2147483647},"ActionSubType":{"type":"string","enum":["STOP_EC2_INSTANCES","STOP_RDS_INSTANCES"]},"NotificationThreshold":{"type":"number","description":" The threshold of a notification.","format":"double","minimum":0,"maximum":15000000000000},"ThresholdType":{"type":"string","enum":["PERCENTAGE","ABSOLUTE_VALUE"],"description":" The type of threshold for a notification."},"Actions":{"type":"array","items":{"$ref":"#/components/schemas/Action"},"minItems":0,"maxItems":100},"AdjustmentPeriod":{"type":"integer","minimum":1,"maximum":60},"AutoAdjustType":{"type":"string","enum":["HISTORICAL","FORECAST"]},"HistoricalOptions":{"type":"object","required":["BudgetAdjustmentPeriod"],"properties":{"BudgetAdjustmentPeriod":{"allOf":[{"$ref":"#/components/schemas/AdjustmentPeriod"},{"description":"\u003cp\u003eThe number of budget periods included in the moving-average calculation that determines your auto-adjusted budget amount. The maximum value depends on the \u003ccode\u003eTimeUnit\u003c/code\u003e granularity of the budget:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003eFor the \u003ccode\u003eDAILY\u003c/code\u003e granularity, the maximum value is \u003ccode\u003e60\u003c/code\u003e.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eFor the \u003ccode\u003eMONTHLY\u003c/code\u003e granularity, the maximum value is \u003ccode\u003e12\u003c/code\u003e.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eFor the \u003ccode\u003eQUARTERLY\u003c/code\u003e granularity, the maximum value is \u003ccode\u003e4\u003c/code\u003e.\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eFor the \u003ccode\u003eANNUALLY\u003c/code\u003e granularity, the maximum value is \u003ccode\u003e1\u003c/code\u003e.\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e"}]},"LookBackAvailablePeriods":{"allOf":[{"$ref":"#/components/schemas/AdjustmentPeriod"},{"description":"\u003cp\u003eThe integer that describes how many budget periods in your \u003ccode\u003eBudgetAdjustmentPeriod\u003c/code\u003e are included in the calculation of your current \u003ccode\u003eBudgetLimit\u003c/code\u003e. If the first budget period in your \u003ccode\u003eBudgetAdjustmentPeriod\u003c/code\u003e has no cost data, then that budget period isn’t included in the average that determines your budget limit. \u003c/p\u003e \u003cp\u003eFor example, if you set \u003ccode\u003eBudgetAdjustmentPeriod\u003c/code\u003e as \u003ccode\u003e4\u003c/code\u003e quarters, but your account had no cost data in the first quarter, then only the last three quarters are included in the calculation. In this scenario, \u003ccode\u003eLookBackAvailablePeriods\u003c/code\u003e returns \u003ccode\u003e3\u003c/code\u003e. \u003c/p\u003e \u003cp\u003eYou can’t set your own \u003ccode\u003eLookBackAvailablePeriods\u003c/code\u003e. The value is automatically calculated from the \u003ccode\u003eBudgetAdjustmentPeriod\u003c/code\u003e and your historical cost data.\u003c/p\u003e"}]}},"description":"The parameters that define or describe the historical data that your auto-adjusting budget is based on."},"AutoAdjustData":{"type":"object","required":["AutoAdjustType"],"properties":{"AutoAdjustType":{"allOf":[{"$ref":"#/components/schemas/AutoAdjustType"},{"description":"The string that defines whether your budget auto-adjusts based on historical or forecasted data."}]},"HistoricalOptions":{"allOf":[{"$ref":"#/components/schemas/HistoricalOptions"},{"description":"The parameters that define or describe the historical data that your auto-adjusting budget is based on."}]},"LastAutoAdjustTime":{"allOf":[{"$ref":"#/components/schemas/GenericTimestamp"},{"description":"The last time that your budget was auto-adjusted."}]}},"description":"The parameters that determine the budget amount for an auto-adjusting budget."},"Spend":{"type":"object","required":["Amount","Unit"],"properties":{"Amount":{"allOf":[{"$ref":"#/components/schemas/NumericValue"},{"description":"The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."}]},"Unit":{"allOf":[{"$ref":"#/components/schemas/UnitValue"},{"description":"The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."}]}},"description":"\u003cp\u003eThe amount of cost or usage that's measured for a budget.\u003c/p\u003e \u003cp\u003eFor example, a \u003ccode\u003eSpend\u003c/code\u003e for \u003ccode\u003e3 GB\u003c/code\u003e of S3 usage has the following parameters:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003eAn \u003ccode\u003eAmount\u003c/code\u003e of \u003ccode\u003e3\u003c/code\u003e \u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eA \u003ccode\u003eunit\u003c/code\u003e of \u003ccode\u003eGB\u003c/code\u003e \u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e"},"PlannedBudgetLimits":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Spend"}},"CostFilters":{"type":"object","description":" A map that represents the cost filters that are applied to the budget.","additionalProperties":{"$ref":"#/components/schemas/DimensionValues"}},"CostTypes":{"type":"object","properties":{"IncludeTax":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes taxes.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeSubscription":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes subscriptions.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"UseBlended":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget uses a blended rate.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003efalse\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeRefund":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes refunds.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeCredit":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes credits.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeUpfront":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes upfront RI costs.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeRecurring":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes recurring fees such as monthly RI fees.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeOtherSubscription":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes non-RI subscription costs.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeSupport":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes support subscription fees.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"IncludeDiscount":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget includes discounts.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003etrue\u003c/code\u003e.\u003c/p\u003e"}]},"UseAmortized":{"allOf":[{"$ref":"#/components/schemas/NullableBoolean"},{"description":"\u003cp\u003eSpecifies whether a budget uses the amortized rate.\u003c/p\u003e \u003cp\u003eThe default value is \u003ccode\u003efalse\u003c/code\u003e.\u003c/p\u003e"}]}},"description":"\u003cp\u003eThe types of cost that are included in a \u003ccode\u003eCOST\u003c/code\u003e budget, such as tax and subscriptions.\u003c/p\u003e \u003cp\u003e \u003ccode\u003eUSAGE\u003c/code\u003e, \u003ccode\u003eRI_UTILIZATION\u003c/code\u003e, \u003ccode\u003eRI_COVERAGE\u003c/code\u003e, \u003ccode\u003eSAVINGS_PLANS_UTILIZATION\u003c/code\u003e, and \u003ccode\u003eSAVINGS_PLANS_COVERAGE\u003c/code\u003e budgets don't have \u003ccode\u003eCostTypes\u003c/code\u003e.\u003c/p\u003e"},"TimeUnit":{"type":"string","enum":["DAILY","MONTHLY","QUARTERLY","ANNUALLY"],"description":" The time unit of the budget, such as MONTHLY or QUARTERLY."},"TimePeriod":{"type":"object","properties":{"Start":{"allOf":[{"$ref":"#/components/schemas/GenericTimestamp"},{"description":"\u003cp\u003eThe start date for a budget. If you created your budget and didn't specify a start date, Amazon Web Services defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose \u003ccode\u003eDAILY\u003c/code\u003e, and didn't set a start date, Amazon Web Services set your start date to \u003ccode\u003e01/24/18 00:00 UTC\u003c/code\u003e. If you chose \u003ccode\u003eMONTHLY\u003c/code\u003e, Amazon Web Services set your start date to \u003ccode\u003e01/01/18 00:00 UTC\u003c/code\u003e. The defaults are the same for the Billing and Cost Management console and the API.\u003c/p\u003e \u003cp\u003eYou can change your start date with the \u003ccode\u003eUpdateBudget\u003c/code\u003e operation.\u003c/p\u003e"}]},"End":{"allOf":[{"$ref":"#/components/schemas/GenericTimestamp"},{"description":"\u003cp\u003eThe end date for a budget. If you didn't specify an end date, Amazon Web Services set your end date to \u003ccode\u003e06/15/87 00:00 UTC\u003c/code\u003e. The defaults are the same for the Billing and Cost Management console and the API.\u003c/p\u003e \u003cp\u003eAfter the end date, Amazon Web Services deletes the budget and all the associated notifications and subscribers. You can change your end date with the \u003ccode\u003eUpdateBudget\u003c/code\u003e operation.\u003c/p\u003e"}]}},"description":"The period of time that's covered by a budget. The period has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. "},"CalculatedSpend":{"type":"object","required":["ActualSpend"],"properties":{"ActualSpend":{"allOf":[{"$ref":"#/components/schemas/Spend"},{"description":"The amount of cost, usage, RI units, or Savings Plans units that you used."}]},"ForecastedSpend":{"allOf":[{"$ref":"#/components/schemas/Spend"},{"description":"The amount of cost, usage, RI units, or Savings Plans units that you're forecasted to use."}]}},"description":"\u003cp\u003eThe spend objects that are associated with this budget. The \u003ccode\u003eactualSpend\u003c/code\u003e tracks how much you've used, cost, usage, RI units, or Savings Plans units and the \u003ccode\u003eforecastedSpend\u003c/code\u003e tracks how much that you're predicted to spend based on your historical usage profile.\u003c/p\u003e \u003cp\u003eFor example, if it's the 20th of the month and you have spent \u003ccode\u003e50\u003c/code\u003e dollars on Amazon EC2, your \u003ccode\u003eactualSpend\u003c/code\u003e is \u003ccode\u003e50 USD\u003c/code\u003e, and your \u003ccode\u003eforecastedSpend\u003c/code\u003e is \u003ccode\u003e75 USD\u003c/code\u003e.\u003c/p\u003e"},"BudgetType":{"type":"string","enum":["USAGE","COST","RI_UTILIZATION","RI_COVERAGE","SAVINGS_PLANS_UTILIZATION","SAVINGS_PLANS_COVERAGE"],"description":"\u003cp\u003e The type of a budget. It must be one of the following types: \u003c/p\u003e \u003cp\u003e \u003ccode\u003eCOST\u003c/code\u003e, \u003ccode\u003eUSAGE\u003c/code\u003e, \u003ccode\u003eRI_UTILIZATION\u003c/code\u003e, \u003ccode\u003eRI_COVERAGE\u003c/code\u003e, \u003ccode\u003eSAVINGS_PLANS_UTILIZATION\u003c/code\u003e, or \u003ccode\u003eSAVINGS_PLANS_COVERAGE\u003c/code\u003e.\u003c/p\u003e"},"Budget":{"type":"object","required":["BudgetName","TimeUnit","BudgetType"],"properties":{"BudgetName":{"allOf":[{"$ref":"#/components/schemas/BudgetName"},{"description":"The name of a budget. The name must be unique within an account. The \u003ccode\u003e:\u003c/code\u003e and \u003ccode\u003e\\\u003c/code\u003e characters aren't allowed in \u003ccode\u003eBudgetName\u003c/code\u003e."}]},"BudgetLimit":{"allOf":[{"$ref":"#/components/schemas/Spend"},{"description":"\u003cp\u003eThe total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage that you want to track with your budget.\u003c/p\u003e \u003cp\u003e \u003ccode\u003eBudgetLimit\u003c/code\u003e is required for cost or usage budgets, but optional for RI or Savings Plans utilization or coverage budgets. RI and Savings Plans utilization or coverage budgets default to \u003ccode\u003e100\u003c/code\u003e. This is the only valid value for RI or Savings Plans utilization or coverage budgets. You can't use \u003ccode\u003eBudgetLimit\u003c/code\u003e with \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e for \u003ccode\u003eCreateBudget\u003c/code\u003e and \u003ccode\u003eUpdateBudget\u003c/code\u003e actions. \u003c/p\u003e"}]},"PlannedBudgetLimits":{"allOf":[{"$ref":"#/components/schemas/PlannedBudgetLimits"},{"description":"\u003cp\u003eA map containing multiple \u003ccode\u003eBudgetLimit\u003c/code\u003e, including current or future limits.\u003c/p\u003e \u003cp\u003e \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e is available for cost or usage budget and supports both monthly and quarterly \u003ccode\u003eTimeUnit\u003c/code\u003e. \u003c/p\u003e \u003cp\u003eFor monthly budgets, provide 12 months of \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e values. This must start from the current month and include the next 11 months. The \u003ccode\u003ekey\u003c/code\u003e is the start of the month, \u003ccode\u003eUTC\u003c/code\u003e in epoch seconds. \u003c/p\u003e \u003cp\u003eFor quarterly budgets, provide four quarters of \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e value entries in standard calendar quarter increments. This must start from the current quarter and include the next three quarters. The \u003ccode\u003ekey\u003c/code\u003e is the start of the quarter, \u003ccode\u003eUTC\u003c/code\u003e in epoch seconds. \u003c/p\u003e \u003cp\u003eIf the planned budget expires before 12 months for monthly or four quarters for quarterly, provide the \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e values only for the remaining periods.\u003c/p\u003e \u003cp\u003eIf the budget begins at a date in the future, provide \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e values from the start date of the budget. \u003c/p\u003e \u003cp\u003eAfter all of the \u003ccode\u003eBudgetLimit\u003c/code\u003e values in \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e are used, the budget continues to use the last limit as the \u003ccode\u003eBudgetLimit\u003c/code\u003e. At that point, the planned budget provides the same experience as a fixed budget. \u003c/p\u003e \u003cp\u003e \u003ccode\u003eDescribeBudget\u003c/code\u003e and \u003ccode\u003eDescribeBudgets\u003c/code\u003e response along with \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e also contain \u003ccode\u003eBudgetLimit\u003c/code\u003e representing the current month or quarter limit present in \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e. This only applies to budgets that are created with \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e. Budgets that are created without \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e only contain \u003ccode\u003eBudgetLimit\u003c/code\u003e. They don't contain \u003ccode\u003ePlannedBudgetLimits\u003c/code\u003e.\u003c/p\u003e"}]},"CostFilters":{"allOf":[{"$ref":"#/components/schemas/CostFilters"},{"description":"\u003cp\u003eThe cost filters, such as \u003ccode\u003eRegion\u003c/code\u003e, \u003ccode\u003eService\u003c/code\u003e, \u003ccode\u003emember account\u003c/code\u003e, \u003ccode\u003eTag\u003c/code\u003e, or \u003ccode\u003eCost Category\u003c/code\u003e, that are applied to a budget.\u003c/p\u003e \u003cp\u003eAmazon Web Services Budgets supports the following services as a \u003ccode\u003eService\u003c/code\u003e filter for RI budgets:\u003c/p\u003e \u003cul\u003e \u003cli\u003e \u003cp\u003eAmazon EC2\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eAmazon Redshift\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eAmazon Relational Database Service\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eAmazon ElastiCache\u003c/p\u003e \u003c/li\u003e \u003cli\u003e \u003cp\u003eAmazon OpenSearch Service\u003c/p\u003e \u003c/li\u003e \u003c/ul\u003e"}]},"CostTypes":{"allOf":[{"$ref":"#/components/schemas/CostTypes"},{"description":"\u003cp\u003eThe types of costs that are included in this \u003ccode\u003eCOST\u003c/code\u003e budget.\u003c/p\u003e \u003cp\u003e \u003ccode\u003eUSAGE\u003c/code\u003e, \u003ccode\u003eRI_UTILIZATION\u003c/code\u003e, \u003ccode\u003eRI_COVERAGE\u003c/code\u003e, \u003ccode\u003eSAVINGS_PLANS_UTILIZATION\u003c/code\u003e, and \u003ccode\u003eSAVINGS_PLANS_COVERAGE\u003c/code\u003e budgets do not have \u003ccode\u003eCostTypes\u003c/code\u003e.\u003c/p\u003e"}]},"TimeUnit":{"allOf":[{"$ref":"#/components/schemas/TimeUnit"},{"description":"The length of time until a budget resets the actual and forecasted spend."}]},"TimePeriod":{"allOf":[{"$ref":"#/components/schemas/TimePeriod"},{"description":"\u003cp\u003eThe period of time that's covered by a budget. You setthe start date and end date. The start date must come before the end date. The end date must come before \u003ccode\u003e06/15/87 00:00 UTC\u003c/code\u003e. \u003c/p\u003e \u003cp\u003eIf you create your budget and don't specify a start date, Amazon Web Services defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose \u003ccode\u003eDAILY\u003c/code\u003e, and didn't set a start date, Amazon Web Services set your start date to \u003ccode\u003e01/24/18 00:00 UTC\u003c/code\u003e. If you chose \u003ccode\u003eMONTHLY\u003c/code\u003e, Amazon Web Services set your start date to \u003ccode\u003e01/01/18 00:00 UTC\u003c/code\u003e. If you didn't specify an end date, Amazon Web Services set your end date to \u003ccode\u003e06/15/87 00:00 UTC\u003c/code\u003e. The defaults are the same for the Billing and Cost Management console and the API. \u003c/p\u003e \u003cp\u003eYou can change either date with the \u003ccode\u003eUpdateBudget\u003c/code\u003e operation.\u003c/p\u003e \u003cp\u003eAfter the end date, Amazon Web Services deletes the budget and all the associated notifications and subscribers.\u003c/p\u003e"}]},"CalculatedSpend":{"allOf":[{"$ref":"#/components/schemas/CalculatedSpend"},{"description":"The actual and forecasted cost or usage that the budget tracks."}]},"BudgetType":{"allOf":[{"$ref":"#/components/schemas/BudgetType"},{"description":"Specifies whether this budget tracks costs, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage."}]},"LastUpdatedTime":{"allOf":[{"$ref":"#/components/schemas/GenericTimestamp"},{"description":"The last time that you updated this budget."}]},
[...]
