{"openapi":"3.1.0","info":{"title":"Amazon Users Management Api","description":"Manage users and organizations.\n\nAmazon Users Management API is in preview release. Your use of the Amazon Users Management API is subject to Section 2 of the [Amazon Web Services Service Terms](\"http://aws.amazon.com/service-terms/\")(\"Betas and Previews\"). You can use Security Lake to automatically centralize security data from cloud, on-premises, and custom sources into a data lake that''s stored in your Amazon Web Servicesaccount. Amazon Web Services Organizations is an account management service that lets you consolidate multiple Amazon Web Services accounts into an organization that you create and centrally manage. With Organizations, you can create member accounts and invite existing accounts to join your organization. Security Lake helps you analyze security data for a more complete understanding of your security posture across the entire organization. It can also help you improve the protection of your workloads, applications, and data.\u003c/p\u003e\n","version":"1.0"},"servers":[{"url":"http://users.us-east-1.amazonaws.com"}],"x-topics":[{"title":"Getting started","content":"To create your organization, reach out to our sales team. We currently do some lead qualification before granting access to our sandbox and require at least an initial meeting, but if you are clear and deliberate about your vision and objectives, we should be able to grant sandbox access quickly. Once you have sandbox access, you will receive access to a private sandbox with fully isolated single-tenant infrastructure. At this point, our team will provide you with a shared Postman collection contextualized to your developer workflow to make it very quick and easy to get started. You can also find a full guide to authenticating in our developer onboarding tutorial.\n\n\u003einfo\n\u003ePlease be aware this API is still in beta. Do not hesitate to contact our team on hello@example.com.\n\nYou will find here the different country codes you can use:\n\n| Country  | Value   |\n|---|---|\n|  France | FR  |\n|  United States |  USA |\n|  Peru | PE  |\n"}],"tags":[{"name":"Users"},{"name":"Organization"},{"name":"Ping"}],"paths":{"/users/{id}":{"get":{"tags":["Users"],"summary":"Fetch a user","description":"Fetch a user.\n","parameters":[{"name":"id","required":true,"in":"path","description":"Id of the user.","schema":{"format":"uuid","type":"string"}}],"responses":{"200":{"description":"User has been found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"post":{"tags":["Users"],"summary":"Update a user","description":"Update a user.\n","parameters":[{"name":"id","required":true,"in":"path","description":"Id of the user.","schema":{"format":"uuid","type":"string"}}],"requestBody":{"description":"The user object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"responses":{"200":{"description":"User has been successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"422":{"$ref":"#/components/responses/InvalidDefinition"}}}},"/users":{"post":{"tags":["Users"],"summary":"Create a new user","description":"Create a new user.\n","requestBody":{"description":"The user object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"responses":{"201":{"description":"User has been successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"422":{"$ref":"#/components/responses/InvalidDefinition"}}}},"/organizations":{"post":{"tags":["Organizations"],"summary":"Create an organization","description":"An organization is a group of admin, member, and invited users.\n","security":[{},{"Basic token":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"422":{"$ref":"#/components/responses/InvalidDefinition"}}}},"/ping":{"get":{"tags":["Ping"],"summary":"Check the API status","description":"Responds a pong if the API is up and running.","security":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pong"}}}},"default":{"description":"API is currently down"}}}}},"webhooks":{"UserCreated":{"post":{"operationId":"UserCreated","summary":"User created","description":"Payload sent when your documentation receives a deployment with a structure change.","security":[],"parameters":[{"name":"X_BUMP_SIGNATURE_256","in":"header","description":"The hash signature of the payload. Bump uses a HMAC hex digest (SHA256) to compute the signature of the body payload with the webhook secret. More info in help.","example":"a0b1c1d2e3f5a8b13c21d34e55f89a144b233c377d610e987f1597a2584b4181","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Information about the created user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"security":[{"Authorization token":[]},{"Basic token":[]}],"components":{"securitySchemes":{"Authorization token":{"type":"http","scheme":"token"},"Basic token":{"type":"http","scheme":"basic"}},"responses":{"InvalidDefinition":{"description":"Definition is not valid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"schemas":{"Organization":{"type":"object","properties":{"name":{"type":"string","description":"The name of the organization","example":"Amazon"},"description":{"type":"string","description":"The description of the Organization"},"url":{"type":"string","description":"The public URL of the organization","example":"https://demo.bump.sh/"},"created":{"type":"string","format":"date","description":"Creation date of this organization","example":"2022-01-07"},"modified":{"type":"string","format":"date","description":"Last udpate date of this organization","example":"2022-04-07"},"members":{"readOnly":true,"type":"array","description":"The list of members belonging to this organization. Can be `User` or `Invited`.","items":{"oneOf":[{"$ref":"#/components/schemas/User"},{"$ref":"#/components/schemas/Invited"}]}}}},"Invited":{"type":"object","required":["id","email"],"properties":{"id":{"type":"string","description":"UUID of this invited user","example":"3ef8f52f-9056-4113-840e-2f7183b90e06","readOnly":true},"email":{"type":"string","format":"email","description":"Email address"}}},"User":{"type":"object","required":["id","email"],"properties":{"id":{"type":"string","description":"UUID of this user","example":"3ef8f52f-9056-4113-840e-2f7183b90e06","readOnly":true},"first_name":{"type":"string","description":"First name"},"last_name":{"type":"string","description":"Last name"},"name":{"type":["string","null"],"deprecated":true,"description":"First and last name. Please prefer using `first_name` and `last_name` attributes."},"email":{"type":"string","format":"email","description":"Email address"},"slug":{"type":"string","description":"Namespace of this user","example":"bump"},"properties":{"type":"array","description":"Extra properties attached to this User","items":{"type":"object","properties":{"type":{"type":"string","description":"Type of the extra property","enum":["x-access-level","x-definition-type"]},"data":{"type":"string","description":"Content of the extra property"}}}},"created":{"type":"string","format":"date","description":"Creation date of this user","example":"2022-01-07"},"modified":{"type":"string","format":"date","description":"Last udpate date of this user","example":"2022-04-07"}}},"Error":{"properties":{"message":{"type":"string","description":"Human readable error message.","example":"Invalid definition file"},"errors":{"type":"object","description":"Hash of invalid attributes with their error messages.","example":{"raw_definition":["The property '#/paths//docs/{:id}/validations/post' contains additional properties [\"yolo\"] outside of the schema when none are allowed"]}}}},"Pong":{"properties":{"pong":{"type":"string","description":"Sentence about ping and pong","example":"And that's how ping-pong ball is bumped"}}}}}}