{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Clever-Cloud API",
    "description" : "Public API for managing Clever-Cloud data and products",
    "termsOfService" : "https://www.clever-cloud.com/terms-of-use/",
    "contact" : {
      "name" : "Support",
      "url" : "https://www.clever-cloud.com/doc/get-help/support",
      "email" : "support@clever-cloud.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.0.1"
  },
  "servers" : [ {
    "url" : "https://api.clever-cloud.com/v2",
    "description" : "The production API server"
  } ],
  "paths" : {
    "/authorize" : {
      "post" : {
        "tags" : [ "Auth" ],
        "operationId" : "postAuthorize",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAuthorization"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/session/signup" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getSignupForm",
        "parameters" : [ {
          "name" : "invitationKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "url_next",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscription_source",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/session/login" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getLoginForm",
        "parameters" : [ {
          "name" : "secondaryEmailKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deletionKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromAuthorize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cli_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "login",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  },
                  "pass" : {
                    "type" : "string"
                  },
                  "from_authorize" : {
                    "type" : "string"
                  },
                  "cli_token" : {
                    "type" : "string"
                  },
                  "clever_flavor" : {
                    "type" : "string"
                  },
                  "oauth_token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/session/from/{subscription_source}/signup" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getSignupFormForSource",
        "parameters" : [ {
          "name" : "invitationKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "url_next",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscription_source",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/session/mfa_login" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "mfaLogin",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "mfa_kind" : {
                    "type" : "string"
                  },
                  "mfa_attempt" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "auth_id" : {
                    "type" : "string"
                  },
                  "from_authorize" : {
                    "type" : "string"
                  },
                  "cli_token" : {
                    "type" : "string"
                  },
                  "clever_flavor" : {
                    "type" : "string"
                  },
                  "oauth_token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OAuthApplicationView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sessions/signup" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getSignupForm_1",
        "parameters" : [ {
          "name" : "invitationKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "url_next",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscription_source",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/login" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getLoginForm_1",
        "parameters" : [ {
          "name" : "secondaryEmailKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deletionKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromAuthorize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cli_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "login_1",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  },
                  "pass" : {
                    "type" : "string"
                  },
                  "from_authorize" : {
                    "type" : "string"
                  },
                  "cli_token" : {
                    "type" : "string"
                  },
                  "clever_flavor" : {
                    "type" : "string"
                  },
                  "oauth_token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/from/{subscription_source}/signup" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getSignupFormForSource_1",
        "parameters" : [ {
          "name" : "subscription_source",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "url_next",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/mfa_login" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "mfaLogin_1",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "mfa_kind" : {
                    "type" : "string"
                  },
                  "mfa_attempt" : {
                    "type" : "string"
                  },
                  "email" : {
                    "type" : "string"
                  },
                  "auth_id" : {
                    "type" : "string"
                  },
                  "from_authorize" : {
                    "type" : "string"
                  },
                  "cli_token" : {
                    "type" : "string"
                  },
                  "clever_flavor" : {
                    "type" : "string"
                  },
                  "oauth_token" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OAuthApplicationView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validation/vat/{key}" : {
      "get" : {
        "tags" : [ "Payment" ],
        "operationId" : "validate",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "action",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/github/signup" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "githubSignup",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromAuthorize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cli_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionSource",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "terms",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "finsihGithubSignup",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "transactionId" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "otherId" : {
                    "type" : "string"
                  },
                  "otherEmail" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  },
                  "autoLink" : {
                    "type" : "string"
                  },
                  "terms" : {
                    "type" : "string"
                  },
                  "invitationKey" : {
                    "type" : "string"
                  },
                  "mfa_kind" : {
                    "type" : "string"
                  },
                  "mfa_attempt" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/github/link" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubLink",
        "parameters" : [ {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "redirectUrl",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "User" ],
        "operationId" : "deleteGithubLink",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/github" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithub",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OAuthTransactionView"
                }
              }
            }
          }
        }
      }
    },
    "/github/login" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubLogin",
        "parameters" : [ {
          "name" : "redirectUrl",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromAuthorize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cli_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitationKey",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriptionSource",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/github/callback" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubCallback",
        "parameters" : [ {
          "name" : "CcOAuthData",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "code",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "error",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "error_description",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "error_uri",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/github/keys" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubKeys",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SshKeyView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/github/emails" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubEmails",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/github/applications" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubApplications",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OAuthApplicationView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/github/username" : {
      "get" : {
        "tags" : [ "User" ],
        "operationId" : "getGithubUsername",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/github/redeploy" : {
      "post" : {
        "tags" : [ "User" ],
        "operationId" : "postGithubRedeploy",
        "parameters" : [ {
          "name" : "User-Agent",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Github-Event",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Hub-Signature",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/GithubWebhookPayload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize" : {
      "get" : {
        "tags" : [ "Auth" ],
        "operationId" : "authorizeForm",
        "parameters" : [ {
          "name" : "ccid",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cctk",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ccid",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cli_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from_oauth",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Auth" ],
        "operationId" : "authorizeToken",
        "parameters" : [ {
          "name" : "ccid",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cctk",
          "in" : "cookie",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "almighty" : {
                    "type" : "string"
                  },
                  "access_organisations" : {
                    "type" : "string"
                  },
                  "manage_organisations" : {
                    "type" : "string"
                  },
                  "manage_organisations_services" : {
                    "type" : "string"
                  },
                  "manage_organisations_applications" : {
                    "type" : "string"
                  },
                  "manage_organisations_members" : {
                    "type" : "string"
                  },
                  "access_organisations_bills" : {
                    "type" : "string"
                  },
                  "access_organisations_credit_count" : {
                    "type" : "string"
                  },
                  "access_organisations_consumption_statistics" : {
                    "type" : "string"
                  },
                  "access_personal_information" : {
                    "type" : "string"
                  },
                  "manage_personal_information" : {
                    "type" : "string"
                  },
                  "manage_ssh_keys" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "text/html" : { },
              "application/json" : { }
            }
          }
        }
      }
    },
    "/oauth/rights" : {
      "get" : {
        "tags" : [ "Auth" ],
        "operationId" : "getAvailableRights",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/oauth/login_data" : {
      "get" : {
        "tags" : [ "Auth" ],
        "operationId" : "getLoginData",
        "parameters" : [ {
          "name" : "oauth_key",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/oauth/request_token_query" : {
      "post" : {
        "tags" : [ "Auth" ],
        "operationId" : "postReqTokenRequestQueryString",
        "parameters" : [ {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_consumer_key",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_signature_method",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_signature",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_timestamp",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_nonce",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_version",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_verifier",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_callback",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token_secret",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_callback_confirmed",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/x-www-form-urlencoded" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/request_token" : {
      "post" : {
        "tags" : [ "Auth" ],
        "operationId" : "postReqTokenRequest",
        "parameters" : [ {
          "name" : "clever_flavor",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "oauth_consumer_key" : {
                    "type" : "string"
                  },
                  "oauth_token" : {
                    "type" : "string"
                  },
                  "oauth_signature_method" : {
                    "type" : "string"
                  },
                  "oauth_signature" : {
                    "type" : "string"
                  },
                  "oauth_timestamp" : {
                    "type" : "string"
                  },
                  "oauth_nonce" : {
                    "type" : "string"
                  },
                  "oauth_version" : {
                    "type" : "string"
                  },
                  "oauth_verifier" : {
                    "type" : "string"
                  },
                  "oauth_callback" : {
                    "type" : "string"
                  },
                  "oauth_token_secret" : {
                    "type" : "string"
                  },
                  "oauth_callback_confirmed" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/x-www-form-urlencoded" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/access_token_query" : {
      "post" : {
        "tags" : [ "Auth" ],
        "operationId" : "postAccessTokenRequestQuery",
        "parameters" : [ {
          "name" : "oauth_consumer_key",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_signature_method",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_signature",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_timestamp",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_nonce",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_version",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_verifier",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_callback",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_token_secret",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "oauth_callback_confirmed",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/x-www-form-urlencoded" : { }
            }
          }
        }
      }
    },
    "/oauth/access_token" : {
      "post" : {
        "tags" : [ "Auth" ],
        "operationId" : "postAccessTokenRequest",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "oauth_consumer_key" : {
                    "type" : "string"
                  },
                  "oauth_token" : {
                    "type" : "string"
                  },
                  "oauth_signature_method" : {
                    "type" : "string"
                  },
                  "oauth_signature" : {
                    "type" : "string"
                  },
                  "oauth_timestamp" : {
                    "type" : "string"
                  },
                  "oauth_nonce" : {
                    "type" : "string"
                  },
                  "oauth_version" : {
                    "type" : "string"
                  },
                  "oauth_verifier" : {
                    "type" : "string"
                  },
                  "oauth_callback" : {
                    "type" : "string"
                  },
                  "oauth_token_secret" : {
                    "type" : "string"
                  },
                  "oauth_callback_confirmed" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/x-www-form-urlencoded" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getOrganisation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganisationView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "get"
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "updateOrganisation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeOrganisation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganisationView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "update"
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteOrganisation",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "delete"
      }
    },
    "/organisations/{id}/instances" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "listOrganisationInstances",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listInstances"
      }
    },
    "/organisations/{id}/deployments" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "listOrganisationDeployments",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listDeployments"
      }
    },
    "/organisations/{id}/payment-info" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getOrganisationPaymentInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentInfoView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "getPaymentInfo"
      }
    },
    "/organisations/{id}/avatar" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "uploadOrganisationAvatar",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UrlView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "uploadAvatar"
      }
    },
    "/organisations/{id}/namespaces" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "listOrganisationNamespaces",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/NamespaceView"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listNamespaces"
      }
    },
    "/organisations/{id}/addonproviders/{providerId}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getProviderInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonProviderInfoView"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "updateProviderInfos",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonProviderInfos"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonProviderInfoView"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteProvider",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getProvidersInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddonProviderInfoFullView"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "createProvider",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonProvider"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonProviderInfoFullView"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/features" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getProviderFeatures",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddonFeatureView"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "addProviderFeature",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonFeature"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonFeatureView"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/features/{featureId}" : {
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteProviderFeature",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/tags" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getProviderTags",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/plans" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getProviderPlans",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddonPlanView"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "addProviderPlan",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonPlan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonPlanView"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/plans/{planId}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getProviderPlan",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonPlanView"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "editProviderPlan",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonPlan"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonPlanView"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteProviderPlan",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/plans/{planId}/features/{featureName}" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "editProviderPlanFeature",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddonFeatureInstanceView"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonPlanView"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteProviderPlanFeature",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "featureName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/testers" : {
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "addBetaTester",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addonproviders/{providerId}/sso" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getSSODataForOrga",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "providerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonProviderSSOData"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/tags" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonTagsByOrgaIdAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "replaceAddonTags",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/tags/{tag}" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "addAddonTagByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tag",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteAddonTagByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tag",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/sso" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonSSODataForOrga",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonProviderSSOData"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/applications" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getApplicationsLinkedToAddonByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/env" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonEnvByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddonEnvironmentView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonView"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "updateAddonInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonProvision"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonView"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deprovisionAddonByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/instances" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonInstances",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deploymentId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "withDeleted",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/SuperNovaInstanceView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/instances/{instanceId}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonInstance",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "instanceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/migrations" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonMigrations",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "changePlanByOrgaAndAddonId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabePlanChange"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/migrations/preorders" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "preorderMigration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "planId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/{addonId}/migrations/{migrationId}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonMigration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "abortAddonMigration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "addonId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "migrationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getAddonsByOrgaId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddonView"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "provisionAddonByOrgaId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonProvision"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonView"
                }
              }
            }
          },
          "402" : {
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/addons/preorders" : {
      "post" : {
        "tags" : [ "Organisation" ],
        "operationId" : "preorderAddonByOrgaId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeAddonProvision"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InvoiceRendering"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/dependencies" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getApplicationDependenciesByOrgaAndAppId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/dependencies/env" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getApplicationDependenciesEnvByOrgaAndAppId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/dependencies/{dependencyId}" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "addApplicationDependencyByOrgaAndAppId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dependencyId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "deleteApplicationDependencyByOrgaAndAppId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dependencyId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/dependents" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getApplicationDependentsByOrgaAndAppId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApplicationView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/deployments/{deploymentId}/instances" : {
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "cancelApplicationDeploymentForOrga",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deploymentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/deployments" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getApplicationDeploymentsForOrga",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "action",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DeploymentView"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/deployments/{deploymentId}" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getApplicationDeploymentForOrga",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deploymentId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/organisations/{id}/applications/{appId}/tags" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "summary" : "List application tags",
        "operationId" : "listOrganisationApplicationTags",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listApplicationTags"
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "summary" : "Update application tags",
        "operationId" : "updateOrganisationApplicationTags",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "updateApplicationTags"
      }
    },
    "/organisations/{id}/applications/{appId}/tags/{tag}" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "summary" : "Add a tag on an application",
        "operationId" : "addOrganisationApplicationTag",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tag",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "addApplicationTag"
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "summary" : "Remove an application tag",
        "operationId" : "removeOrganisationApplicationTag",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tag",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "removeApplicationTag"
      }
    },
    "/organisations/{id}/applications/{appId}/vhosts/{domain}" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "addOrganisationApplicationVirtualHost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "domain",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "addApplicationVirtualHost"
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "removeOrganisationApplicationVirtualhost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "domain",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "removeApplicationVirtualhost"
      }
    },
    "/organisations/{id}/applications/{appId}/vhosts/favourite" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "getOrganisationApplicationFavouriteVirtualHost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VhostView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "getApplicationFavouriteVirtualHost"
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "operationId" : "updateOrganisationApplicationFavouriteVirtualHost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VhostView"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VhostView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "updateApplicationFavouriteVirtualHost"
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "operationId" : "removeOrganisationApplicationFavouriteVirtualHost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "removeApplicationFavouriteVirtualHost"
      }
    },
    "/organisations/{id}/applications/{appId}/vhosts" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "operationId" : "listOrganisationApplicationVirtualHosts",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VhostView"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listApplicationVirtualHosts"
      }
    },
    "/organisations/{id}/applications/{appId}/env/{envName}" : {
      "put" : {
        "tags" : [ "Organisation" ],
        "summary" : "Update an existing application environment variable",
        "operationId" : "updateOrganisationApplicationEnvironmentVariable",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "envName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WannabeValue"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The edited application",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "updateApplicationEnvironmentVariable"
      },
      "delete" : {
        "tags" : [ "Organisation" ],
        "summary" : "Delete an application environment variable",
        "operationId" : "deleteOrganisationApplicationEnvironmentVariable",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "envName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The edited application",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "deleteApplicationEnvironmentVariable"
      }
    },
    "/organisations/{id}/applications/{appId}/env" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "summary" : "List application environment variables",
        "operationId" : "listOrganisationApplicationEnvironmentVariables",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of application's environment variables",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddonEnvironmentView"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listApplicationEnvironmentVariables"
      },
      "put" : {
        "tags" : [ "Organisation" ],
        "summary" : "Update all existing application environment variables",
        "operationId" : "updateOrganisationApplicationEnvironmentVariables",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The edited application",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationView"
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "updateOrganisationApplicationEnvironmentVariables"
      }
    },
    "/organisations/{id}/applications/{appId}/addons/env" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "summary" : "List addons environment variables which are linked to the specified application",
        "operationId" : "listOrganisationApplicationAddonsEnvironmentVariables",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The addon's environment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/LinkedAddonEnvironmentView"
                  }
                }
              }
            }
          }
        },
        "x-service" : "organisation",
        "x-function" : "listApplicationAddonEnvironmentVariables"
      }
    },
    "/organisations/{id}/applications/{appId}/exposed_env" : {
      "get" : {
        "tags" : [ "Organisation" ],
        "summary" : "List accessible organisations",
        "operationId" : "listOrganisationAppplicationExposedEnvironmentVariables",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
[...]
