---
openapi: 3.0.2
info:
  version: 0.0.1-ALPHA
  title: fairjungle
  termsOfService: https://fairjungle.com
  contact:
    name: API Support
    email: support@fairjungle.com
  description: |
    This is the documentation for:
    - the [fairjungle custom REST API](#tag/fairjungle-api) for managing all resources
    - the [SCIM API](#tag/scim-api) for users provisioning

    # Authentication

    You need an API Key associated to a user with `admin` role in order to authenticate API requests.

    <SecurityDefinitions />
servers:
- url: https://alpha-api.fairjungle.net/api
  description: Test server
- url: https://api.fairjungle.com/api
  description: Production server
security:
- API Key: []
tags:
- name: fairjungle-api
  x-displayName: Fairjungle API
  description: |
    Our custom REST API allows you to manage all your fairjungle resources.

    # Document Structure

    A JSON object is at the root of every request and response containing data. This object defines a document’s “top level”.

    ## Request document

    A request document contains the following top-level member:

    - `data`: the document’s “primary data”

    ## Response document

    A response document contains at least one of the following top-level members:

    - `data`: the document’s “primary data”
    - `error`: an error object

    The members `data` and `error` never coexist in the same document.

    A response document may contain this top-level member:

    - `meta`: a meta object that contains meta-information

    ## Primary data

    Primary `data` is either:

    - a single resource object for requests that target single resources
    - an array of resource objects, or an empty array (`[]`), for requests that target resource collections

    The resource attributes that have no value are not returned, except for booleans attributes that always have a `false` default value. It means that server nevers sends `null` values in resource data.

    # Fetching data

    Data can be fetched by sending a `GET` request to an endpoint.

    For example, the following request fetches a collection of users:

    ```
    GET /api/users
    ```

    The following request fetches a user:

    ```
    GET /api/users/35c93884-5cca-4e72-98ff-eb52f611cb21
    ```

    ## Responses

    ### 200 OK

    The server responds to a successful request to fetch an individual resource or resource collection with a `200 OK` response.

    The server responds to a successful request to fetch a resource collection with an array of resource objects or an empty array (`[]`) as the response document’s primary data.

    The server responds to a successful request to fetch an individual resource with a resource object provided as the response document’s primary data.

    ### 401 Unauthorized

    The server responds with `401 Unauthorized` when processing a request without authentication.

    ### 403 Forbidden

    The server returns `403 Forbidden` in response to an unsupported request to retrieve a resource.

    ### 404 Not Found

    The server responds with `404 Not Found` when processing a request to fetch a single resource that does not exist.


    ## Pagination

    All endpoints that return resource collections are paginated. A default pagination is applied if no pagination parameter is provided by client.

    There are two kinds of paginations:

    - Offset based pagination
    - Cursor based pagination

    The offset based pagination is supported by all endpoints, and it is the default pagination. Additionally, some endpoints may support cursor based
    pagination. Please refer to each individual endpoint documentation for more info.

    To use cursor based pagination with endpoints that support it, then you have to set the `pageKind` query parameter with `cursor` as value.

    ### Offset based pagination

    Offset based pagination query parameters are:

      - `pageKind`: `offset`
      - `limit`: maximum number of items to return (default: `10`)
      - `offset`: number of items to skip (default: `0`)

    The `meta` top-level member in the response document contains those fields:

      - `pageKind`: `offset`
      - `limit`: the query parameter value
      - `offset`: the query parameter value
      - `total`: the total number of items on the server

    ### Cursor based pagination

    Cursor based pagination query parameters are:

      - `pageKind`: `cursor`
      - `limit`: maximum number of items to return (default: `10`)
      - `after`: a cursor value that identifies the first item to retrieve
      - `before`: a cursor value that identifies the last item to retrieve

    The `after` and `before` parameters are mutually exclusive: only one of `after` or `before` may be used.

    The `meta` top-level member in the response document contains those fields:

      - `pageKind`: `cursor`
      - `limit`: the query parameter value
      - `after`: the query parameter value
      - `before`: the query parameter value
      - `nextAfter`: a cursor value that can be used to retrieve next items with `after` query parameter
      - `prevBefore`: a cursor value that can be used to retrieve previous items with `before` query parameter


    ## Sorting

    Endpoints that return resource collections accepts additional query parameters to control sorting of returned resources:

      - `order`: sorting order (default: `asc`)
      - `sortBy`: sorting field (default: `createdAt`)

    The `meta` top-level member in the response document contains those fields:

      - `order`: the query parameter value
      - `sortBy`: the query parameter value

    The allowed `order` values are `asc` and `desc`.

    The allowed `sortBy` values are endpoint specific. Please refer to each individual endpoint documentation for more info.


    # Creating, Updating and Deleting Resources

    ## Creating Resources

    A resource can be created by sending a `POST` request to a URL that represents a collection of resources. The request includes a single resource object as primary data.

    ### Responses

    #### 201 Created

    If the requested resource has been created successfully, the server returns a `201 Created` status code.

    The response also includes a document that contains the primary resource created.

    #### 401 Unauthorized

    The server responds with `401 Unauthorized` when processing a request without authentication.

    #### 403 Forbidden

    The server returns `403 Forbidden` in response to an unsupported request to create a resource.

    #### 422 Unprocessable Entity

    The server returns `422 Unprocessable Entity` when processing a `POST` request to create a resource if the resource validation failed.


    ## Updating Resources

    A resource can be:
    - partially updated by sending a `PATCH` request to the URL that represents the resource
    - entirely replaced by sending a `PUT` request to the URL that represents the resource

    The request includes a single resource object as primary data.

    The patching mecanism follows the [JSON merge patch](https://tools.ietf.org/html/rfc7386) specification:
    - If a request does not include all of the attributes for a resource, the server interprets the missing attributes as if they were included with their current values.
    - An attribute can be deleted by explicitly sending the `null` value.
    - The server does not interpret missing attributes as `null` values.

    If you use the `PUT` method, then:
    - If a request does not include all of the attributes for a resource, the server interprets the missing attributes as if they were deleted.
    - An attribute can still be deleted by explicitly sending the `null` value.


    ### Responses

    #### 200 OK

    The server returns a `200 OK` status code if an update is successful. The response document includes a representation of the updated resource as if a `GET` request was made to the request URL.

    #### 401 Unauthorized

    The server responds with `401 Unauthorized` when processing a request without authentication.

    #### 403 Forbidden

    The server returns `403 Forbidden` in response to an unsupported request to update a resource.

    #### 404 Not Found

    The server returns `404 Not Found` when processing a request to modify a resource that does not exist.

    #### 422 Unprocessable Entity

    The server returns `422 Unprocessable Entity` when processing a `PATCH` request to update a resource if the resource validation failed.


    ## Deleting Resources

    An individual resource can be deleted by making a `DELETE` request to the resource’s URL.

    ### Responses

    #### 200 OK

    The server returns a `200 OK` status code if a deletion request is successful. The response document includes a representation of the resource before deletion.

    #### 401 Unauthorized

    The server responds with `401 Unauthorized` when processing a request without authentication.

    #### 403 Forbidden

    The server returns `403 Forbidden` in response to an unsupported request to delete a resource.

    #### 404 Not Found

    The server returns a `404 Not Found` status code if a deletion request fails due to the resource not existing.


    # Errors

    ## Processing errors

    Fairjungle uses conventional HTTP response codes to indicate the success or failure of an API request. Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided. Codes in the `5xx` range indicate a server error.

    Most of the time, when a `4xx` or `5xx` http code is returned, the response document consists of an `error` object.

    ## Error object

    The `error` top level member provides additional information about problems encountered while performing an operation.

    This is the `error` schema:

    <SchemaDefinition schemaRef="#/components/schemas/ValidationError" />

    The `error` object always have the following fields:

      - `code`: an application-specific error code, expressed as a string value.
      - `message`: a short, human-readable summary of the problem.

    The `error` object may have the following field:

      - `invalid`: if error `code` is `validationFailed` or `invalidParam` then that field contains an array of error details with associated invalid fields or parameters

    Items in the `invalid` array have the following fields:

      - `field`: field or parameter name
      - `value`: invalid value received
      - `code`: validation code
      - `message`: validation message

    Example for a `400 Bad Request` error:

    ```
    {
      "error": {
        "code": "badRequest",
        "message": "Top-level document 'data' member is missing"
      }
    }
    ```

    Example for a `400 Bad Request` error with invalid parameter:

    ```
    {
      "error": {
        "code": "invalidParam",
        "invalid": [
          {
            "code": "paramValue",
            "field": "limit",
            "message": "limit parameter must be between 1 and 100",
            "value": 500
          }
        ],
        "message": "Invalid pagination parameter provided"
      }
    }
    ```

    Example for a `422 Unprocessable Entity` error:

    ```
    {
      "error": {
        "code": "validationFailed",
        "invalid": [
          {
            "code": "country",
            "field": "address.country",
            "message": "The 'country' field is invalid",
            "value": "PLOP"
          },
          {
            "code": "email",
            "field": "email",
            "message": "The 'email' field is invalid",
            "value": "john @mycompany.com"
          },
          {
            "code": "required",
            "field": "name",
            "message": "The 'name' field is mandatory",
            "value": ""
          }
        ],
        "message": "Resource validation failed"
      }
    }
    ```
- name: billing-operations
  x-displayName: Billing operations
  description: |
    A billing operation represents the lowest billing granularity.

    **The `transactionKind` field:**

    A `purchase` billing operation is created:
    - when fairjungle booked a trip on your behalf (a billing operation is created for each part of the trip)
    - when your subscription invoice is emitted

    A `refund` billing operation is created when a booking is canceled, or when a manual refund is issued. There are then two cases:
    - if this is done before the corresponding `invoice` is emitted, then the `invoice` balance is adjusted and no [refund](#tag/refunds) resource is created (ie. the `refundId` attribute is `null`)
    - if this is done after the corresponding `invoice` was emitted, then a money transfer is performed, a [refund](#tag/refunds) resource is created, and the `refundId` attributed is filled

    A `dispute` billing operarion is created when our billing provider detects an issue with an already paid invoice, and automatically refunds back the invoice charge to your bank account.
    A [dispute](#tag/disputes) resource is created, and the `refundId` attributed is filled. This is a special case that must be regularized with our support team.
    Note that the [dispute](#tag/disputes) does not appear on the invoice, and no [refund](#tag/refunds) resource is created.

    **The `operationType` field:**

    An operation can be:
    - a booking related operation, with either the generic `booking` value, or with one of the more specific values: `car`, `flight`, `hotel`, `rail` or `seminar`
    - a `subscription` operation
    - an `other` operation (performed by the support team)

    In case of booking operation, the `bookingSnapshot` contains the booking informations at the time of the booking, and `tripProjectId` links to the corresponding [trip project](#tag/trip-projects).

    **The `status` field:**

    This field value depends on `transactionKind` field:
    - `purchase`: this is either the status of the corresponding [invoice](#tag/invoices) resource, or `delayed` if no [invoice](#tag/invoices) was emitted yet. Possible values: `delayed`, `open`, `paid`, `uncollectible` and `void`.
    - `refund`: this is either the status of the corresponding [refund](#tag/refunds) resource if corresponding [invoice](#tag/invoices) status is `paid`, or `delayed` if refund is performed while the corresponding [invoice](#tag/invoices) status is still `open`, otherwise `succeeded` if no [invoice](#tag/invoices) was emitted yet. Possible values: `delayed`, `waiting`, `pending`, `succeeded`, `failed` and `canceled`.
    - `dispute`: this is the status of the corresponding [dispute](#tag/disputes) resource.

    # Billing operation

    This is the `billingOperation` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/BillingOperation" />
- name: billing-profiles
  x-displayName: Billing profiles
  description: |
    Each billing profile has its own payment method and billing informations.

    **NOTE:** you can't associate a payment method to a billing profile through the API.

    # Billing profile

    This is the `billingProfile` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/BillingProfile" />
- name: cost-centers
  x-displayName: Cost centers
  description: |
    Associating users to cost centers permit to tag emitted invoices with cost centers.

    # Cost center

    This is the `costCenter` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/CostCenter" />
- name: custom-fields
  x-displayName: Custom fields
  description: |
    Associate custom fields to resources.

    # Custom field

    This is the `customField` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/CustomField" />

    This is the `customFieldOption` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/CustomFieldOption" />
- name: disputes
  x-displayName: Disputes
  description: |
    A payment dispute may be emitted by our payment provider.

    # Dispute

    This is the `dispute` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/Dispute" />
- name: events
  x-displayName: Events
  description: |
    Events occur when the state of another API resource changes. The state of that resource at the time of the change
    is embedded in the event's `data` field. For example, a `costCenter.created` event will contain a `cost center`, and an `invoice.updated`
    event will contain an `invoice`.

    Events can be sent to your applications with [webhooks](#tag/webhooks).

    **NOTE:** access to events through the API is guaranteed only for 30 days.

    # Event

    This is the `event` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/Event" />
- name: invoices
  x-displayName: Invoices
  description: |
    An emitted [invoice](#tag/invoices) is the aggregate of one or several `purchase` and `refund` billing operations.

    # Invoice

    This is the `invoice` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/Invoice" />
- name: project-codes
  x-displayName: Project codes
  description: |
    Project codes can be associated to trips, and to their corresponding invoices.

    # Project code

    This is the `projectCode` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/ProjectCode" />
- name: refunds
  x-displayName: Refunds
  description: |
    A refund is an actual money transfer from fairjungle back to your bank account.

    # Refund

    This is the `refund` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/Refund" />
- name: travel-policies
  x-displayName: Travel policies
  description: |
    Travel policies enables you to control your company travel spend, volume and safety.

    # Travel policy

    This is the `travelPolicy` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/TravelPolicy" />
- name: trip-projects
  x-displayName: Trip projects
  description: |
    A Trip Project represents a travel project with bookings and participants.

    # Trip project

    This is the `tripProject` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/TripProject" />
- name: users
  x-displayName: Users
  description: |
    This is an object representing a person associated with a fairjungle account.

    # User

    This is the `user` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/User" />
- name: webhooks
  x-displayName: Webhooks
  description: |
    Fairjungle uses webhooks to notify your application when an event happens in your account.

    If you use an HTTPS URL for your webhook endpoint, fairjungle will validate that the connection to your server is secure before sending your webhook data.
    For this to work, your server must be correctly configured to support HTTPS with a valid server certificate.

    # Notifications

    The webhook notifications are `event` resources. This `event` resource contains all the relevant information about what just happened,
    including the type of event and the data associated with that event.

    Example:
    ```
    {
      "id": "628b6efe7290e71a9e52d01b",
      "type": "event",
      "createdAt": "2022-05-23T11:24:46Z",
      "data": {
        "canceled": false,
        "createdAt": "2022-05-23T11:24:20Z",
        "id": "8e3df4c5-2070-4584-b91a-ef63b6394ef5",
        "kind": "rail",
        "rateId": "4f454c91-6654-4de8-8275-d54dcda59e62___trainline-itinerary-business-adddde0e-56ad-41e1-99b7-48b50fa943e8",
        "reference": "605515552196",
        "status": "succeeded",
        "tripProjectId": "8ec49117-68ce-4ba6-9a30-e0237e23f9b6",
        "type": "booking"
      },
      "kind": "tripProject.booking.succeeded"
    }
    ```

    To acknowledge receipt of an event, your endpoint must return a `2xx` HTTP status code. All response codes outside this range
    indicate that you did not receive the event.

    If fairjungle does not receive a `2xx` HTTP status code, the notification attempt is repeated. After multiple failures to send
    the notification, fairjungle marks the event as failed and stops trying to send it to your endpoint.

    # Signature

    Fairjungle signs the webhook notifications it sends to your endpoints by including a signature in the `Fairjungle-Signature` header. This allows
    you to verify that the events were sent by fairjungle, not by a third party.

    The `Fairjungle-Signature` header contains a timestamp and a signature. The timestamp is prefixed by `t=`, and the signature is prefixed by `s=`.

    ```
    Fairjungle-Signature: t=1590410028,s=8db0caf0c10c7a34ebd4dc98e73a7b7cd703ac34666e5bc892e52cdc6dbba0ba
    ```

    Fairjungle generates signature using a hash-based message authentication code (`HMAC`) with `SHA-256`.

    To verify the signature, you must:

    1. Extract the timestamp and signature from the header

    Split the header, using the `,` character as the separator, to get a list of elements. Then split each element, using the `= `character as the separator,
    to get a prefix and value pair.

    The value for the prefix `t` corresponds to the timestamp, and `s` corresponds to the signature.

    2. Prepare the `signed_payload` string

    The `signed_payload` string is created by concatenating:

    - The timestamp
    - The character `.`
    - The actual JSON payload

    3. Determine the expected signature

    Compute an `HMAC` with the `SHA256` hash function. Use the endpoint’s signing secret as the key, and use the `signed_payload` string as the message.

    4. Compare the signatures

    Compare the signature in the header to the expected signature. For an equality match, compute the difference between the current timestamp and the
    received timestamp, then decide if the difference is within your tolerance.

    # Webhook

    This is the `webhook` resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/Webhook" />
- name: scim-api
  x-displayName: SCIM API
  description: |
    With the [SCIM API](http://www.simplecloud.info), you can configure your identity provider to provision users on fairjungle.

    This documentation describes the supported parts of the SCIM specification.

    # Error object

    This is the `Error` response schema:

    <SchemaDefinition schemaRef="#/components/schemas/ScimError" />
- name: scim-users
  x-displayName: Users
  description: |
    Users provisioning.

    # SCIM User

    This is the SCIM User resource schema:

    <SchemaDefinition schemaRef="#/components/schemas/ScimUser" />
x-tagGroups:
- name: Fairjungle API
  tags:
  - fairjungle-api
  - billing-operations
  - billing-profiles
  - cost-centers
  - custom-fields
  - disputes
  - events
  - invoices
  - project-codes
  - refunds
  - travel-policies
  - trip-projects
  - users
  - webhooks
- name: SCIM API
  tags:
  - scim-api
  - scim-users
paths:
  "/billing-operations":
    get:
      tags:
      - billing-operations
      summary: List billing operations
      description: |
        Returns a list of billing operations.

        By default, billing operations are returned sorted by creation date with oldest operations returned first.

        The `sortBy` parameter allows you to sort billing operations by `date` field too.

        You can enable cursor based pagination by setting `pageKind` parameter with `cursor` value.
      operationId: listBillingOperations
      parameters:
      - "$ref": "#/components/parameters/collectionPageKind"
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionBefore"
      - "$ref": "#/components/parameters/collectionAfter"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/billingOperationsSortBy"
      responses:
        '200':
          "$ref": "#/components/responses/listBillingOperationsResp200"
  "/billing-operations/{id}":
    get:
      tags:
      - billing-operations
      summary: Retrieve a billing operation
      description: 'Retrieves a billing operation.

        '
      operationId: getBillingOperation
      parameters:
      - name: id
        in: path
        description: The identifier of the billing operation to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getBillingOperationResp200"
  "/billing-profiles":
    get:
      tags:
      - billing-profiles
      summary: List billing profiles
      description: |
        Returns a list of billing profiles.

        The `archived` parameter permits to returns only archived or non archived billing profiles.

        By default, billing profiles are returned sorted by creation date with oldest billing profiles returned first.

        The `sortBy` parameter allows you to sort billing operations by `name` field too.

        Cursor based pagination is not available.
      operationId: listBillingProfiles
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/billingProfilesSortBy"
      - "$ref": "#/components/parameters/archived"
      responses:
        '200':
          "$ref": "#/components/responses/listBillingProfilesResp200"
    post:
      tags:
      - billing-profiles
      summary: Create a billing profile
      description: 'Creates a new billing profile.

        '
      operationId: createBillingProfile
      requestBody:
        "$ref": "#/components/requestBodies/createBillingProfileReq"
      responses:
        '201':
          "$ref": "#/components/responses/createBillingProfileResp201"
  "/billing-profiles/{id}":
    get:
      tags:
      - billing-profiles
      summary: Retrieve a billing profile
      description: 'Retrieves a billing profile.

        '
      operationId: getBillingProfile
      parameters:
      - name: id
        in: path
        description: The identifier of the billing profile to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getBillingProfileResp200"
    patch:
      tags:
      - billing-profiles
      summary: Patch a billing profile
      description: |
        Updates a billing profile with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchBillingProfile
      parameters:
      - name: id
        in: path
        description: The identifier of the billing profile to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchBillingProfileReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchBillingProfileResp200"
    put:
      tags:
      - billing-profiles
      summary: Replace a billing profile
      description: 'Updates a billing profile by replacing the resource. Missing attributes
        are removed.

        '
      operationId: replaceBillingProfile
      parameters:
      - name: id
        in: path
        description: The identifier of the billing profile to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceBillingProfileReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceBillingProfileResp200"
    delete:
      tags:
      - billing-profiles
      summary: Delete a billing profile
      description: 'Deletes a billing profile.

        '
      operationId: deleteBillingProfile
      parameters:
      - name: id
        in: path
        description: The identifier of the billing profile to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteBillingProfileResp200"
  "/cost-centers":
    get:
      tags:
      - cost-centers
      summary: List cost centers
      description: |
        Returns a list of cost centers.

        The `archived` parameter permits to returns only archived or non archived cost centers.

        By default, cost centers are returned sorted by creation date with oldest cost centers returned first.

        The `sortBy` parameter allows you to sort cost centers by `name` field too.

        Cursor based pagination is not available.
      operationId: listCostCenters
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/costCentersSortBy"
      - "$ref": "#/components/parameters/archived"
      responses:
        '200':
          "$ref": "#/components/responses/listCostCentersResp200"
    post:
      tags:
      - cost-centers
      summary: Create a cost center
      description: 'Creates a new cost center.

        '
      operationId: createCostCenter
      requestBody:
        "$ref": "#/components/requestBodies/createCostCenterReq"
      responses:
        '201':
          "$ref": "#/components/responses/createCostCenterResp201"
  "/cost-centers/{id}":
    get:
      tags:
      - cost-centers
      summary: Retrieve a cost center
      description: 'Retrieves a cost center.

        '
      operationId: getCostCenter
      parameters:
      - name: id
        in: path
        description: The identifier of the cost center to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getCostCenterResp200"
    patch:
      tags:
      - cost-centers
      summary: Patch a cost center
      description: |
        Updates a cost center with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchCostCenter
      parameters:
      - name: id
        in: path
        description: The identifier of the cost center to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchCostCenterReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchCostCenterResp200"
    put:
      tags:
      - cost-centers
      summary: Replace a cost center
      description: 'Updates a cost center by replacing the resource. Missing attributes
        are removed.

        '
      operationId: replaceCostCenter
      parameters:
      - name: id
        in: path
        description: The identifier of the cost center to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceCostCenterReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceCostCenterResp200"
    delete:
      tags:
      - cost-centers
      summary: Delete a cost center
      description: 'Deletes a cost center.

        '
      operationId: deleteCostCenter
      parameters:
      - name: id
        in: path
        description: The identifier of the cost center to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteCostCenterResp200"
  "/custom-fields":
    get:
      tags:
      - custom-fields
      summary: List custom fields
      description: |
        Returns a list of custom fields.

        Custom fields are returned sorted by creation date, and by default oldest custom fields are returned first.

        Cursor based pagination is not available.
      operationId: listCustomFields
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listCustomFieldsResp200"
    post:
      tags:
      - custom-fields
      summary: Create a custom field
      description: 'Creates a new custom field.

        '
      operationId: createCustomField
      requestBody:
        "$ref": "#/components/requestBodies/createCustomFieldReq"
      responses:
        '201':
          "$ref": "#/components/responses/createCustomFieldResp201"
  "/custom-fields/{id}":
    get:
      tags:
      - custom-fields
      summary: Retrieve a custom field
      description: 'Retrieves a custom field.

        '
      operationId: getCustomField
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getCustomFieldResp200"
    patch:
      tags:
      - custom-fields
      summary: Patch a custom field
      description: |
        Updates a custom field with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchCustomField
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchCustomFieldReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchCustomFieldResp200"
    put:
      tags:
      - custom-fields
      summary: Replace a custom field
      description: 'Updates a custom field by replacing the resource. Missing attributes
        are removed.

        '
      operationId: replaceCustomField
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceCustomFieldReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceCustomFieldResp200"
    delete:
      tags:
      - custom-fields
      summary: Delete a custom field
      description: 'Deletes a custom field.

        '
      operationId: deleteCustomField
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteCustomFieldResp200"
  "/custom-fields/{id}/options":
    get:
      tags:
      - custom-fields
      summary: List custom field options
      description: |
        Returns a list of custom field options.

        Custom field options are returned sorted by creation date, and by default oldest custom field options are returned first.

        Cursor based pagination is not available.
      operationId: listCustomFieldOptions
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field.
        required: true
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listCustomFieldOptionsResp200"
    post:
      tags:
      - custom-fields
      summary: Create a custom field option
      description: 'Creates a new custom field option.

        '
      operationId: createCustomFieldOption
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/createCustomFieldOptionReq"
      responses:
        '201':
          "$ref": "#/components/responses/createCustomFieldOptionResp201"
  "/custom-fields/{id}/options/{optionId}":
    get:
      tags:
      - custom-fields
      summary: Retrieve a custom field option
      description: 'Retrieves a custom field option.

        '
      operationId: getCustomFieldOption
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field.
        required: true
        schema:
          type: string
          format: uuid
      - name: optionId
        in: path
        description: The identifier of the custom field option to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getCustomFieldOptionResp200"
    patch:
      tags:
      - custom-fields
      summary: Patch a custom field option
      description: |
        Updates a custom field option with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchCustomFieldOption
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field.
        required: true
        schema:
          type: string
          format: uuid
      - name: optionId
        in: path
        description: The identifier of the custom field option to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchCustomFieldOptionReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchCustomFieldOptionResp200"
    put:
      tags:
      - custom-fields
      summary: Replace a custom field option
      description: 'Updates a custom field option by replacing the resource. Missing
        attributes are removed.

        '
      operationId: replaceCustomFieldOption
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field.
        required: true
        schema:
          type: string
          format: uuid
      - name: optionId
        in: path
        description: The identifier of the custom field option to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceCustomFieldOptionReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceCustomFieldOptionResp200"
    delete:
      tags:
      - custom-fields
      summary: Delete a custom field option
      description: 'Deletes a custom field option.

        '
      operationId: deleteCustomFieldOption
      parameters:
      - name: id
        in: path
        description: The identifier of the custom field.
        required: true
        schema:
          type: string
          format: uuid
      - name: optionId
        in: path
        description: The identifier of the custom field option to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteCustomFieldOptionResp200"
  "/disputes":
    get:
      tags:
      - disputes
      summary: List disputes
      description: |
        Returns a list of disputes.

        Disputes are returned sorted by creation date, and by default oldest disputes are returned first.

        Cursor based pagination is not available.
      operationId: listDisputes
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listDisputesResp200"
  "/disputes/{id}":
    get:
      tags:
      - disputes
      summary: Retrieve a dispute
      description: 'Retrieves a dispute.

        '
      operationId: getDispute
      parameters:
      - name: id
        in: path
        description: The identifier of the dispute to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getDisputeResp200"
  "/events":
    get:
      tags:
      - events
      summary: List events
      description: |
        Returns a list of events.

        Events are returned sorted by creation date, and by default oldest operations are returned first.

        Cursor based pagination is not available.
      operationId: listEvents
      parameters:
      - "$ref": "#/components/parameters/collectionPageKind"
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionBefore"
      - "$ref": "#/components/parameters/collectionAfter"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listEventsResp200"
  "/events/{id}":
    get:
      tags:
      - events
      summary: Retrieve an event
      description: 'Retrieves an event.

        '
      operationId: getEvent
      parameters:
      - name: id
        in: path
        description: The identifier of the event to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getEventResp200"
  "/invoices":
    get:
      tags:
      - invoices
      summary: List invoices
      description: |
        Returns a list of invoices.

        Invoices are returned sorted by creation date, and by default oldest invoices are returned first.

        Cursor based pagination is not available.
      operationId: listInvoices
      parameters:
      - "$ref": "#/components/parameters/collectionPageKind"
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionBefore"
      - "$ref": "#/components/parameters/collectionAfter"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listInvoicesResp200"
  "/invoices/{id}":
    get:
      tags:
      - invoices
      summary: Retrieve an invoice
      description: 'Retrieves an invoice.

        '
      operationId: getInvoice
      parameters:
      - name: id
        in: path
        description: The identifier of the invoice to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getInvoiceResp200"
  "/invoices/{id}/billing-operations":
    get:
      tags:
      - invoices
      summary: List invoice billing operations
      description: |
        Returns a list of billing operations corresponding to invoice.

        By default, billing operations are returned sorted by creation date with oldest operations returned first.

        The `sortBy` parameter allows you to sort billing operations by `date` field too.

        You can enable cursor based pagination by setting `pageKind` parameter with `cursor` value.
      operationId: listInvoiceBillingOperations
      parameters:
      - name: id
        in: path
        description: The identifier of the invoice.
        required: true
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/collectionPageKind"
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionBefore"
      - "$ref": "#/components/parameters/collectionAfter"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/billingOperationsSortBy"
      responses:
        '200':
          "$ref": "#/components/responses/listInvoiceBillingOperationsResp200"
  "/project-codes":
    get:
      tags:
      - project-codes
      summary: List project codes
      description: |
        Returns a list of project codes.

        The `archived` parameter permits to returns only archived or non archived project codes.

        By default, project codes are returned sorted by creation date with oldest project codes returned first.

        The `sortBy` parameter allows you to sort project codes by `code` field too.

        Cursor based pagination is not available.
      operationId: listProjectCodes
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/projectCodesSortBy"
      - "$ref": "#/components/parameters/archived"
      responses:
        '200':
          "$ref": "#/components/responses/listProjectCodesResp200"
    post:
      tags:
      - project-codes
      summary: Create a project code
      description: 'Creates a new project code.

        '
      operationId: createProjectCode
      requestBody:
        "$ref": "#/components/requestBodies/createProjectCodeReq"
      responses:
        '201':
          "$ref": "#/components/responses/createProjectCodeResp201"
  "/project-codes/{id}":
    get:
      tags:
      - project-codes
      summary: Retrieve a project code
      description: 'Retrieves a project code.

        '
      operationId: getProjectCode
      parameters:
      - name: id
        in: path
        description: The identifier of the project code to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getProjectCodeResp200"
    patch:
      tags:
      - project-codes
      summary: Patch a project code
      description: |
        Updates a project code with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchProjectCode
      parameters:
      - name: id
        in: path
        description: The identifier of the project code to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchProjectCodeReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchProjectCodeResp200"
    put:
      tags:
      - project-codes
      summary: Replace a project code
      description: 'Updates a project code by replacing the resource. Missing attributes
        are removed.

        '
      operationId: replaceProjectCode
      parameters:
      - name: id
        in: path
        description: The identifier of the project code to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceProjectCodeReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceProjectCodeResp200"
    delete:
      tags:
      - project-codes
      summary: Delete a project code
      description: 'Deletes a project code.

        '
      operationId: deleteProjectCode
      parameters:
      - name: id
        in: path
        description: The identifier of the project code to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteProjectCodeResp200"
  "/refunds":
    get:
      tags:
      - refunds
      summary: List refunds
      description: |
        Returns a list of refunds.

        Refunds are returned sorted by creation date, and by default oldest refunds are returned first.

        Cursor based pagination is not available.
      operationId: listRefunds
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listRefundsResp200"
  "/refunds/{id}":
    get:
      tags:
      - refunds
      summary: Retrieve a refund
      description: 'Retrieves a refund.

        '
      operationId: getRefund
      parameters:
      - name: id
        in: path
        description: The identifier of the refund to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getRefundResp200"
  "/travel-policies":
    get:
      tags:
      - travel-policies
      summary: List travel policies
      description: |
        Returns a list of travel policies.

        Travel policies are returned sorted by creation date, and by default oldest travel policies are returned first.

        The `sortBy` parameter allows you to sort travel policies by `name` field too.

        Cursor based pagination is not available.
      operationId: listTravelPolicies
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/travelPoliciesSortBy"
      responses:
        '200':
          "$ref": "#/components/responses/listTravelPoliciesResp200"
    post:
      tags:
      - travel-policies
      summary: Create a travel policy
      description: 'Creates a new travel policy.

        '
      operationId: createTravelPolicy
      requestBody:
        "$ref": "#/components/requestBodies/createTravelPolicyReq"
      responses:
        '201':
          "$ref": "#/components/responses/createTravelPolicyResp201"
  "/travel-policies/{id}":
    get:
      tags:
      - travel-policies
      summary: Retrieve a travel policy
      description: 'Retrieves a travel policy.

        '
      operationId: getTravelPolicy
      parameters:
      - name: id
        in: path
        description: The identifier of the travel policy to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getTravelPolicyResp200"
    patch:
      tags:
      - travel-policies
      summary: Patch a travel policy
      description: |
        Updates a travel policy with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchTravelPolicy
      parameters:
      - name: id
        in: path
        description: The identifier of the travel policy to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchTravelPolicyReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchTravelPolicyResp200"
    put:
      tags:
      - travel-policies
      summary: Replace a travel policy
      description: 'Updates a travel policy by replacing the resource. Missing attributes
        are removed.

        '
      operationId: replaceTravelPolicy
      parameters:
      - name: id
        in: path
        description: The identifier of the travel policy to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceTravelPolicyReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceTravelPolicyResp200"
    delete:
      tags:
      - travel-policies
      summary: Delete a travel policy
      description: 'Deletes a travel policy.

        '
      operationId: deleteTravelPolicy
      parameters:
      - name: id
        in: path
        description: The identifier of the travel policy to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteTravelPolicyResp200"
  "/trip-projects":
    get:
      tags:
      - trip-projects
      summary: List trip projects
      description: |
        Returns a list of trip projects.

        Trip projects are returned sorted by creation date, and by default oldest trip projects are returned first.

        Cursor based pagination is not available.
      operationId: listTripProjects
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listTripProjectsResp200"
  "/trip-projects/{id}":
    get:
      tags:
      - trip-projects
      summary: Retrieve a trip project
      description: 'Retrieves a trip project.

        '
      operationId: getTripProject
      parameters:
      - name: id
        in: path
        description: The identifier of the trip project to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getTripProjectResp200"
  "/trip-projects/{id}/billing-operations":
    get:
      tags:
      - trip-projects
      summary: List trip project billing operations
      description: |
        Returns a list of billing operations corresponding to trip project.

        By default, billing operations are returned sorted by creation date with oldest operations returned first.

        The `sortBy` parameter allows you to sort billing operations by `date` field too.

        You can enable cursor based pagination by setting `pageKind` parameter with `cursor` value.
      operationId: listTripProjectBillingOperations
      parameters:
      - name: id
        in: path
        description: The identifier of the trip project.
        required: true
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/collectionPageKind"
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionBefore"
      - "$ref": "#/components/parameters/collectionAfter"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/billingOperationsSortBy"
      responses:
        '200':
          "$ref": "#/components/responses/listTripProjectBillingOperationsResp200"
  "/trip-projects/{id}/travelers":
    get:
      tags:
      - trip-projects
      summary: List trip project travelers
      description: 'Returns a list of users.

        '
      operationId: listTripProjectTravelers
      parameters:
      - name: id
        in: path
        description: The identifier of the trip project.
        required: true
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listTripProjectTravelersResp200"
  "/users":
    get:
      tags:
      - users
      summary: List users
      description: |
        Returns a list of users.

        The `archived` parameter permits to returns only archived or non archived users

        The `emails` parameter permits to returns only users that match those emails.

        The `sortBy` parameter allows you to sort users by `email` field too.

        By default, users are returned sorted by creation date with oldest users returned first.

        Cursor based pagination is not available.
      operationId: listUsers
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      - "$ref": "#/components/parameters/usersSortBy"
      - "$ref": "#/components/parameters/archived"
      - "$ref": "#/components/parameters/emails"
      responses:
        '200':
          "$ref": "#/components/responses/listUsersResp200"
    post:
      tags:
      - users
      summary: Create a user
      description: 'Creates a new user.

        '
      operationId: createUser
      requestBody:
        "$ref": "#/components/requestBodies/createUserReq"
      responses:
        '201':
          "$ref": "#/components/responses/createUserResp201"
  "/users/{id}":
    get:
      tags:
      - users
      summary: Retrieve a user
      description: 'Retrieves a user.

        '
      operationId: getUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getUserResp200"
    patch:
      tags:
      - users
      summary: Patch a user
      description: |
        Updates a user with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchUserReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchUserResp200"
    put:
      tags:
      - users
      summary: Replace a user
      description: 'Updates a user by replacing the resource. Missing attributes are
        removed.

        '
      operationId: replaceUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceUserReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceUserResp200"
    delete:
      tags:
      - users
      summary: Delete a user
      description: 'Deletes a user.

        '
      operationId: deleteUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteUserResp200"
  "/webhooks":
    get:
      tags:
      - webhooks
      summary: List webhooks
      description: |
        Returns a list of webhooks.

        Webooks are returned sorted by creation date, and by default oldest webooks are returned first.

        Cursor based pagination is not available.
      operationId: listWebhooks
      parameters:
      - "$ref": "#/components/parameters/collectionLimit"
      - "$ref": "#/components/parameters/collectionOffset"
      - "$ref": "#/components/parameters/collectionOrder"
      responses:
        '200':
          "$ref": "#/components/responses/listWebhooksResp200"
    post:
      tags:
      - webhooks
      summary: Create a webhook
      description: 'Creates a new webhook.

        '
      operationId: createWebhook
      requestBody:
        "$ref": "#/components/requestBodies/createWebhookReq"
      responses:
        '201':
          "$ref": "#/components/responses/createWebhookResp201"
  "/webhooks/{id}":
    get:
      tags:
      - webhooks
      summary: Retrieve a webhook
      description: 'Retrieves a webhook.

        '
      operationId: getWebhook
      parameters:
      - name: id
        in: path
        description: The identifier of the webhook to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/getWebhookResp200"
    patch:
      tags:
      - webhooks
      summary: Patch a webhook
      description: |
        Updates a webhook with merge patching:
        - missing attributes are left unchanged
        - set `null` value to remove an attribute.
      operationId: patchWebhook
      parameters:
      - name: id
        in: path
        description: The identifier of the webhook to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/patchWebhookReq"
      responses:
        '200':
          "$ref": "#/components/responses/patchWebhookResp200"
    put:
      tags:
      - webhooks
      summary: Replace a webhook
      description: 'Updates a webhook by replacing the resource. Missing attributes
        are removed.

        '
      operationId: replaceWebhook
      parameters:
      - name: id
        in: path
        description: The identifier of the webhook to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/replaceWebhookReq"
      responses:
        '200':
          "$ref": "#/components/responses/replaceWebhookResp200"
    delete:
      tags:
      - webhooks
      summary: Delete a webhook
      description: 'Deletes a webhook.

        '
      operationId: deleteWebhook
      parameters:
      - name: id
        in: path
        description: The identifier of the webhook to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/deleteWebhookResp200"
  "/scim/v2/Users":
    get:
      tags:
      - scim-users
      summary: List users
      description: |
        Query users, as specified in [RFC 7644 - 3.4.2. Query Resources](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2).

        The `sortBy`, `sortOrder`, `attributes` and `excludedAttributes` query parameters are not supported.
      operationId: scimListUsers
      parameters:
      - "$ref": "#/components/parameters/scimStartIndex"
      - "$ref": "#/components/parameters/scimCount"
      - "$ref": "#/components/parameters/scimFilter"
      responses:
        '200':
          "$ref": "#/components/responses/scimListUsersResp200"
    post:
      tags:
      - scim-users
      summary: Create a user
      description: 'Creates a new user, as specified in [RFC 7644 - 3.3. Creating
        Resources](https://datatracker.ietf.org/doc/html/rfc7644#section-3.3).

        '
      operationId: scimCreateUser
      requestBody:
        "$ref": "#/components/requestBodies/scimCreateUserReq"
      responses:
        '201':
          "$ref": "#/components/responses/scimCreateUserResp201"
  "/scim/v2/Users/{id}":
    get:
      tags:
      - scim-users
      summary: Retrieve a user
      description: 'Retrieves a user as specified in [RFC 7644 - 3.4.1. Retrieving
        a Known Resource](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.1).

        '
      operationId: scimGetUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          "$ref": "#/components/responses/scimGetUserResp200"
    patch:
      tags:
      - scim-users
      summary: Patch a user
      description: |
        Patch an existing user, as specified in [RFC 7644 - 3.5.2. Modifying with PATCH](https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.2)

        Missing attributes are left unchanged. Set `null` value to remove an attribute.

        Only a limited subset of `path` expressions are supported:

        * For `add` operation:
          - `emails[type eq \"work\"].value`
          - `phoneNumbers[type eq \"work\"].value`
          - `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:manager`

        * For `remove` and `replace` operation:
          - `active`
          - `emails`
          - `emails[type eq \"work\"].value`
          - `urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:manager`
          - `externalId`
          - `name`
          - `name.familyName`
          - `name.givenName`
          - `phoneNumbers`
          - `phoneNumbers[type eq \"work\"].value`
          - `userName`
      operationId: scimPatchUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/scimPatchUserReq"
      responses:
        '200':
          "$ref": "#/components/responses/scimPatchUserResp200"
    put:
      tags:
      - scim-users
      summary: Replace a user
      description: |
        Updates a user by replacing the resource, as specified in [RFC 7644 - 3.5.1. Replacing with PUT](https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.1).

        Attributes not provided in request are removed.
      operationId: scimReplaceUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        "$ref": "#/components/requestBodies/scimReplaceUserReq"
      responses:
        '200':
          "$ref": "#/components/responses/scimReplaceUserResp200"
    delete:
      tags:
      - scim-users
      summary: Delete a user
      description: 'Deletes a user, as specified in [RFC 7644 - 3.6. Deleting Resources](https://datatracker.ietf.org/doc/html/rfc7644#section-3.6).

        '
      operationId: scimDeleteUser
      parameters:
      - name: id
        in: path
        description: The identifier of the user to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          "$ref": "#/components/responses/scimDeleteUserResp204"
components:
  securitySchemes:
    API Key:
      description: |
        The fairjungle API uses API keys to authenticate requests.

        Authentication to the API is performed via HTTP `Authorization` header. Example:

        ```
          Authorization: Bearer BdA5ijnMx8m7dqX0Fnl7NmB18etmVhFI
        ```

        Your API keys carry many privileges, so be sure to keep them secure! Do not share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth.

        All API requests must be made over HTTPS.
      type: http
      scheme: Bearer
      bearerFormat: API Key
  parameters:
    archived:
      name: archived
      in: query
      description: If `true` then only archived resources are returned. If `false`
        then only non-archived resources are returned. If not provided then all resources
        are returned.
      schema:
        type: string
        example: 'false'
    billingOperationsSortBy:
      name: sortBy
      in: query
      description: Sorting field.
      schema:
        allOf:
        - "$ref": "#/components/schemas/BillingOperationsSortBy"
    billingProfilesSortBy:
      name: sortBy
      in: query
      description: Sorting field.
      schema:
        allOf:
        - "$ref": "#/components/schemas/BillingProfilesSortBy"
    collectionPageKind:
      name: pageKind
      in: query
      description: Pagination kind.
      schema:
        allOf:
        - "$ref": "#/components/schemas/CollectionPageKind"
    collectionLimit:
      name: limit
      in: query
      description: Maximum number of items to return.
      schema:
        type: integer
        format: int32
        default: 10
        minimum: 1
        maximum: 100
    collectionOffset:
      name: offset
      in: query
      description: Number of items to skip. Can be used only for offset based pagination.
      schema:
        type: integer
        format: int32
        default: 0
    collectionBefore:
      name: before
      in: query
      description: Cursor value that identifies the last item to retrieve. Can be
        used only for cursor based pagination.
      schema:
        type: string
        example: ZG9jX2lkOjVkOTc2OTYxYTI0YjBjMTcyNmY2NWJkMg==
    collectionAfter:
      name: after
      in: query
      description: Cursor value that identifies the first item to retrieve. Can be
        used only for cursor based pagination.
      schema:
        type: string
        example: ZG9jX2lkOjVkYWVmYThhMTg1YjNlNmNiM2Q3OTY3OA==
    collectionOrder:
      name: order
      in: query
      description: Sort order.
      schema:
        allOf:
        - "$ref": "#/components/schemas/CollectionOrder"
    costCentersSortBy:
      name: sortBy
      in: query
      description: Sorting field.
      schema:
        allOf:
        - "$ref": "#/components/schemas/CostCentersSortBy"
    emails:
      name: emails
      in: query
      description: A comma separated list of emails. Permits to filter results to
        return only resources that match those emails.
      schema:
        type: string
        example: jean@mycorp.fr,juan@mycorp.es
    include:
      name: include
      in: query
      description: A comma-separated list of field paths. A field path is a dot-separated
        list of field names.
      schema:
        type: string
        example: costCenter,billingProfile
    projectCodesSortBy:
      name: sortBy
      in: query
      description: Sorting field.
      schema:
        allOf:
        - "$ref": "#/components/schemas/ProjectCodesSortBy"
    scimCount:
      name: count
      in: query
      description: Desired maximum number of query results per page.
      schema:
        type: integer
        format: int32
        default: 10
        minimum: 0
        maximum: 100
    scimFilter:
      name: filter
      in: query
      description: |
        A filter expression to request a subset of resources ([RFC 7644 - 3.4.2.2. Filtering](https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2))

        Only those `filter` expressions are supported:
        - `filter=userName eq "marcel@bellivo.com"`
        - `filter=emails eq "marcel@beliveau.com"`
        - `filter=externalId eq "10u1dhhb2fkIGP7RL1d8"`
        - `filter=id eq "5fc0c238-1112-11e8-8e45-830c87bdbd75"`
      schema:
        type: string
    scimStartIndex:
      name: startIndex
      in: query
      description: The 1-based index of the first query result.
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    travelPoliciesSortBy:
      name: sortBy
      in: query
      description: Sorting field.
      schema:
        allOf:
        - "$ref": "#/components/schemas/TravelPoliciesSortBy"
    usersSortBy:
      name: sortBy
      in: query
      description: Sorting field.
      schema:
        allOf:
        - "$ref": "#/components/schemas/UsersSortBy"
  requestBodies:
    createBillingProfileReq:
      description: Billing profile resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/BillingProfileReplace"
          examples:
            createBillingProfileReqExample:
              "$ref": "#/components/examples/createBillingProfileReqExample"
    patchBillingProfileReq:
      description: Billing profile resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/BillingProfilePatch"
          examples:
            patchBillingProfileReqExample:
              "$ref": "#/components/examples/patchBillingProfileReqExample"
    replaceBillingProfileReq:
      description: Billing profile resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/BillingProfileReplace"
          examples:
            replaceBillingProfileReqExample:
              "$ref": "#/components/examples/replaceBillingProfileReqExample"
    createCostCenterReq:
      description: Cost center resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CostCenterReplace"
          examples:
            createCostCenterReqExample:
              "$ref": "#/components/examples/createCostCenterReqExample"
    patchCostCenterReq:
      description: Cost center resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CostCenterPatch"
          examples:
            patchCostCenterReqExample:
              "$ref": "#/components/examples/patchCostCenterReqExample"
    replaceCostCenterReq:
      description: Cost center resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CostCenterReplace"
          examples:
            replaceCostCenterReqExample:
              "$ref": "#/components/examples/replaceCostCenterReqExample"
    createCustomFieldReq:
      description: Custom field resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CustomFieldReplace"
          examples:
            createCustomFieldReqExample:
              "$ref": "#/components/examples/createCustomFieldReqExample"
    patchCustomFieldReq:
      description: Custom field resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CustomFieldPatch"
          examples:
            patchCustomFieldReqExample:
              "$ref": "#/components/examples/patchCustomFieldReqExample"
    replaceCustomFieldReq:
      description: Custom field resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CustomFieldReplace"
          examples:
            replaceCustomFieldReqExample:
              "$ref": "#/components/examples/replaceCustomFieldReqExample"
    createCustomFieldOptionReq:
      description: Custom field option resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CustomFieldOptionReplace"
          examples:
            createCustomFieldOptionReqExample:
              "$ref": "#/components/examples/createCustomFieldOptionReqExample"
    patchCustomFieldOptionReq:
      description: Custom field option resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CustomFieldOptionPatch"
          examples:
            patchCustomFieldOptionReqExample:
              "$ref": "#/components/examples/patchCustomFieldOptionReqExample"
    replaceCustomFieldOptionReq:
      description: Custom field option resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/CustomFieldOptionReplace"
          examples:
            replaceCustomFieldOptionReqExample:
              "$ref": "#/components/examples/replaceCustomFieldOptionReqExample"
    createProjectCodeReq:
      description: Project code resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/ProjectCodeReplace"
          examples:
            createProjectCodeReqExample:
              "$ref": "#/components/examples/createProjectCodeReqExample"
    patchProjectCodeReq:
      description: Project code resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/ProjectCodePatch"
          examples:
            patchProjectCodeReqExample:
              "$ref": "#/components/examples/patchProjectCodeReqExample"
    replaceProjectCodeReq:
      description: Project code resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/ProjectCodeReplace"
          examples:
            replaceProjectCodeReqExample:
              "$ref": "#/components/examples/replaceProjectCodeReqExample"
    createTravelPolicyReq:
      description: Travel policy resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/TravelPolicyReplace"
          examples:
            createTravelPolicyReqExample:
              "$ref": "#/components/examples/createTravelPolicyReqExample"
    patchTravelPolicyReq:
      description: Travel policy resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/TravelPolicyPatch"
          examples:
            patchTravelPolicyReqExample:
              "$ref": "#/components/examples/patchTravelPolicyReqExample"
    replaceTravelPolicyReq:
      description: Travel policy resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/TravelPolicyReplace"
          examples:
            replaceTravelPolicyReqExample:
              "$ref": "#/components/examples/replaceTravelPolicyReqExample"
    createUserReq:
      description: User resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/UserPatch"
          examples:
            createUserReqExample:
              "$ref": "#/components/examples/createUserReqExample"
    patchUserReq:
      description: User resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/UserPatch"
          examples:
            patchUserReqExample:
              "$ref": "#/components/examples/patchUserReqExample"
    replaceUserReq:
      description: User resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/UserReplace"
          examples:
            replaceUserReqExample:
              "$ref": "#/components/examples/replaceUserReqExample"
    createWebhookReq:
      description: Webhook resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/WebhookReplace"
          examples:
            createWebhookReqExample:
              "$ref": "#/components/examples/createWebhookReqExample"
    patchWebhookReq:
      description: Webhook resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/WebhookPatch"
          examples:
            patchWebhookReqExample:
              "$ref": "#/components/examples/patchWebhookReqExample"
    replaceWebhookReq:
      description: Webhook resource
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                "$ref": "#/components/schemas/WebhookReplace"
          examples:
            replaceWebhookReqExample:
              "$ref": "#/components/examples/replaceWebhookReqExample"
    scimCreateUserReq:
      description: User resource
      required: true
      content:
        application/json:
          schema:
            allOf:
            - "$ref": "#/components/schemas/ScimUser"
          examples:
            scimCreateUserReqExample:
              "$ref": "#/components/examples/scimCreateUserReqExample"
    scimPatchUserReq:
      description: User resource
      required: true
      content:
        application/json:
          schema:
            allOf:
            - "$ref": "#/components/schemas/ScimPatchOp"
          examples:
            scimPatchUserReqExample:
              "$ref": "#/components/examples/scimPatchUserReqExample"
    scimReplaceUserReq:
      description: User resource
      required: true
      content:
        application/json:
          schema:
            allOf:
            - "$ref": "#/components/schemas/ScimUser"
          examples:
            scimReplaceUserReqExample:
              "$ref": "#/components/examples/scimReplaceUserReqExample"
  responses:
    listBillingOperationsResp200:
      description: Billing operations retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - meta
            properties:
              data:
                description: The retrieved billing operations.
                type: array
                items:
                  "$ref": "#/components/schemas/BillingOperation"
              meta:
                allOf:
                - "$ref": "#/components/schemas/CollectionBothPaginationsMeta"
                - "$ref": "#/components/schemas/CollectionOrderMeta"
                - "$ref": "#/components/schemas/BillingOperationsSortByMeta"
          examples:
            listBillingOperationsResp200Example:
              "$ref": "#/components/examples/listBillingOperationsResp200Example"
    getBillingOperationResp200:
      description: Billing operation retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The retrieved billing operation.
                allOf:
                - "$ref": "#/components/schemas/BillingOperation"
          examples:
            getBillingOperationResp200Example:
              "$ref": "#/components/examples/getBillingOperationResp200Example"
    listBillingProfilesResp200:
      description: Billing profiles retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - meta
            properties:
              data:
                description: The retrieved billing profiles.
                type: array
                items:
                  "$ref": "#/components/schemas/BillingProfile"
              meta:
                allOf:
                - "$ref": "#/components/schemas/CollectionOffsetPaginationMeta"
                - "$ref": "#/components/schemas/CollectionOrderMeta"
                - "$ref": "#/components/schemas/BillingProfilesSortByMeta"
          examples:
            listBillingProfilesResp200Example:
              "$ref": "#/components/examples/listBillingProfilesResp200Example"
    createBillingProfileResp201:
      description: Billing profile created
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The created billing profile.
                allOf:
                - "$ref": "#/components/schemas/BillingProfile"
          examples:
            createBillingProfileResp201Example:
              "$ref": "#/components/examples/createBillingProfileResp201Example"
    getBillingProfileResp200:
      description: Billing profile retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The retrieved billing profile.
                allOf:
                - "$ref": "#/components/schemas/BillingProfile"
          examples:
            getBillingProfileResp200Example:
              "$ref": "#/components/examples/getBillingProfileResp200Example"
    patchBillingProfileResp200:
      description: Billing profile updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated billing profile.
                allOf:
                - "$ref": "#/components/schemas/BillingProfile"
          examples:
            patchBillingProfileResp200Example:
              "$ref": "#/components/examples/patchBillingProfileResp200Example"
    replaceBillingProfileResp200:
      description: Billing profile updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated billing profile.
                allOf:
                - "$ref": "#/components/schemas/BillingProfile"
          examples:
            replaceBillingProfileResp200Example:
              "$ref": "#/components/examples/replaceBillingProfileResp200Example"
    deleteBillingProfileResp200:
      description: Billing profile deleted
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The deleted billing profile.
                allOf:
                - "$ref": "#/components/schemas/BillingProfile"
          examples:
            deleteBillingProfileResp200Example:
              "$ref": "#/components/examples/deleteBillingProfileResp200Example"
    listCostCentersResp200:
      description: Cost centers retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - meta
            properties:
              data:
                description: The retrieved cost centers.
                type: array
                items:
                  "$ref": "#/components/schemas/CostCenter"
              meta:
                allOf:
                - "$ref": "#/components/schemas/CollectionOffsetPaginationMeta"
                - "$ref": "#/components/schemas/CollectionOrderMeta"
                - "$ref": "#/components/schemas/CostCentersSortByMeta"
          examples:
            listCostCentersResp200Example:
              "$ref": "#/components/examples/listCostCentersResp200Example"
    createCostCenterResp201:
      description: Cost center created
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The created cost center.
                allOf:
                - "$ref": "#/components/schemas/CostCenter"
          examples:
            createCostCenterResp201Example:
              "$ref": "#/components/examples/createCostCenterResp201Example"
    getCostCenterResp200:
      description: Cost center retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The retrieved cost center.
                allOf:
                - "$ref": "#/components/schemas/CostCenter"
          examples:
            getCostCenterResp200Example:
              "$ref": "#/components/examples/getCostCenterResp200Example"
    patchCostCenterResp200:
      description: Cost center updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated cost center.
                allOf:
                - "$ref": "#/components/schemas/CostCenter"
          examples:
            patchCostCenterResp200Example:
              "$ref": "#/components/examples/patchCostCenterResp200Example"
    replaceCostCenterResp200:
      description: Cost center updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated cost center.
                allOf:
                - "$ref": "#/components/schemas/CostCenter"
          examples:
            replaceCostCenterResp200Example:
              "$ref": "#/components/examples/replaceCostCenterResp200Example"
    deleteCostCenterResp200:
      description: Cost center deleted
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The deleted cost center.
                allOf:
                - "$ref": "#/components/schemas/CostCenter"
          examples:
            deleteCostCenterResp200Example:
              "$ref": "#/components/examples/deleteCostCenterResp200Example"
    listCustomFieldsResp200:
      description: Custom fields retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - meta
            properties:
              data:
                description: The retrieved custom fields.
                type: array
                items:
                  "$ref": "#/components/schemas/CustomField"
              meta:
                allOf:
                - "$ref": "#/components/schemas/CollectionOffsetPaginationMeta"
                - "$ref": "#/components/schemas/CollectionOrderMeta"
                - "$ref": "#/components/schemas/CollectionSortByMeta"
          examples:
            listCustomFieldsResp200Example:
              "$ref": "#/components/examples/listCustomFieldsResp200Example"
    createCustomFieldResp201:
      description: Custom field created
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The created custom field.
                allOf:
                - "$ref": "#/components/schemas/CustomField"
          examples:
            createCustomFieldResp201Example:
              "$ref": "#/components/examples/createCustomFieldResp201Example"
    getCustomFieldResp200:
      description: Custom field retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The retrieved custom field.
                allOf:
                - "$ref": "#/components/schemas/CustomField"
          examples:
            getCustomFieldResp200Example:
              "$ref": "#/components/examples/getCustomFieldResp200Example"
    patchCustomFieldResp200:
      description: Custom field updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated custom field.
                allOf:
                - "$ref": "#/components/schemas/CustomField"
          examples:
            patchCustomFieldResp200Example:
              "$ref": "#/components/examples/patchCustomFieldResp200Example"
    replaceCustomFieldResp200:
      description: Custom field updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated custom field.
                allOf:
                - "$ref": "#/components/schemas/CustomField"
          examples:
            replaceCustomFieldResp200Example:
              "$ref": "#/components/examples/replaceCustomFieldResp200Example"
    deleteCustomFieldResp200:
      description: Custom field deleted
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The deleted custom field.
                allOf:
                - "$ref": "#/components/schemas/CustomField"
          examples:
            deleteCustomFieldResp200Example:
              "$ref": "#/components/examples/deleteCustomFieldResp200Example"
    listCustomFieldOptionsResp200:
      description: Custom field options retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - meta
            properties:
              data:
                description: The retrieved custom field options.
                type: array
                items:
                  "$ref": "#/components/schemas/CustomFieldOption"
              meta:
                allOf:
                - "$ref": "#/components/schemas/CollectionOffsetPaginationMeta"
                - "$ref": "#/components/schemas/CollectionOrderMeta"
                - "$ref": "#/components/schemas/CollectionSortByMeta"
          examples:
            listCustomFieldOptionsResp200Example:
              "$ref": "#/components/examples/listCustomFieldOptionsResp200Example"
    createCustomFieldOptionResp201:
      description: Custom field option created
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The created custom field option.
                allOf:
                - "$ref": "#/components/schemas/CustomFieldOption"
          examples:
            createCustomFieldOptionResp201Example:
              "$ref": "#/components/examples/createCustomFieldOptionResp201Example"
    getCustomFieldOptionResp200:
      description: Custom field option retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The retrieved custom field option.
                allOf:
                - "$ref": "#/components/schemas/CustomFieldOption"
          examples:
            getCustomFieldOptionResp200Example:
              "$ref": "#/components/examples/getCustomFieldOptionResp200Example"
    patchCustomFieldOptionResp200:
      description: Custom field option updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated custom field option.
                allOf:
                - "$ref": "#/components/schemas/CustomFieldOption"
          examples:
            patchCustomFieldOptionResp200Example:
              "$ref": "#/components/examples/patchCustomFieldOptionResp200Example"
    replaceCustomFieldOptionResp200:
      description: Custom field option updated
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The updated custom field option.
                allOf:
                - "$ref": "#/components/schemas/CustomFieldOption"
          examples:
            replaceCustomFieldOptionResp200Example:
              "$ref": "#/components/examples/replaceCustomFieldOptionResp200Example"
    deleteCustomFieldOptionResp200:
      description: Custom field option deleted
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            properties:
              data:
                description: The deleted custom field option.
                allOf:
                - "$ref": "#/components/schemas/CustomFieldOption"
          examples:
            deleteCustomFieldOptionResp200Example:
              "$ref": "#/components/examples/deleteCustomFieldOptionResp200Example"
    listDisputesResp200:
      description: Disputes retrieved
      content:
        application/json:
          schema:
            type: object
            required:
            - data
            - meta
            properties:
              data:
                description: The retrieved disputes.
                type: array
                items:
                  "$ref": "#/components/schemas/Dispute"
              meta:
                allOf:
                - "$ref": "#/components/schemas/CollectionOffsetPaginationMeta"
                - "$ref": "#/components/schemas/CollectionOrderMeta"
[...]
