openapi: 3.0.0
info:
  version: v1
  title: IWRest
servers:
  - url: 'https://ws.importweb.fr/IWRest'
    description: Serveur ImportWeb
tags:
  - name: Acp
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Afi
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Mot de passe portefeuille)<li>Pwd3 (Mot de passe commissions)</ul>
  - name: Afps
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Ageas
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Allianz
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Alptis
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Code responsable cabinet)</ul>
  - name: Ami3F
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Amis
    description: >-
      <span style="font-size:20px; color:red">sante-individuelle.aviva.fr</span><br><span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Apicil
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Apivia
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul><b>CodeUser</b> (Nom
      d'utilisateur) est parfois nécessaire
  - name: Apreva
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: April
    description: >-
      <span>Vous devez définir des paramètres spécifiques pour chaque sous portail d&apos;April-On</span><br><span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Asaf
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Assurea
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Assurema
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Atradius
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Autofirst
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Aviva
    description: >-
      <span style="font-size:20px; color:red">aviva-partenaires.com</span><br><span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Code responsable cabinet)</ul>
  - name: Axa
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Ptf</ul>
  - name: Axa AC
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Axa Thema
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Axelliance
    description: >-
      <span style="font-size:20px; color:red">Entoria - Axelliance</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Axeria
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Axre
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Login2 (de e-gestion)<li>Pwd2 (de e-gestion<li>Login3 (de middleware)<li>Pwd2 (de middleware</ul>
  - name: Batirisk
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Login2 (de e-gestion)<li>Pwd2 (de e-gestion<li>Login3 (de middleware)<li>Pwd2 (de middleware</ul>
  - name: BNP AC
    description: >-
      <span style="font-size:20px; color:red">BNP Assurance crédit</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Code prescripteur)</ul>
  - name: Camact
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Cardif
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Cegema
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>PTF</ul>
  - name: Cfdp
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>PTF</ul>
  - name: Coface
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Comtoo
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Courtagesysteme
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Das
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Digital
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd:<li>Login2 (pour les commissions)<li>Pwd2 (pour les commissions)</ul>
  - name: Eca
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Entoria
    description: >-
      <span style="font-size:20px; color:red">Entoria - Cipres</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Ptf</ul>
  - name: Eres
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Euler
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Eurodommages
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Fbernard
    description: >-
      <span style="font-size:20px; color:red">Fran&ccedil;ois Bernard</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Fiducial
    description: >-
      <span style="font-size:20px; color:red">Fran&ccedil;ois Bernard</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Finistere
    description: >-
      <span style="font-size:20px; color:red">Le Finistère</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Fma
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Gan
    description: >-
      <span style="font-size:20px; color:red">Gan Vie</span><br><span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Generali IARD
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>Vous devez
      associer votre compte FUE avec celui de LEA
  - name: Generali Vie
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Gmc
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Gsmc
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Groupama_ac
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Groupama_pj
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Harmonie
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Henner
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Hodeva
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Intencial
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Klesia
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Lafrancaise
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Lamondiale
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Leader
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Login2 (de e-gestion)<li>Pwd2 (de e-gestion<li>Login3 (de middleware)<li>Pwd2 (de middleware</ul>
  - name: Lifeside
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Luxior
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Malakoff
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login</ul>
  - name: Maxance
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>CodeUser (EMail)</ul>
  - name: Metlife
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Login2 (EMail des commissions)<li>Pwd2 (Mot de passe des commissions)</ul>
  - name: Mgs
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>CodeUser (Code)</ul>
  - name: Midiassur
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Miel
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Mma
    description: >-
      <span style="font-size:20px; color:red">MMA Vie</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Neoliane
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Netvox
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Nomineo
    description: >-
      <span style="font-size:20px; color:red">Generali patrimoine</span><br><span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Nortia
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Novelia
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Oddo
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Premavals
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Primonial
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Rcdpro
    description: >-
      <span style="font-size:20px; color:blue">Paramètres nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Repam
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Reunica
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Sada
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Selection1818
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Serenis
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Simplifieurs
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login (adresse mail)<li>Pwd</ul>
  - name: Simulassur
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Mot de passe de commission)</ul>
  - name: Smatis
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Sollyazar
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: SosMalus
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Swisslife
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>Si vous êtes agent, indiquez le parametre <b>IsAgent=1</b>
  - name: Thelem
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Unim
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Mot de passe des commissions)</ul>
  - name: Utwin
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd<li>Pwd2 (Mot de passe des commissions)</ul>
  - name: Vieplus
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Wazari
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Xenassur
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
  - name: Zephir
    description: >-
      <span style="font-size:20px; color:blue">Paramètres
      nécessaires</span><br><ul><b>Param</b> :<li>Login<li>Pwd</ul>
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  parameters:
    idC:
      name: id
      in: path
      required: true
      description: Numéro de la police recherchée.
      schema:
        type: string
        minimum: 1
    idB:
      name: id
      in: path
      required: true
      description: Date du bordereau à télécharger.
      schema:
        type: string
      example: '01012020'
  requestBodies:
    parametres0:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres0'
    parametres0e:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres0e'
    parametres1:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres1'
    parametres1e:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres1e'
    parametres2:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres2'
    parametres2e:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres2e'
    parametres:
      required: true
      description: Paramètres optionnels demandés par l'extranet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/parametres'
  schemas:
    parametres0:
      type: object
      properties:
        Login:
          type: string
        Pwd:
          type: string
    parametres0e:
      type: object
      properties:
        Login:
          type: string
        Pwd:
          type: string
        ComEncours:
          type: string
          description: 1 si on ajoute les commissions d'encours aux commissions récurrentes (optionnel).
    parametres1:
      type: object
      properties:
        Login:
          type: string
        Pwd:
          type: string
        PTF: 
          description: Code du portfeuille si plusieurs possibles (optionnel).
          type: string
    parametres1e:
      type: object
      properties:
        Login:
          type: string
        Pwd:
          type: string
        PTF: 
          description: Code du portfeuille si plusieurs possibles (optionnel).
          type: string
        ComEncours:
          type: string
          description: 1 si on ajoute les commissions d'encours aux commissions récurrentes (optionnel).
    parametres2:
      type: object
      properties:
        Login:
          type: string
        Pwd:
          type: string
        Pwd2:
          type: string
          description: Second mot de passe.
    parametres2e:
      type: object
      properties:
        Login:
          type: string
        Pwd:
          type: string
        Pwd2:
          type: string
          description: Second mot de passe.
        ComEncours:
          type: string
          description: 1 si on ajoute les commissions d'encours aux commissions récurrentes (optionnel).
    parametres:
      type: object
      properties:
        Login:
          type: string
          description: Login de l'extranet.
        Pwd:
          type: string
          description: Mot de passe de l'extranet.
        CodeUser:
          type: string
          description: Code utilisateur (optionnel).
        Login2:
          type: string
          description: Second login (optionnel).
        Pwd2:
          type: string
          description: Second mot de passe (optionnel).
        Login3:
          type: string
          description: 3e login (optionnel).
        Pwd3:
          type: string
          description: 3e mot de passe (optionnel).
        PTF:
          type: string
          description: Code du portfeuille si plusieurs possibles (optionnel).
        IsAgent:
          type: string
          description: 1 si Agent (Swisslife) (optionnel).
        ComEncours:
          type: string
          description: 1 si on ajoute les commissions d'encours aux commissions récurrentes (optionnel).
        UnBordMois:
          type: string
          description: 1 bordereau par mois (Swisslife) (optionnel).
        ParamCie:
          type: string
          description: Autres paramètres non définis dans les autres propriétés (optionnel).
    ParamCie:
      type: object
      properties:
        Nom:
          type: string
        Objet:
          type: string
          enum:
            - TextBox
            - ComboBox
            - CheckBox
          description: Objet à créer.
        Description:
          type: string
        Type:
          type: string
          description: Type de données (C)aractères, (N)ombre, (D)ate, (L)ogique.
        Taille:
          format: int32
          type: integer
          description: Nb de caractères ou de chiffres de la données à saisir.
        Decimale:
          format: int32
          type: integer
          description: Nb de décimales si c'est un nombre.
        Enabled:
          type: boolean
          description: Objet actif ougrisé.
        Obligatoire:
          type: boolean
          description: Saisie obligatoire.
        ListeValeur:
          type: string
          description: Liste des valeurs d'une combo séparées par ,. Il peut y avoir 1 ou 2 colonnes
        BoundColumn:
          format: int32
          type: integer
          description: Colonne de la combo contenant la donnée à mémoriser.
    Contrat:
      type: object
      properties:
        client_typeclient:
          format: int32
          type: integer
          enum:
            - 0 ! Inconnu
            - 1 ! Monsieur
            - 2 : Madame
            - 3 : Mademoiselle
            - 4 : Société
        client_nom:
          type: string
        client_prenom:
          type: string
        client_adresse:
          type: string
        client_adressesuite:
          type: string
        client_codepostal:
          type: string
        client_ville:
          type: string
        client_pays:
          type: string
        client_numero:
          type: string
        client_telephone:
          type: string
        client_mobile:
          type: string
        client_telephonepro:
          type: string
        client_email:
          type: string
        client_nom_jeune_fille:
          type: string
        client_date_naissance:
          format: date-time
          type: string
        client_lieu_naissance:
          type: string
        client_nationlite:
          type: string
        client_regime:
          type: string
        client_activite:
          type: string
        client_nb_salaries:
          format: int32
          type: integer
        client_siret:
          type: string
        client_naf:
          type: string
        client_notes:
          type: string
        client_detail:
          type: string
        police_numero_police_cie:
          type: string
        police_numero_avenant:
          type: string
        police_ptfcie:
          type: string
        police_type:
          type: string
        police_libelle:
          type: string
        police_branche:
          type: string
        police_produit:
          type: string
        police_formule:
          type: string
        police_ptf:
          type: string
        police_date_souscription:
          format: date-time
          type: string
        police_date_effetan:
          format: date-time
          type: string
        police_date_effet:
          format: date-time
          type: string
        police_date_anniversaire:
          format: date-time
          type: string
        police_date_prochaine:
          format: date-time
          type: string
        police_date_date_fin:
          format: date-time
          type: string
        police_fraction:
          type: string
        police_mode_paiement:
          type: string
        police_paie_direct_cie:
          format: int32
          type: integer
        police_renouvellement:
          format: int32
          type: integer
        police_prime:
          format: double
          type: number
        police_primean:
          format: double
          type: number
        police_cp:
          format: double
          type: number
        police_taxes:
          format: double
          type: number
        police_tauxcomcie:
          format: double
          type: number
        police_commission:
          format: double
          type: number
        police_coman:
          format: double
          type: number
        police_risque_nom:
          type: string
        police_risque_adresse:
          type: string
        police_risque_adressesuite:
          type: string
        police_risque_codepostal:
          type: string
        police_risque_ville:
          type: string
        police_risque_pays:
          type: string
        police_risque_telephone:
          type: string
        police_garanties:
          type: string
        police_franchises:
          type: string
        police_infos:
          type: string
          description: Informations générales sur le contrat.
        police_detail:
          type: string
          description: Données structurées selon les formats définis.
        police_html:
          type: string
        Documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
        Affilies:
          type: array
          items:
            $ref: '#/components/schemas/Affilie'
        Parcs:
          type: array
          items:
            $ref: '#/components/schemas/Parc'
        Fonds:
          type: array
          items:
            $ref: '#/components/schemas/Fonds'
        Mvts:
          type: array
          items:
            $ref: '#/components/schemas/Fonds_Mvt'
    Document:
      type: object
      properties:
        Url:
          type: string
        Titre:
          type: string
        Ext:
          type: string
    Affilie:
      type: object
      properties:
        Num_Affilie:
          type: string
        Num_Adherent:
          type: string
        TypeClient:
          type: integer
          format: int32
          enum:
            - 0 ! Inconnu
            - 1 ! Monsieur
            - 2 ! Madame
            - 3 ! Mademoiselle
            - 4 ! Société
        Nom:
          type: string
        Prenom:
          type: string
        Adresse:
          type: string
        AdresseSuite:
          type: string
        CodePostal:
          type: string
        Ville:
          type: string
        Pays:
          type: string
        Telephone:
          type: string
        Mobile:
          type: string
        Email:
          type: string
        Date_Naissance:
          format: date-time
          type: string
        Date_Entree:
          format: date-time
          type: string
        Num_Insee:
          type: string
        Qualite:
          type: string
          enum:
            - A ! Assuré
            - C ! Conjoint
            - E ! Enfant
        Lien_Assure:
          type: string
          enum:
            - S ! Lié au souscripteur
            - C ! Lié au conjoint
        Regime:
          type: string
        Formule:
          type: string
        Garanties:
          type: string
    Parc:
      type: object
      properties:
        id:
          format: int32
          type: integer
        marque:
          type: string
        modele:
          type: string
        version:
          type: string
        immatriculation:
          type: string
        type:
          type: string
        genre:
          type: string
        energie:
          type: string
        numserie:
          type: string
        mines:
          type: string
        puissance:
          type: string
        charge_u:
          type: string
        nbplaces:
          type: string
        usage:
          type: string
        formule:
          type: string
        garanties:
          type: string
        franchises:
          type: string
        valeur:
          format: double
          type: number
        valeurneuve:
          format: double
          type: number
        prime:
          format: double
          type: number
        cp:
          format: double
          type: number
        taxes:
          format: double
          type: number
        date_entree:
          format: date-time
          type: string
        date_sortie:
          format: date-time
          type: string
        datepremiere:
          format: date-time
          type: string
        dateachat:
          format: date-time
          type: string
        codesra:
          type: string
        classe:
          type: string
        groupe:
          type: string
        notes:
          type: string
    Fonds:
      type: object
      properties:
        type:
          type: string
          enum:
            - U ! Unité de compte
            - E ! Fonds euros
        code_isin:
          type: string
        libelle:
          type: string
        nbparts:
          format: double
          type: number
        valpart:
          format: double
          type: number
        dateval:
          format: date-time
          type: string
        montant:
          format: double
          type: number
        pourcent:
          format: double
          type: number
        pam:
          format: double
          type: number
          description: Prix d'achat moyen.
    Fonds_Mvt:
      type: object
      properties:
        date:
          format: date-time
          type: string
        libelle:
          type: string
        net:
          format: double
          type: number
        brut:
          format: double
          type: number
        type:
          type: string
          enum:
            - R ! Retrait
            - V ! Versement
            - C ! Frais
            - G ! Gestion
            - A ! Avance
            - T ! Transfert
    Bordereau:
      properties:
        Numéro de police:
          type: string
        Date du terme:
          type: string
        Prime:
          type: string
          description: Prime  (HT ou TTC).
        Commission:
          type: string
        Client:
          type: string
        Indice:
          type: string
        Bonus:
          type: string
        Portefeuille:
          type: string
        Section:
          type: string
        Type:
          type: string
          enum:
            - E ! émissions
            - R ! commissions
            - I ! impayés
        Categorie:
          type: string
          enum:
            - T ! Précompte
            - A ! Apport
            - vide ! autre
        PrimeHT:
          type: string
          description: Prime H.T..
        Coûts de police:
          type: string
        Infos:
          type: string
        Début de garanties:
          type: string
        Fin de garanties:
          type: string
        Taux de com:
          type: string
        Type impayé :
          type: string
          enum:
            - RE1 ! 1e relance
            - SUS ! suspension
            - MED ! mise en demeure
            - CON ! contentieux
            - RES ! résiliation
        Encours ou  total Impayés:
          type: string
        Confie:
          type: string
          enum:
            - O ! Confié
            - vide ! inconnu
        Devise:
          type: string
        CatNat:
          type: string
        Attentats:
          type: string
        IdFile:
          type: number
    Erreur:
      type: object
      properties:
        ErrorCode:
          type: integer
          description: Codification des erreurs (voir tableau).
          enum:
            - 1 ! Numéro de contrat absent
            - 2 ! Fonctionnalité non disponible
            - 3 ! Erreur de traitement
            - 4 ! Le N° ne correspond à aucun contrat
            - 5 ! Date du bordereau erronée
            - 7 ! Erreur de paramétrage
            - 8 ! Erreur d'identifiants
            - 10 ! Vous devez modifier votre mot de passe sur le portail
            - 13 ! Fichier vide
            - 15 ! Portefeuille inconnu
            - 17 ! Code courtier inconnu
            - 18 ! Erreur d'identifiants secondaires
            - 20 ! Pas de bordereau en date demandée
            - 21 ! Session occupée, fermez la page dans votre navigateur
            - 22 ! Extranet indisponible
            - 23 ! Procédure en maintenance
            - 24 ! Page vide, Réessayez
            - 25 ! Le contrat est résilié
            - 26 ! Vous n'avez pas accès aux bordereaux
            - 27 ! Accès refusé
            - 28 ! Compte bloqué
        ErrorLib:
          type: string
          description: Message d'erreur à afficher à l'utilisateur.
        Alerte:
          type: string
        Action:
          type: string
          enum:
            - Contrat
            - Commissions
            - Emissions
            - Impayes
          description: Action demandée
        ParamAction:
          type: string
          description: Paramètre de l'action = N° du contrat ou date du bordereau.
        Methode:
          type: string
          description: Dernière méthode en cours d'exécution.
        NumLigne:
          type: string
          description: Numéro de la oigne si connue.
        Error:
          type: string
        ErrorHTTP:
          type: string
          description: Message d'erreur de l'API.
        Etape:
          type: string
          description: Etape du traitement en cours.
        BordDates:
          type: string
          description: Liste des dates des bordereaux disponibles si aucun à la date demandée.
        ListeProduits:
          type: string
          description: Liste des produits permettant d'affiner la recherche.
        DLL:
          type: string
          description: Date de la DLL de Windows utilsiée.
        Trace:
          type: string
          description: Pile d'exécution.
        Champ:
          type: string
        DateIW:
          type: string
          description: Date de la mise à jour.
security:
  - BasicAuth: []
paths:
  '/v1/acp':
    options:
      tags:
        - Acp
      summary: Retourne la liste des paramètres spécifiques
      operationId: Acp_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Acp
      summary: Vérifie les codes d'accès au site
      operationId: Acp_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/acp/Commissions/{id}':
    post:
      tags:
        - Acp
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Acp_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/afi':
    options:
      tags:
        - Afi
      summary: Retourne la liste des paramètres spécifiques
      operationId: Afi_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Afi
      summary: Vérifie les codes d'accès au site
      operationId: Afi_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/afi/Contrat/{id}':
    post:
      tags:
        - Afi
      summary: Retourne le contrat
      operationId: Afi_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/afi/Commissions/{id}':
    post:
      tags:
        - Afi
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Afi_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/afps':
    options:
      tags:
        - Afps
      summary: Retourne la liste des paramètres spécifiques
      operationId: Afps_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Afps
      summary: Vérifie les codes d'accès au site
      operationId: Afps_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/afps/Contrat/{id}':
    post:
      tags:
        - Afps
      summary: Retourne le contrat
      operationId: Afps_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/afps/Commissions/{id}':
    post:
      tags:
        - Afps
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Afps_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/afps/Impayes/{id}':
    post:
      tags:
        - Afps
      summary: Retourne le bordereau des impayés au format texte délimité TAB
      operationId: Afps_Impayes
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/ageas':
    options:
      tags:
        - Ageas
      summary: Retourne la liste des paramètres spécifiques
      operationId: Ageas_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Ageas
      summary: Vérifie les codes d'accès au site
      operationId: Ageas_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/ageas/Contrat/{id}':
    post:
      tags:
        - Ageas
      summary: Retourne le contrat
      operationId: Ageas_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/ageas/Commissions/{id}':
    post:
      tags:
        - Ageas
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)<br>Vous pouvez indiquer le paramètre <b>ComEncours</b> si vous souhaitez récupérer les commissions d'encours avec celles de récurrence
      operationId: Ageas_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/ageas/Encours/{id}':
    post:
      tags:
        - Ageas
      summary: Retourne le bordereau des encours au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)
      operationId: Ageas_Encours
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/allianz':
    options:
      tags:
        - Allianz
      summary: Retourne la liste des paramètres spécifiques
      operationId: Allianz_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Allianz
      summary: Vérifie les codes d'accès au site
      operationId: Allianz_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/allianz/{option}/Contrat/{id}':
    post:
      tags:
        - Allianz
      summary: Retourne le contrat
      operationId: Allianz_Contrat
      parameters:
        - name: option
          in: path
          description: '1 pour Automobile, 2 pour IRD, 3 pour Santé, 4 pour Affiliés santé, 5 pour Vie'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/allianz/{option}/Commissions/{id}':
    post:
      tags:
        - Allianz
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      description: Cela ne fonctionne que pour le portail Vie, Option = 5
      operationId: Allianz_Commissions
      parameters:
        - name: option
          in: path
          description: '1 pour Automobile, 2 pour IRD, 3 pour Santé, 4 pour Affiliés santé, 5 pour Vie'
          required: true
          schema:
            type: integer
            enum:
              - 5
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/allianz/{option}/Emissions/{id}':
    post:
      tags:
        - Allianz
      summary: Retourne le bordereau des émissions au format texte délimité TAB
      operationId: Allianz_Emissions
      parameters:
        - name: option
          in: path
          description: '1 pour IARD'
          required: true
          schema:
            type: integer
            enum:
              - 1
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/alptis':
    options:
      tags:
        - Alptis
      summary: Retourne la liste des paramètres spécifiques
      operationId: Alptis_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Alptis
      summary: Vérifie les codes d'accès au site
      operationId: Alptis_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/alptis/Contrat/{id}':
    post:
      tags:
        - Alptis
      summary: Retourne le contrat
      operationId: Alptis_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/alptis/Commissions/{id}':
    post:
      tags:
        - Alptis
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)<br>Vous pouvez indiquer le paramètre <b>ComEncours</b> si vous souhaitez récupérer les commissions d'encours avec celles de récurrence
      operationId: Alptis_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/ami3f':
    options:
      tags:
        - Ami3F
      summary: Retourne la liste des paramètres spécifiques
      operationId: Ami3f_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Ami3F
      summary: Vérifie les codes d'accès au site
      operationId: Ami3F_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/ami3f/Contrat/{id}':
    post:
      tags:
        - Ami3F
      summary: Retourne le contrat
      operationId: Ami3f_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/ami3f/Commissions/{id}':
    post:
      tags:
        - Ami3F
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Ami3f_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/amis':
    options:
      tags:
        - Amis
      summary: Retourne la liste des paramètres spécifiques
      operationId: Amis_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Amis
      summary: Vérifie les codes d'accès au site
      operationId: Amis_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/amis/Contrat/{id}':
    post:
      tags:
        - Amis
      summary: Retourne le contrat
      operationId: Amis_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/amis/Commissions/{id}':
    post:
      tags:
        - Amis
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)<br>Vous pouvez indiquer le paramètre <b>ComEncours</b> si vous souhaitez récupérer les commissions d'encours avec celles de récurrence
      operationId: Amis_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/amis/Impayes/{id}':
    post:
      tags:
        - Amis
      summary: Retourne le bordereau des impayés au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)<br>Vous pouvez indiquer le paramètre <b>ComEncours</b> si vous souhaitez récupérer les commissions d'encours avec celles de récurrence
      operationId: Amis_Impayes
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apicil':
    options:
      tags:
        - Apicil
      summary: Retourne la liste des paramètres spécifiques
      operationId: Apicil_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Apicil
      summary: Vérifie les codes d'accès au site
      operationId: Apicil_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apicil/{option}/Contrat/{id}':
    post:
      tags:
        - Apicil
      summary: Retourne le contrat
      operationId: Apicil_Contrat
      parameters:
        - name: option
          in: path
          description: '1 pour Automobile, 2 pour IRD, 3 pour Affiliés santé'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/apicil/{option}/Commissions/{id}':
    post:
      tags:
        - Apicil
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Apicil_Commissions
      parameters:
        - name: option
          in: path
          description: '1 pour IARD'
          required: true
          schema:
            type: integer
            enum:
              - 1
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apivia':
    options:
      tags:
        - Apivia
      summary: Retourne la liste des paramètres spécifiques
      operationId: Apivia_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Apivia
      summary: Vérifie les codes d'accès au site
      operationId: Apivia_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apivia/{option}/Contrat/{id}':
    post:
      tags:
        - Apivia
      summary: Retourne le contrat
      operationId: Apivia_Contrat
      parameters:
        - name: option
          in: path
          description: '1 pour Santé, 2 pour IARD'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/apivia/{option}/Commissions/{id}':
    post:
      tags:
        - Apivia
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Apivia_Commissions
      parameters:
        - name: option
          in: path
          description: '1 pour Santé, 2 pour IARD'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apivia/{option}/Emissions/{id}':
    post:
      tags:
        - Apivia
      summary: Retourne le bordereau des émissions au format texte délimité TAB
      operationId: Apivia_Emissions
      parameters:
        - name: option
          in: path
          description: '1 pour Santé, 2 pour IARD'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apivia/{option}/Impayes/{id}':
    post:
      tags:
        - Apivia
      summary: Retourne le bordereau des impayés au format texte délimité TAB
      operationId: Apivia_Impayes
      parameters:
        - name: option
          in: path
          description: '1 pour Santé, 2 pour IARD'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apreva':
    options:
      tags:
        - Apreva
      summary: Retourne la liste des paramètres spécifiques
      operationId: Apreva_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Apreva
      summary: Vérifie les codes d'accès au site
      operationId: Apreva_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/apreva/Contrat/{id}':
    post:
      tags:
        - Apreva
      summary: Retourne le contrat
      operationId: Apreva_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/apreva/Commissions/{id}':
    post:
      tags:
        - Apreva
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Apreva_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/april':
    options:
      tags:
        - April
      summary: Retourne la liste des paramètres spécifiques
      operationId: April_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - April
      summary: Vérifie les codes d'accès au site
      operationId: April_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/april/{option}/Contrat/{id}':
    post:
      tags:
        - April
      summary: Retourne le contrat
      operationId: April_Contrat
      parameters:
        - name: option
          in: path
          description: '3:April Santé Prévoyance,7:April Entreprise Prévoyance,2:APRIL International Care France,1:April Partenaires,4:April Moto,14:April Marine,8:April Immobilier,9:April Entreprise solutions'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 7
              - 8
              - 9
              - 14
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/april/{option}/Commissions/{id}':
    post:
      tags:
        - April
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      description: Le Pwd2 est nécessaire pour April Santé, Entreprise Prévoyance, Partenaires<br>Sur April mobilité ou santé, si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)<br>Vous pouvez indiquer le paramètre <b>ComEncours</b> si vous souhaitez récupérer les commissions d'encours avec celles de récurrence
      operationId: April_Commissions
      parameters:
        - name: option
          in: path
          description: '3:April Santé Prévoyance,7:April Entreprise Prévoyance,2:APRIL International Care France,1:April Partenaires,4:April Moto,14:April Marine,8:April Immobilier'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
              - 7
              - 8
              - 14
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/april/{option}/Impayes/{id}':
    post:
      tags:
        - April
      summary: Retourne le bordereau des impayés au format texte délimité TAB
      operationId: April_Impayes
      parameters:
        - name: option
          in: path
          description: '3:April Santé Prévoyance,1:April Partenaires,4:April Moto'
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 3
              - 4
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/asaf':
    options:
      tags:
        - Asaf
      summary: Retourne la liste des paramètres spécifiques
      operationId: Asaf_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Asaf
      summary: Vérifie les codes d'accès au site
      operationId: Asaf_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/asaf/Contrat/{id}':
    post:
      tags:
        - Asaf
      summary: Retourne le contrat
      operationId: Asaf_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/asaf/Commissions/{id}':
    post:
      tags:
        - Asaf
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Asaf_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/asaf/Impayes/{id}':
    post:
      tags:
        - Asaf
      summary: Retourne le bordereau des impayés au format texte délimité TAB
      operationId: Asaf_Impayes
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/assurea':
    options:
      tags:
        - Assurea
      summary: Retourne la liste des paramètres spécifiques
      operationId: Assurea_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Assurea
      summary: Vérifie les codes d'accès au site
      operationId: Assurea_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/assurea/Contrat/{id}':
    post:
      tags:
        - Assurea
      summary: Retourne le contrat
      operationId: Assurea_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/assurea/Commissions/{id}':
    post:
      tags:
        - Assurea
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Assurea_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/assurema':
    options:
      tags:
        - Assurema
      summary: Retourne la liste des paramètres spécifiques
      operationId: Assurema_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Assurema
      summary: Vérifie les codes d'accès au site
      operationId: Assurema_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/assurema/Contrat/{id}':
    post:
      tags:
        - Assurema
      summary: Retourne le contrat
      operationId: Assurema_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/assurema/Commissions/{id}':
    post:
      tags:
        - Assurema
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Assurema_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/atradius':
    options:
      tags:
        - Atradius
      summary: Retourne la liste des paramètres spécifiques
      operationId: Atradius_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Atradius
      summary: Vérifie les codes d'accès au site
      operationId: Atradius_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/atradius/Contrat/{id}':
    post:
      tags:
        - Atradius
      summary: Retourne le contrat
      operationId: Atradius_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/atradius/Commissions/{id}':
    post:
      tags:
        - Atradius
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Atradius_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/autofirst':
    options:
      tags:
        - Autofirst
      summary: Retourne la liste des paramètres spécifiques
      operationId: Autofirst_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Autofirst
      summary: Vérifie les codes d'accès au site
      operationId: Autofirst_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/autofirst/Contrat/{id}':
    post:
      tags:
        - Autofirst
      summary: Retourne le contrat
      operationId: Autofirst_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/autofirst/Commissions/{id}':
    post:
      tags:
        - Autofirst
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      operationId: Autofirst_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/aviva':
    options:
      tags:
        - Aviva
      summary: Retourne la liste des paramètres spécifiques
      operationId: Aviva_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Aviva
      summary: Vérifie les codes d'accès au site
      operationId: Aviva_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres2'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/aviva/Contrat/{id}':
    post:
      tags:
        - Aviva
      summary: Retourne le contrat
      operationId: Aviva_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/aviva/Commissions/{id}':
    post:
      tags:
        - Aviva
      summary: Retourne le bordereau des commissions au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)<br>Vous pouvez indiquer le paramètre <b>ComEncours</b> si vous souhaitez récupérer les commissions d'encours avec celles de récurrence
      operationId: Aviva_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres2e'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/aviva/Encours/{id}':
    post:
      tags:
        - Aviva
      summary: Retourne le bordereau des encours au format texte délimité TAB
      description: Si vous ne voulez pas tous les portefeuilles, indiquez <B>PTF</B> avec la liste des portefeuilles séparés par une virgule (,)
      operationId: Aviva_Encours
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres2'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/axa':
    options:
      tags:
        - Axa
      summary: Retourne la liste des paramètres spécifiques
      operationId: Axa_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Axa
      summary: Vérifie les codes d'accès au site
      operationId: Axa_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/axa/Contrat/{id}':
    post:
      tags:
        - Axa
      summary: Retourne le contrat
      description: Paramètre PTF = si vous avez plusieurs portefeuilles, il faut en définir un seul
      operationId: Axa_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contrat'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
  '/v1/axa/Commissions/{id}':
    post:
      tags:
        - Axa
      summary: Retourne le bordereau des émissions au format texte délimité TAB
      operationId: Axa_Commissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/axa/Emissions/{id}':
    post:
      tags:
        - Axa
      summary: Retourne le bordereau des émissions au format texte délimité TAB
      operationId: Axa_Emissions
      parameters:
        - $ref: '#/components/parameters/idB'
      requestBody:
        $ref: '#/components/requestBodies/parametres1'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/axa_ac':
    options:
      tags:
        - Axa AC
      summary: Retourne la liste des paramètres spécifiques
      operationId: Axa_ac_Get
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ParamCie'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
    put:
      tags:
        - Axa AC
      summary: Vérifie les codes d'accès au site
      operationId: Axa_ac_Put
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erreur'
        '403':
          description: Forbidden - Erreur de paramètre
          content:
            text/plain:
              schema:
                type: string
  '/v1/axa_ac/Contrat/{id}':
    post:
      tags:
        - Axa AC
      summary: Retourne le contrat
      description: Paramètre PTF = si vous avez plusieurs portefeuilles, il faut en définir un seul
      operationId: Axa_ac_Contrat
      parameters:
        - $ref: '#/components/parameters/idC'
      requestBody:
        $ref: '#/components/requestBodies/parametres0'
      responses:
        '200':
          description: OK
[...]
