---
swagger: '2.0'
info:
  title: Hiboutik Rest API
  contact:
    name: Le Hibou
    url: https://demoapi.hiboutik.com/api/
  version: '2.0'
host: demoapi.hiboutik.com
basePath: "/api"
schemes:
- https
consumes:
- application/x-www-form-urlencoded
- application/json
produces:
- application/json
paths:
  "/action_links":
    get:
      tags:
      - action_links
      summary: Returns action links/buttons
      description: 'Returns action links/buttons<br />Scope for public applications
        : none'
      operationId: api.action_links.get
      produces:
      - application/json
      responses:
        '200':
          description: Action buttons
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/action_links/":
    post:
      tags:
      - action_links
      summary: Add an action link/button
      description: Add an action link/button
      operationId: api.action_links.add
      produces:
      - application/json
      parameters:
      - name: action_link_label
        in: formData
        description: The text that will appear to the merchant. It should be task
          oriented, and not just the name of your app.
        required: true
        type: string
      - name: action_link_location
        in: formData
        description: The page where this link should appear to the merchant. Try to
          place it only where it makes logical sense for the user. In general, avoid
          adding admin links to every page.
        required: true
        type: string
        enum:
        - sale
        - product
        - salebtn
        - stock_order
        - customer
        - timestamp
        - main_menu
        - stock_transfer
        - salebtnleft
        - dailystats
        - sale_line_item
        - kitchen_screen
      - name: action_link_url
        in: formData
        description: The URL where your app is hosted, or a specific URL for this
          task. If your url is non valid or if it drops an error, your action will
          be blocked
        required: true
        type: string
      - name: action_link_type
        in: formData
        description: 'How the url should be called. page for a simple link, embedded
          to appear within a frame in the application or silent for a curl-like scheme.
          Possible values : silent , embedded, page. Default value : page'
        required: false
        type: string
        enum:
        - page
        - embedded
        - silent
      - name: action_link_target
        in: formData
        description: The target if action_link_type = page i.e. if your link opens
          a page outside the application. If empty, default value is _self.
        required: false
        type: string
        enum:
        - _self
        - _blank
        - _top
      - name: app_link_id
        in: formData
        description: The unique link id if used by an app (if already exists, it will
          be replaced). Max 80 chars.
        required: false
        type: string
      - name: action_link_store_id
        in: formData
        description: The store id where the link should be displayed. If value is
          0, the link will be displayed in every store. If empty, default value is
          0.
        required: false
        type: integer
      - name: action_link_user_id
        in: formData
        description: The user id For wich the link should be displayed. If value is
          0, the link will be displayed for all users. If empty, default value is
          0
        required: false
        type: integer
      responses:
        '200':
          description: Action link/button successfully added
        '500':
          description: Server Error
        '401':
          description: Unauthorized action
  "/action_link_exec/":
    post:
      tags:
      - action_links
      summary: Execute an action link/button. If the action_link_type is 0 (embeded)
        the action_link_url is triggered else action_link_url is returned
      description: Execute an action link/button
      operationId: api.action_links.exec
      produces:
      - application/json
      parameters:
      - name: action_link_id
        in: formData
        description: action_link_id
        required: true
        type: string
      - name: action_link_ressource_id
        in: formData
        description: action_link_ressource_id
        required: true
        type: string
      - name: store_id
        in: formData
        description: store_id
        required: true
        type: string
      - name: ip_address
        in: formData
        description: ip_address
        required: true
        type: string
      responses:
        '200':
          description: Action link/button successfully executed
        '500':
          description: Server Error
        '401':
          description: Unauthorized action
  "/action_links/{action_link_id}":
    delete:
      tags:
      - action_links
      summary: Delete action_link_id
      description: Delete action_link_id.
      operationId: api.action_links.delete
      produces:
      - application/json
      parameters:
      - name: action_link_id
        in: path
        description: action_link_id to delete
        required: true
        type: integer
      responses:
        '200':
          description: Action link/button successfully deleted
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/brands":
    get:
      tags:
      - brands
      summary: Returns brands by ID
      description: 'Returns brands by ID (ORDER BY brand_id DESC)<br />Scope for public
        applications : read_products<br />Results per page : 250'
      operationId: api.brands.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Brands overview
          schema:
            "$ref": "#/definitions/brands"
        '401':
          description: Unauthorized - invalid authentication
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
    put:
      tags:
      - brands
      summary: Update a brand
      description: 'Update a brand<br />Scope for public applications : write_products'
      operationId: api.brands.update
      produces:
      - application/json
      parameters:
      - name: brand_id
        in: formData
        description: ID of the brand that needs to be updated
        required: true
        type: integer
      - name: brand_name
        in: formData
        description: New name of the brand that needs to be updated
        required: false
        type: string
      responses:
        '200':
          description: Brand successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - brands
      summary: Create a new brand
      description: 'Create a new brand<br />Scope for public applications : write_products'
      operationId: api.brands.add
      produces:
      - application/json
      parameters:
      - name: brand_name
        in: formData
        description: Name of the brand that needs to be added
        required: false
        type: string
      - name: brand_ref_ext
        in: formData
        description: External reference
        required: false
        type: string
      responses:
        '201':
          description: Brand successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/calendar/events/{store_id}/{year}/{month}/{day}":
    get:
      tags:
      - calendar
      summary: Returns calendar events for store_id for a specific day
      description: 'Returns calendar events for store_id for a specific day<br />Scope
        for public applications : read_calendar_events'
      operationId: api.calendar.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      - name: year
        in: path
        description: Year
        required: true
        type: integer
      - name: month
        in: path
        description: Month
        required: true
        type: integer
      - name: day
        in: path
        description: Day
        required: true
        type: integer
      responses:
        '200':
          description: Taxes
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/calendar/event/{event_id}":
    get:
      tags:
      - calendar
      summary: Returns calendar event_id
      description: 'Returns calendar event_id<br />Scope for public applications :
        read_calendar_events'
      operationId: api.calendar.event_id.index
      produces:
      - application/json
      parameters:
      - name: event_id
        in: path
        description: event_id
        required: true
        type: integer
      responses:
        '200':
          description: Taxes
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/calendar/events/":
    post:
      tags:
      - calendar
      summary: Add a calendar event
      description: 'Add a calendar event<br />Scope for public applications : write_calendar_events'
      operationId: api.calendar.add_event
      produces:
      - application/json
      parameters:
      - name: store_id
        in: formData
        description: store_id
        required: true
        type: string
      - name: title
        in: formData
        description: title
        required: true
        type: string
      - name: start
        in: formData
        description: 'start | format : YYYY-MM-DD HH:MM:SS'
        required: true
        type: string
      - name: end
        in: formData
        description: 'end | format : YYYY-MM-DD HH:MM:SS'
        required: false
        type: string
      - name: url
        in: formData
        description: url
        required: false
        type: string
      - name: allDay
        in: formData
        description: 'allDay | format : null OR 1'
        required: false
        type: string
      - name: ressource_id
        in: formData
        description: ressource_id
        required: false
        type: string
      - name: vendor_id
        in: formData
        description: vendor_id
        required: false
        type: string
      - name: customer_id
        in: formData
        description: customer_id
        required: false
        type: string
      - name: sale_id
        in: formData
        description: sale_id
        required: false
        type: string
      - name: comments
        in: formData
        description: comments
        required: false
        type: string
      - name: color
        in: formData
        description: 'color | default : #ff6600 | regex : #[A-Fa-f0-9]'
        required: false
        type: string
      - name: textColor
        in: formData
        description: 'textColor | default : #ffffff | regex : #[A-Fa-f0-9]'
        required: false
        type: string
      responses:
        '201':
          description: Tag successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
        '400':
          description: Client error
  "/calendar/events/{id}/":
    delete:
      tags:
      - calendar
      summary: Delete a calendar event
      description: 'Delete a calendar event<br />Scope for public applications : write_calendar_events'
      operationId: api.calendar.delete_event
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: Calendar id
        required: true
        type: integer
      responses:
        '200':
          description: Event successfully deleted
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/categories":
    get:
      tags:
      - categories
      summary: Returns categories by ID
      description: 'Returns categories by ID (ORDER BY category_id DESC)<br />Scope
        for public applications : read_products<br />Results per page : 250'
      operationId: api.categories.index
      produces:
      - application/json
      parameters:
      - name: order_by
        in: query
        description: Order by
        required: false
        type: string
        enum:
        - category_id
        - category_name
        - category_id_parent
        - category_position
      - name: sort
        in: query
        description: Sort
        required: false
        type: string
        enum:
        - DESC
        - ASC
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Categories overview
          schema:
            "$ref": "#/definitions/category"
        '401':
          description: Unauthorized action
    put:
      tags:
      - categories
      summary: Update a category
      description: 'Update a category<br />Scope for public applications : write_products'
      operationId: api.categories.update
      produces:
      - application/json
      parameters:
      - name: category_id
        in: formData
        description: ID of the category that needs to be updated
        required: true
        type: integer
      - name: category_attribute
        in: formData
        description: 'One of the following category attribute : category_name, category_id_parent,
          category_enabled, category_enabled_www, category_position, category_bck_color,
          category_color, category_desc, accounting_account, category_ref_ext'
        required: true
        type: string
        enum:
        - category_name
        - category_id_parent
        - category_enabled
        - category_enabled_www
        - category_position
        - category_bck_color
        - category_color
        - category_desc
        - accounting_account
        - category_ref_ext
      - name: new_value
        in: formData
        description: New value for the category attribute
        required: false
        type: string
      responses:
        '200':
          description: Category successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - categories
      summary: Create a new category
      description: 'Create a new category<br />Scope for public applications : write_products'
      operationId: api.categories.add
      produces:
      - application/json
      parameters:
      - name: category_name
        in: formData
        description: Name of the category that needs to be added
        required: false
        type: string
      - name: category_parent_id
        in: formData
        description: Parent ID of the category that needs to be added
        required: false
        type: integer
      - name: category_enabled
        in: formData
        description: Enabled ? 0|1 (default:1)
        required: false
        type: integer
      - name: category_bck_color
        in: formData
        description: Background color (default:#FF8C00)
        required: false
        type: string
      - name: category_color
        in: formData
        description: Font color (default:#FFFFFF)
        required: false
        type: string
      - name: category_ref_ext
        in: formData
        description: External reference
        required: false
        type: string
      responses:
        '201':
          description: Brand successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/credit_notes/{store_id}":
    get:
      tags:
      - credit notes
      summary: Returns pending credit notes in a store_id
      description: 'Returns pending credit notes in a store_id<br />Scope for public
        applications : read_reports<br />Results per page : 250'
      operationId: api.credit_notes.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Open sales
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers/":
    get:
      tags:
      - customers
      summary: Returns customers by ID
      description: 'Returns customers by ID (ORDER BY customers_id DESC)<br />Scope
        for public applications : read_customers<br />Results per page : 250'
      operationId: api.customers.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Customers overview
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - customers
      summary: Create a new customer
      description: 'Create a new customer<br />Scope for public applications : write_customers'
      operationId: api.customers.add
      produces:
      - application/json
      parameters:
      - name: customers_first_name
        in: formData
        description: First name of the customer that needs to be added
        required: false
        type: string
      - name: customers_last_name
        in: formData
        description: Last name of the customer that needs to be added
        required: false
        type: string
      - name: customers_company
        in: formData
        description: Company of the customer that needs to be added
        required: false
        type: string
      - name: customers_email
        in: formData
        description: Email of the customer that needs to be added
        required: false
        type: string
      - name: customers_country
        in: formData
        description: Country of the customer that needs to be added (iso_code_3/iso_alpha3)
        required: false
        type: string
      - name: customers_tax_number
        in: formData
        description: Tax number of the customer that needs to be added
        required: false
        type: string
      - name: customers_phone_number
        in: formData
        description: Phone number of the customer that needs to be added
        required: false
        type: string
      - name: customers_birth_date
        in: formData
        description: Birth date of the customer that needs to be added (YYYY-MM-DD)
        required: false
        type: string
      - name: customers_ref_ext
        in: formData
        description: External reference
        required: false
        type: string
      - name: customers_misc
        in: formData
        description: Misc
        required: false
        type: string
      responses:
        '201':
          description: Customer successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_birthday/{month}/{day}":
    get:
      tags:
      - customers
      summary: Returns customers born on a specific day
      description: 'Returns customers born on a specific day<br />Scope for public
        applications : read_customers'
      operationId: api.customers_birthday.index
      produces:
      - application/json
      parameters:
      - name: month
        in: path
        description: Month
        required: true
        type: integer
      - name: day
        in: path
        description: Day
        required: true
        type: integer
      responses:
        '200':
          description: Customers lists
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers/lists/":
    get:
      tags:
      - customers
      summary: Returns customers lists by ID
      description: 'Returns customers lists (ORDER BY list_id DESC)<br />Scope for
        public applications : read_customers<br />Results per page : 250'
      operationId: api.customers_lists.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Customers lists overview
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers/lists/{list_id}":
    get:
      tags:
      - customers
      summary: Returns customers from a specific list
      description: 'Returns customers from a specific list<br />Scope for public applications
        : read_customers<br />Results per page : 250'
      operationId: api.customers_lists.list_id.search
      produces:
      - application/json
      parameters:
      - name: list_id
        in: path
        description: List ID
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Customers details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/number_of_customers":
    post:
      tags:
      - customers
      summary: Set number of customers in shop_id at date
      description: 'Set number of customers in shop_id at date<br />Scope for public
        applications : write_reports'
      operationId: api.customers.set_number
      produces:
      - application/json
      parameters:
      - name: number_of_customers
        in: formData
        description: Number of customers
        required: false
        type: string
      - name: date
        in: formData
        description: 'Date | format : YYYY-MM-DD'
        required: false
        type: string
      - name: shop_id
        in: formData
        description: shop_id
        required: false
        type: integer
      responses:
        '200':
          description: Number of customers successfully saved
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_addresses/{address_id}":
    get:
      tags:
      - customers
      summary: Returns details of a customer address
      description: 'Returns details of a customer address<br />Scope for public applications
        : read_customers'
      operationId: api.customers_addresses.address_id
      produces:
      - application/json
      parameters:
      - name: address_id
        in: path
        description: address_id
        required: true
        type: integer
      responses:
        '200':
          description: Sale details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    delete:
      tags:
      - customers
      summary: Delete a customer address
      description: 'Delete a customer address<br />Scope for public applications :
        write_customers'
      operationId: api.customers_addresses.delete
      produces:
      - application/json
      parameters:
      - name: address_id
        in: path
        description: address_id
        required: true
        type: integer
      responses:
        '200':
          description: Address successfully deleted
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_addresses":
    post:
      tags:
      - customers
      summary: Add a customer address
      description: 'Add a customer address<br />Scope for public applications : write_customers'
      operationId: api.customers_addresses.add
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: formData
        description: customers_id
        required: false
        type: integer
      responses:
        '201':
          description: Customer address successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_addresses/{address_id}/":
    put:
      tags:
      - customers
      summary: Update a customer address
      description: 'Update a customer address<br />Scope for public applications :
        write_customers'
      operationId: api.customers_addresses.update
      produces:
      - application/json
      parameters:
      - name: address_id
        in: path
        description: address_id
        required: true
        type: integer
      - name: address_attribute
        in: formData
        description: 'One of the following address attribute : gender (0:unknown|1:male|2:female),
          first_name, last_name, email, phone, company, address, zip_code, city, state,
          country (iso_code_3), display (0|1), other, default (0|1)'
        required: true
        type: string
        enum:
        - gender
        - first_name
        - last_name
        - email
        - phone
        - company
        - address
        - zip_code
        - city
        - state
        - country
        - display
        - other
        - default
      - name: new_value
        in: formData
        description: New value for the address attribute
        required: false
        type: string
      responses:
        '200':
          description: Product attribute successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customer/{customers_id}":
    get:
      tags:
      - customers
      summary: Returns details of a customers_id
      description: 'Returns details of a customers_id<br />Scope for public applications
        : read_customers'
      operationId: api.customer.customers_id
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: path
        description: customers_id
        required: true
        type: integer
      responses:
        '200':
          description: Customer details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    delete:
      tags:
      - customers
      summary: Delete a customer
      description: 'Delete a customer<br />Scope for public applications : write_customers'
      operationId: api.customer.delete
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: path
        description: customers_id
        required: true
        type: integer
      responses:
        '200':
          description: Customer successfully deleted
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customer/{customers_id}/products_solds/":
    get:
      tags:
      - customers
      summary: Returns products sold to a specific customers_id
      description: 'Returns products sold to a specific customers_id (ORDER BY date_z
        DESC)<br />Scope for public applications : read_customers<br />Results per
        page : 250'
      operationId: api.customer.customers_id.products_solds
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: path
        description: customers_id
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Customer details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customer/{customers_id}/":
    put:
      tags:
      - customers
      summary: Update a customer
      description: 'Update a customer<br />Scope for public applications : write_customers'
      operationId: api.customer.update
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: path
        description: ID of the customer
        required: true
        type: integer
      - name: customers_attribute
        in: formData
        description: 'One of the following customer attribute : gender (0:unknown|1:male|2:female),
          last_name, first_name, email, company, phone, vat, country, date_of_birth,
          customers_code, comments, intial_loyalty_points, validity, customers_id_referrer,
          accounting_account, customers_ref_ext, password, customers_misc'
        required: true
        type: string
        enum:
        - gender
        - last_name
        - first_name
        - email
        - company
        - phone
        - vat
        - country
        - date_of_birth
        - customers_code
        - comments
        - intial_loyalty_points
        - validity
        - customers_id_referrer
        - accounting_account
        - customers_ref_ext
        - password
        - customers_misc
      - name: new_value
        in: formData
        description: New value for the customers_attribute
        required: false
        type: string
      responses:
        '200':
          description: Customer successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_credit/{customers_id}":
    get:
      tags:
      - customers_credit
      summary: Returns store credit lines for a customers_id
      description: 'Returns store credit lines for a customers_id<br />Scope for public
        applications : read_store_credit<br />Results per page : 250'
      operationId: api.customers_credit.customers_id
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: path
        description: customers_id
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Customers store credit details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_credit/":
    post:
      tags:
      - customers_credit
      summary: Add a store credit line to a customers_id
      description: 'Add a store credit line to a customers_id<br />Scope for public
        applications : write_store_credit'
      operationId: api.customers_credit.add_line
      produces:
      - application/json
      parameters:
      - name: store_id
        in: formData
        description: Store ID
        required: true
        type: integer
      - name: customers_id
        in: formData
        description: customers_id
        required: true
        type: integer
      - name: amount
        in: formData
        description: amount
        required: true
        type: number
      - name: currency_code
        in: formData
        description: Currency. ISO 4217 currency code https://en.wikipedia.org/wiki/ISO_4217#Active_codes
        required: true
        type: string
      - name: payment_type
        in: formData
        description: payment_type
        required: true
        type: string
      - name: comments
        in: formData
        description: comments
        required: false
        type: string
      responses:
        '200':
          description: Credit line successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/tags/customers/":
    get:
      tags:
      - customers
      - tags
      summary: Returns tags for customers
      description: 'Returns tags for customers<br />Scope for public applications
        : read_customers'
      operationId: api.tags.customers
      produces:
      - application/json
      responses:
        '200':
          description: Tags
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_tags/{customer_id}":
    get:
      tags:
      - customers
      - tags
      summary: Returns tags for a specific customer_id
      description: 'Returns tags for a specific customer_id<br />Scope for public
        applications : read_customers'
      operationId: api.tags.customer_id
      produces:
      - application/json
      parameters:
      - name: customer_id
        in: path
        description: Customer ID
        required: true
        type: integer
      responses:
        '200':
          description: Tag ID
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - customers
      - tags
      summary: Add a tag to a specific customer_id
      description: 'Add a tag to a specific customer_id<br />Scope for public applications
        : write_customers'
      operationId: api.customers_tags.add
      produces:
      - application/json
      parameters:
      - name: customer_id
        in: path
        description: Customer ID for which you need to add a tag ID
        required: true
        type: integer
      - name: tag_id
        in: formData
        description: Tag ID that needs to be added
        required: true
        type: integer
      responses:
        '201':
          description: Tag successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/customers_tags/{customer_id}/{tag_id}":
    delete:
      tags:
      - customers
      - tags
      summary: Delete a tag to a specific customer_id
      description: 'Delete a tag to a specific customer_id<br />Scope for public applications
        : write_customers'
      operationId: api.customers_tags.delete
      produces:
      - application/json
      parameters:
      - name: customer_id
        in: path
        description: Customer ID for which you need to delete a tag ID
        required: true
        type: integer
      - name: tag_id
        in: path
        description: Tag ID that needs to be deleted. 0 to delete all tags
        required: true
        type: integer
      responses:
        '200':
          description: Tag successfully deleted
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/inventory_inputs/":
    get:
      tags:
      - products
      - inventory_inputs
      summary: Returns the list of stock orders
      description: 'Returns the list of stock orders<br />Scope for public applications
        : read_inventory<br />Results per page : 250'
      operationId: api.inventory_inputs.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Inventory inputs
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - products
      - inventory_inputs
      summary: Create a stock order
      description: 'Create a stock order<br />Scope for public applications : write_inventory'
      operationId: api.inventory_inputs.add
      produces:
      - application/json
      parameters:
      - name: stock_id
        in: formData
        description: Stock ID
        required: true
        type: integer
      - name: supplier_id
        in: formData
        description: Supplier ID
        required: false
        type: integer
      - name: label
        in: formData
        description: Inventory input label
        required: false
        type: string
      responses:
        '201':
          description: Customers address successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/inventory_inputs/{inventory_input_id}":
    get:
      tags:
      - products
      - inventory_inputs
      summary: Returns details of a stock order
      description: 'Returns details of a stock order<br />Scope for public applications
        : read_inventory'
      operationId: api.inventory_inputs_info.index
      produces:
      - application/json
      parameters:
      - name: inventory_input_id
        in: path
        description: inventory_input_id
        required: true
        type: integer
      responses:
        '200':
          description: Inventory input details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/inventory_input_details/{inventory_input_id}":
    get:
      tags:
      - products
      - inventory_inputs
      summary: Returns details for a stock order
      description: 'Returns details for a stock order<br />Scope for public applications
        : read_inventory'
      operationId: api.inventory_input_details.index
      produces:
      - application/json
      parameters:
      - name: inventory_input_id
        in: path
        description: Inventory input ID
        required: true
        type: integer
      responses:
        '200':
          description: Inventory input details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - products
      - inventory_inputs
      summary: Add a product line to a stock order
      description: 'Add a product line to a stock order<br />Scope for public applications
        : write_inventory'
      operationId: api.inventory_input_details.add_product
      produces:
      - application/json
      parameters:
      - name: inventory_input_id
        in: path
        description: Inventory_input ID
        required: true
        type: integer
      - name: product_id
        in: formData
        description: Product ID you need to add to inventory_input_id
        required: true
        type: integer
      - name: product_size
        in: formData
        description: Product size you need to add to inventory_input_id
        required: true
        type: integer
      - name: quantity
        in: formData
        description: Quantity (if empty value is 1)
        required: false
        type: integer
      - name: product_price
        in: formData
        description: Product supply price (if empty value will be supply price)
        required: false
        type: integer
      - name: product_serial_number
        in: formData
        description: Product serial number
        required: false
        type: integer
      responses:
        '201':
          description: Product successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/inventory_input_details/{inventory_input_detail_id}/":
    put:
      tags:
      - products
      - inventory_inputs
      summary: Update an inventory_input_detail_id
      description: 'Update an inventory_input_detail_id<br />Scope for public applications
        : write_inventory'
      operationId: api.inventory_input_detail_id.update
      produces:
      - application/json
      parameters:
      - name: inventory_input_detail_id
        in: path
        description: inventory_input_detail_id
        required: true
        type: integer
      - name: inventory_input_detail_id_attribute
        in: formData
        description: 'One of the following sale attribute : product_serial_number,
          product_price, quantity'
        required: true
        type: string
        enum:
        - product_serial_number
        - product_price
        - quantity
      - name: new_value
        in: formData
        description: New value for the inventory_input_detail_id attribute
        required: false
        type: string
      responses:
        '200':
          description: Inventory input detail attribute successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/inventory_input_validate/":
    post:
      tags:
      - products
      - inventory_inputs
      summary: Validate a stock order
      description: 'Validate a stock order<br />Scope for public applications : write_inventory'
      operationId: api.inventory_input.validate
      produces:
      - application/json
      parameters:
      - name: inventory_input_id
        in: formData
        description: Inventory input ID
        required: true
        type: integer
      responses:
        '200':
          description: Stock order successfully validated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/inventory_inputs_on_hold/":
    get:
      tags:
      - products
      - inventory_inputs
      summary: Returns the list of stock orders details on hold
      description: 'Returns the list of stock orders details on hold<br />Scope for
        public applications : read_inventory<br />Results per page : 250'
      operationId: api.inventory_inputs_on_hold.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Inventory inputs details on hold
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/open_tables":
    get:
      tags:
      - kitchen
      summary: Returns pending sales sent to kitchen
      description: 'Returns pending sales sent to kitchen<br />Scope for public applications
        : read_kitchen_screen'
      operationId: api.kitchen.open_tables
      produces:
      - application/json
      responses:
        '200':
          description: Pending open tables
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/cooking_stations":
    get:
      tags:
      - kitchen
      summary: Returns cooking stations
      description: 'Returns cooking stations<br />Scope for public applications :
        read_kitchen_screen'
      operationId: api.kitchen.cooking_stations
      produces:
      - application/json
      responses:
        '200':
          description: cooking stations
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/sales/{sale_id}":
    get:
      tags:
      - kitchen
      summary: Returns sale details
      description: 'Returns sale details<br />Scope for public applications : read_kitchen_screen'
      operationId: api.kitchen.sale_details
      produces:
      - application/json
      parameters:
      - name: sale_id
        in: path
        description: sale_id
        required: true
        type: integer
      responses:
        '200':
          description: Sale details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/line_item":
    post:
      tags:
      - kitchen
      summary: Add item to the kitchen screen
      description: 'Add item to the kitchen screen<br />Scope for public applications
        : write_kitchen_screen'
      operationId: api.kitchen.add_line_item
      produces:
      - application/json
      parameters:
      - name: item_id
        in: formData
        description: item_id
        required: true
        type: integer
      responses:
        '200':
          description: Item successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/line_items":
    post:
      tags:
      - kitchen
      summary: Add sale items to the kitchen screen
      description: 'Add item to the kitchen screen<br />Scope for public applications
        : write_kitchen_screen'
      operationId: api.kitchen.add_line_items
      produces:
      - application/json
      parameters:
      - name: sale_id
        in: formData
        description: sale_id
        required: true
        type: integer
      responses:
        '200':
          description: Sale is empty | Items successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/item_status":
    post:
      tags:
      - kitchen
      summary: Update item status
      description: 'Update item status<br />Scope for public applications : write_kitchen_screen'
      operationId: api.kitchen.update_item_status
      produces:
      - application/json
      parameters:
      - name: item_id
        in: formData
        description: item_id
        required: true
        type: integer
      - name: status
        in: formData
        description: status (0|1|2)
        required: true
        type: integer
      responses:
        '200':
          description: Item status successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/kitchen/sales/{sale_id}/":
    delete:
      tags:
      - kitchen
      summary: Delete a sale from the kitchen screen
      description: 'Delete a sale from the kitchen screen<br />Scope for public applications
        : write_kitchen_screen'
      operationId: api.kitchen.delete_sale
      produces:
      - application/json
      parameters:
      - name: sale_id
        in: path
        description: Sale id
        required: true
        type: integer
      responses:
        '200':
          description: Sale successfully deleted
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/message/":
    post:
      tags:
      - message
      summary: Post a new message
      description: Post a new message
      operationId: api.message.add
      produces:
      - application/json
      parameters:
      - name: store_id
        in: formData
        description: store_id
        required: true
        type: integer
      - name: thread
        in: formData
        description: 'One of the following types : notifications'
        required: true
        type: string
        enum:
        - notifications
      - name: object
        in: formData
        description: 'One of the following objects : none (default), sale, product,
          client, planning'
        required: true
        type: string
        enum:
        - none
        - sale
        - product
        - client
        - planning
      - name: object_id
        in: formData
        description: sale_id or product_id
        required: false
        type: integer
      - name: title
        in: formData
        description: title
        required: false
        type: string
      - name: message
        in: formData
        description: message
        required: false
        type: string
      responses:
        '200':
          description: Message successfully sent
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/modifiers/":
    get:
      tags:
      - modifiers
      summary: Returns the list of modifiers
      description: 'Returns modifiers<br />Scope for public applications : read_products'
      operationId: api.modifiers.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Modifiers
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - modifiers
      summary: Create a modifier
      description: 'Create a modifier<br />Scope for public applications : write_products'
      operationId: api.modifiers.add
      produces:
      - application/json
      parameters:
      - name: modifier_label
        in: formData
        description: Name of the modifier
        required: false
        type: string
      - name: modifier_group_id
        in: formData
        description: 'Modifier group ID to which the modifer belongs to. If 0 the
          modifier is created as a modifier group '
        required: false
        type: integer
      - name: modifier_enabled
        in: formData
        description: Enabled ? 0|1 (default:1)
        required: false
        type: integer
      - name: modifier_enabled_www
        in: formData
        description: Enabled for web ? 0|1 (default:0)
        required: false
        type: integer
      - name: modifier_required
        in: formData
        description: Required ? 0|1 (default:0) / Only if modifier_group_id == 0
        required: false
        type: integer
      - name: modifier_price
        in: formData
        description: Price / Only if modifier_group_id <> 0
        required: false
        type: string
      - name: modifier_ref_ext
        in: formData
        description: External reference
        required: false
        type: string
      responses:
        '201':
          description: Modifier successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/modifiers/{modifier_id}/":
    put:
      tags:
      - modifiers
      summary: Update a modifier
      description: 'Update a modifier<br />Scope for public applications : write_products'
      operationId: api.modifiers.update
      produces:
      - application/json
      parameters:
      - name: modifier_id
        in: path
        description: ID of the modifier
        required: true
        type: integer
      - name: modifier_attribute
        in: formData
        description: 'One of the following modifier attribute : modifier_label, modifier_group_id,
          modifier_enabled (0|1), modifier_enabled_www (0|1), modifier_required (0|1),
          modifier_price, modifier_ref_ext'
        required: true
        type: string
        enum:
        - modifier_label
        - modifier_group_id
        - modifier_enabled
        - modifier_enabled_www
        - modifier_required
        - modifier_price
        - modifier_ref_ext
      - name: new_value
        in: formData
        description: New value for the modifier_attribute
        required: false
        type: string
      responses:
        '200':
          description: Modifier successfully updated
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/payment_types/{store_id}/":
    get:
      tags:
      - payments
      summary: Returns payment types for store_id
      description: 'Returns payment types for store_id<br />Scope for public applications
        : read_settings'
      operationId: api.payment_types.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      responses:
        '200':
          description: Payment types
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/payments/due_date/{store_id}/":
    get:
      tags:
      - payments
      summary: Returns the list of payments with due dates for a specific store_id
      description: 'Returns the list of payments with due dates for a specific store_id<br
        />Scope for public applications : read_sales<br />Results per page : 250'
      operationId: api.payments_due_date.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Payment types
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/prepaid_purchases/":
    get:
      tags:
      - prepaid_purchases
      summary: Returns prepaid purchases lines
      description: 'Returns prepaid purchases lines<br />Scope for public applications
        : read_customers<br />Results per page : 250'
      operationId: api.prepaid_purchases.index
      produces:
      - application/json
      parameters:
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Prepaid purchases details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - prepaid_purchases
      summary: Add a prepaid purchase line to a customers_id
      description: 'Add a prepaid purchase line to a customers_id<br />Scope for public
        applications : write_customers'
      operationId: api.prepaid_purchases.add_line
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: formData
        description: customers_id
        required: true
        type: integer
      - name: sale_id
        in: formData
        description: sale_id
        required: true
        type: number
      - name: amount
        in: formData
        description: amount
        required: true
        type: number
      - name: currency_code
        in: formData
        description: Currency. ISO 4217 currency code https://en.wikipedia.org/wiki/ISO_4217#Active_codes
        required: true
        type: string
      - name: comments
        in: formData
        description: comments
        required: false
        type: string
      responses:
        '200':
          description: Prepaid purchase line successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/prepaid_purchases/{customers_id}":
    get:
      tags:
      - prepaid_purchases
      summary: Returns prepaid purchases lines for a customers_id
      description: 'Returns prepaid purchases lines for a customers_id<br />Scope
        for public applications : read_customers<br />Results per page : 250'
      operationId: api.prepaid_purchases.customers_id
      produces:
      - application/json
      parameters:
      - name: customers_id
        in: path
        description: customers_id
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Customers prepaid purchases details
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/print/misc/":
    post:
      tags:
      - print
      summary: Print a document
      description: 'Print a document<br />Scope for public applications : print<br
        /><br />In order to be able to print with this method you need to :<br />-
        On Hiboutik in ''General Settings'' set the public IP address of your point
        of sale. You can use a DYN DNS service if you don''t have a public static
        IP address. <br />- Set a port forwarding on you router from the port of your
        choice (the one you will fill below) to the port 9100 on your local printer'
      operationId: api.print.misc
      produces:
      - application/json
      parameters:
      - name: store_id
        in: formData
        description: Store ID
        required: true
        type: integer
      - name: ip_address
        in: formData
        description: IP address - Leave blank for default
        required: false
        type: string
      - name: port
        in: formData
        description: Port number - Leave blank for default
        required: false
        type: integer
      - name: printer
        in: formData
        description: 'One of the following : receipt, kitchen, label. If empty default
          is receipt'
        required: false
        type: string
      - name: data
        in: formData
        description: The data to print
        required: false
        type: string
      responses:
        '201':
          description: Document successfully printed
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products/":
    get:
      tags:
      - products
      summary: Returns products by ID
      description: 'Returns products (default sorting is by ID DESC)<br />Scope for
        public applications : read_products<br />Results per page : 250'
      operationId: api.products.index
      produces:
      - application/json
      parameters:
      - name: order_by
        in: query
        description: Order by
        required: false
        type: string
        enum:
        - product_id
        - product_model
        - product_price
        - product_supply_price
        - product_size_type
        - product_display
        - product_display_www
        - product_arch
        - updated_at
        - product_order
      - name: sort
        in: query
        description: Sort
        required: false
        type: string
        enum:
        - DESC
        - ASC
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Products overview
          schema:
            "$ref": "#/definitions/product"
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
    post:
      tags:
      - products
      summary: Create a new product
      description: 'Create a new product<br />Scope for public applications : write_products'
      operationId: api.products.add
      produces:
      - application/json
      parameters:
      - name: product_model
        in: formData
        description: product_model
        required: false
        type: string
      - name: product_barcode
        in: formData
        description: product_barcode
        required: false
        type: string
      - name: product_brand
        in: formData
        description: product_brand
        required: false
        type: integer
      - name: product_supplier
        in: formData
        description: product_supplier
        required: false
        type: integer
      - name: product_price
        in: formData
        description: product_price
        required: false
        type: string
      - name: product_discount_price
        in: formData
        description: product_discount_price
        required: false
        type: string
      - name: product_supply_price
        in: formData
        description: product_supply_price
        required: false
        type: string
      - name: product_category
        in: formData
        description: product_category
        required: false
        type: integer
      - name: product_size_type
        in: formData
        description: product_size_type
        required: false
        type: integer
      - name: product_stock_management
        in: formData
        description: product_stock_management
        required: false
        type: integer
      - name: product_supplier_reference
        in: formData
        description: product_supplier_reference
        required: false
        type: string
      - name: product_package
        in: formData
        description: product_package
        required: false
        type: integer
      - name: product_vat
        in: formData
        description: product_vat
        required: false
        type: integer
      - name: products_ref_ext
        in: formData
        description: External reference
        required: false
        type: string
      responses:
        '201':
          description: Product successfully created
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products_images/{product_id}/":
    post:
      tags:
      - products
      summary: Add a product image
      description: 'Add a product image<br />Scope for public applications : write_products'
      operationId: api.products_images.add
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: product_id
        in: path
        description: ID of the product
        required: true
        type: integer
      - name: image
        in: formData
        description: Image of the product. You must provide a valid square .jpeg or
          .jpg image file, no bigger than 1Mb. Final image will be resized to 100x100px.
        required: true
        type: file
      - name: framing_type
        in: formData
        description: 'One of the following line_item attribute : default, center_zoom
          or frame'
        required: false
        type: string
        enum:
        - default
        - center_zoom
        - frame
      responses:
        '200':
          description: Product image successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products_images_1000x1000/{product_id}/":
    post:
      tags:
      - products
      summary: Add a product image
      description: 'Add a product image<br />Scope for public applications : write_products'
      operationId: api.products_images_1000x1000.add
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: product_id
        in: path
        description: ID of the product
        required: true
        type: integer
      - name: image
        in: formData
        description: Image of the product. You must provide a valid square .jpeg or
          .jpg image file, no bigger than 1Mb. Final image will be resized to 1000x1000px.
        required: true
        type: file
      - name: framing_type
        in: formData
        description: 'One of the following line_item attribute : default, center_zoom
          or frame'
        required: false
        type: string
        enum:
        - default
        - center_zoom
        - frame
      - name: image_id
        in: formData
        description: You can upload up to 4 images
        required: false
        type: string
        enum:
        - '1'
        - '2'
        - '3'
        - '4'
      responses:
        '200':
          description: Product image successfully added
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '406':
          description: 'Not Acceptable - wrong ''Content-type''; accepted: ''application/x-www-form-urlencoded'',
            ''application/json'''
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products_barcode/{store_id}/{product_id}/{size_id}/":
    get:
      tags:
      - products
      summary: Returns product barcode for a store_id & product_id & size_id
      description: 'Returns product barcode for a store_id & product_id & size_id<br
        />Scope for public applications : read_products'
      operationId: api.products_barcode.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      - name: product_id
        in: path
        description: product_id
        required: true
        type: integer
      - name: size_id
        in: path
        description: size_id
        required: true
        type: integer
      responses:
        '200':
          description: Product barcode for a store_id & product_id & size_id
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products_sold/{store_id}/{year}/{month}/{day}/":
    get:
      tags:
      - products
      - sales
      summary: Returns products sold in a store_id at a specific date
      description: 'Returns products sold in a store_id at a specific date<br />Scope
        for public applications : read_reports<br />Results per page : 250'
      operationId: api.products_sold.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      - name: year
        in: path
        description: Year
        required: true
        type: integer
      - name: month
        in: path
        description: Month
        required: true
        type: integer
      - name: day
        in: path
        description: Day
        required: true
        type: integer
      - name: customer_id
        in: query
        description: customer_id
        required: false
        type: string
      - name: vendor_id
        in: query
        description: vendor_id
        required: false
        type: string
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Products solds
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products_purchased/{warehouse_id}/{year}/{month}/{day}/":
    get:
      tags:
      - products
      - inventory_inputs
      summary: Returns products purchased in a warehouse_id at a specific date
      description: 'Returns products purchased in a warehouse_id at a specific date<br
        />Scope for public applications : read_reports<br />Results per page : 250'
      operationId: api.products_purchased.index
      produces:
      - application/json
      parameters:
      - name: warehouse_id
        in: path
        description: warehouse_id
        required: true
        type: integer
      - name: year
        in: path
        description: Year
        required: true
        type: integer
      - name: month
        in: path
        description: Month
        required: true
        type: integer
      - name: day
        in: path
        description: Day
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Products solds
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '404':
          description: Not found - the resource does not exist
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/products_returned/{store_id}/{year}/{month}/{day}":
    get:
      tags:
      - reports
      summary: Returns product returned for store_id for a specific day
      description: 'Returns product returned for store_id for a specific day<br />Scope
        for public applications : read_reports<br />Results per page : 250'
      operationId: api.products_returned.index
      produces:
      - application/json
      parameters:
      - name: store_id
        in: path
        description: store_id
        required: true
        type: integer
      - name: year
        in: path
        description: Year
        required: true
        type: integer
      - name: month
        in: path
        description: Month
        required: true
        type: integer
      - name: day
        in: path
        description: Day
        required: true
        type: integer
      - name: p
        in: query
        description: Page number
        required: false
        type: string
      responses:
        '200':
          description: Report of products returned
        '401':
          description: Unauthorized - invalid authentication
          schema:
            "$ref": "#/definitions/error"
        '403':
          description: Forbidden - insufficient user rights
          schema:
            "$ref": "#/definitions/error"
        '422':
          description: Unprocessable entity - an error was encountered when parsing
            the data
          schema:
            "$ref": "#/definitions/error"
        '500':
          description: Internal server error
          schema:
            "$ref": "#/definitions/error"
  "/product/{product_id}/":
    put:
      tags:
      - products
      summary: Update a product
      description: 'Update a product<br />Scope for public applications : write_products'
      operationId: api.product.update
      produces:
      - application/json
      parameters:
      - name: product_id
        in: path
        description: ID of the product
        required: true
        type: integer
      - name: size_id
        in: formData
        description: size_id
        required: false
        type: integer
      - name: shop_id
        in: formData
        description: shop_id
        required: false
        type: integer
      - name: product_attribute
        in: formData
        description: 'One of the following product attribute : product_model, product_barcode,
[...]
