---
info:
  title: API
  version: 1.0.0
  description: |2

    [Simplified view of domain model](https://app.mapotempo.com/api/0.1/Model-simpel.svg).
    ## Model
    Model is structured around four majors concepts: the Customer account, Destinations, Vehicles and Plannings.
    * **`Customer`** (account): many of sub-objects are linked to a customer account (relating to the user calling API).
    The customer has many `Users`, each user has his own `api_key`. Be carefull not to confuse with following model `Destination`, `Customer`can only be created by a admin `User`.
    * **`Destinations`**: location points to visit with constraints. The same `Destination` can be visited several times: in this case several `Visits` are associated to one `Destination`.
    * **`Vehicles`**: vehicles definition are splited in two parts:
     * the structural definition named `Vehicle` (car, truck, bike, capacities, consumption, etc.)
     * and the vehicle usage `VehicleUsage`, a specific usage of a physical vehicle in a specific context. Vehicles can be used in many contexts called `VehicleUsageSet` (set of all vehicles usages under a context). Multiple values are only available if dedicated option for customer is active. For instance, if customer needs to use its vehicle 2 times per day (morning and evening), he needs 2 `VehicleUsageSet` called "Morning" and "Evening" : each can have different values defined for stores, rest, etc... `VehicleUsageSet` defines default values for vehicle usage.
    * **`Plannings`**: `Planning` is a set of `Routes` to `Visit` `Destinations` with `Vehicle` within a `VehicleUsageSet` context.
    A route is a track between all destinations reached by a vehicle (a new route is created for each customer's vehicle and a route without vehicle is created for all out-of-route destinations). By default all customer account's visits are used in a planning: if you need a planning with only specific visits, you need to filter using `Tags`.

    ## Technical access
    ### Swagger descriptor
    This REST API is described with Swagger. The Swagger descriptor defines the request end-points, the parameters and the return values. The API can be addressed by HTTP request or with a generated client using the Swagger descriptor.
    ### API key
    All access to the API are subject to an `api_key` parameter in order to authenticate the user.
    This parameter can be sent with a query string on each available operation: `https://app.mapotempo.com/api/0.1/{objects}?api_key={your_personal_api_key}`
    ### Return
    The API supports several return formats: `json` and `xml` which depend of the requested extension used in url.
    ### I18n
    Functionnal textual returns are subject to translation and depend of HTTP header `Accept-Language`. HTTP error codes are not translated.
    ## Admin acces
    Using an admin `api_key` switches to advanced opperations (on `Customer`, `User`, `Vehicle`, `Profile`). Most of operations from the current api are usable either for normal user `api_key` or admin user `api_key` (not both).
    ## More concepts
    When a customer is created some objects are created by default with this new customer:
    * `Vehicle`: multiple, depending of the `max_vehicles` defined for customer
    * `DeliverableUnit`: one default
    * `VehicleUsageSet`: one default
    * `VehicleUsage`: multiple, depending of the vehicles number
    * `Store`: one default

    ### Profiles, Layers, Routers
    `Profile` is a concept which allows to set several parameters for the customer:
    * `Layer`: which allows to choose the background map
    * `Router`: which allows to build route's information.

    Several default profiles are available and can be listed with an admin `api_key`.

    ### Tags
    `Tags` have two types of uses: filter and skill.
    * filter: create planning only for a subset of visits. For instance, if some visits are tagged "Monday", it allows to create a new planning for "Monday" tag and use only dedicated visits.
    * skill: affect a specific vehicle for a specific visit. For instance, if some visits are tagged "Hatchback", only vehicle with "Hatchback" tag will be used for this visit.

    ### Zonings
    `Zoning` is a concept which allows to define multiple `Zones` (areas) around destinatons. A `Zone` can be affected to a `Vehicle` and if it is used into a `Planning`, all `Destinations` inside areas will be affected to the zone's vehicle (or `Route`). A polygon defining a `Zone` can be created outside the application or can be automatically generated from a planning.

    ## Locale
    Each enpoint of this API takes into account `accept-language` HTTP header. If it's not sent in request, locale from your `User` using api-key is used. Default locale is `en` when it's missing.

    ## Code samples
    * Create and display destinations or visits.
    Here some samples for these operations: [using PHP](https://app.mapotempo.com/api/0.1/examples/php/example.php), [using Ruby](https://app.mapotempo.com/api/0.1/examples/ruby/example.rb), [using C#](https://app.mapotempo.com/api/0.1/examples/csharp/example.cs).
    Note you can import destinations/visits and create a planning at the same time if you know beforehand the route for each destination/visit. See the details of importDestinations operation to import your data and create a planning in only one call.
    * Same operations are available for stores (note you have an existing default store).
    * With created destinations/visits, you can create a planning (routes and stops are automatically created depending of yours vehicles and destinations/visits)
    * In existing planning, you have availability to move stops (which represent visits) on a dedicated route (which represent a dedicated vehicle).
    * With many unaffected (out-of-route) stops in a planning, you may create a zoning to move many stops in several routes. Create a zoning (you can generate zones in this zoning automatically from automatic clustering), if you apply zoning (containing zones linked to a vehicle) on your planning, all stops contained in different zones will be moved in dedicated routes.

    ## How to send csv file of destinations
    To update or create your destinations, you can simply import a csv file thanks to the end point /api/0.1/destinations with a PUT method.
    For example, using cURL, the request is :

        curl --request PUT
          --url 'https://app.mapotempo.com/api/0.1/destinations?api_key={your_api_key}'
          --header 'accept-language: {en or fr}'
          --header 'content-type: multipart/form-data'
          --form 'file=@{your_file_path}'
          --form 'replace={true or false}'
  contact:
    email: tech@mapotempo.com
    url: https://github.com/Mapotempo/mapotempo-web
  license:
    name: GNU Affero General Public License 3
    url: https://raw.githubusercontent.com/Mapotempo/mapotempo-web/master/LICENSE
swagger: '2.0'
produces:
- application/json; charset=UTF-8
- application/vnd.geo+json; charset=UTF-8
- application/xml
securityDefinitions:
  api_key_query_param:
    type: apiKey
    name: api_key
    in: query
security:
- api_key_query_param: []
host: app.mapotempo.com
basePath: "/api"
tags:
- name: connections
  description: Operations about connections
- name: customers
  description: Operations about customers
- name: deliverable_units
  description: Operations about deliverable_units
- name: destinations
  description: Operations about destinations
- name: layers
  description: Operations about layers
- name: jobs
  description: Operations about jobs
- name: plannings
  description: Operations about plannings
- name: profiles
  description: Operations about profiles
- name: relations
  description: Operations about relations
- name: routers
  description: Operations about routers
- name: stores
  description: Operations about stores
- name: tags
  description: Operations about tags
- name: users
  description: Operations about users
- name: vehicles
  description: Operations about vehicles
- name: vehicle_usage_sets
  description: Operations about vehicle_usage_sets
- name: visits
  description: Operations about visits
- name: zonings
  description: Operations about zonings
- name: zone
  description: Operations about zones
- name: devices
  description: Operations about devices
- name: geocoder
  description: Operations about geocoders
paths:
  "/0.1/connections":
    delete:
      summary: Delete multiple connections.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: formData
        name: ids[]
        description: Ids separated by comma. If none id is provided, all objects are
          deleted.
        type: array
        items:
          type: integer
          format: int32
        required: false
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - connections
      operationId: deleteConnections
    post:
      summary: Create connection.
      description: By creating connection between visits, it will add constraints
        between stops planning. There are different types of constraints.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: formData
        name: link_type
        description: Type of relation or constraints.
        type: string
        enum:
        - pickup_and_delivery
        - sequence
        - position:always:first
        - position:always:middle
        - position:always:last
        - position:never_first
        - position:never:last
        required: true
      - in: formData
        name: visit_id
        description: First visit to link. The visit reference can be used instead
          of the id by prepending "ref:". In case of pickup_and_delivery, it represents
          the pickup visit. In case of sequence, it represents the first visit. In
          case of position constraint, it will define which group it belongs to; only
          one is authorized.
        type: string
        required: true
      - in: formData
        name: connected_visit_id
        description: Second visit to link. The visit reference can be used instead
          of the id by prepending "ref:". In case of pickup_and_delivery, it represents
          the delivery visit. In case of sequence, it represents the second visit.
          In case of position constraint, it will not take in account.
        type: string
        required: false
      responses:
        '201':
          description: Created.
          schema:
            "$ref": "#/definitions/V01_connection"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - connections
      operationId: createConnection
  "/0.1/connections/{id}":
    delete:
      description: Delete connection.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id of the connection to delete
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - connections
      operationId: deleteConnection
  "/0.1/customers/{id}/duplicate":
    patch:
      summary: Duplicate customer account (admin).
      description: Create a copy of customer account. Only available with an admin
        api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: formData
        name: exclude_users
        type: boolean
        default: 'false'
        required: false
      - in: formData
        name: enable_email_automation
        description: Enable/disable email automation for all duplicated users
        type: boolean
        default: true
        required: false
      responses:
        '201':
          description: Created.
          schema:
            "$ref": "#/definitions/V01_CustomerAdmin"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: duplicateCustomer
  "/0.1/customers":
    delete:
      summary: Delete multiple customer accounts (admin).
      description: Only available with an admin api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: ids
        description: Ids separated by comma. You can specify ref (not containing comma)
          instead of id, in this case you have to add `ref:` before each ref, e.g.
          `ref:ref1,ref:ref2,ref:ref3`.
        type: string
        required: true
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: deleteMultipleCustomer
    post:
      summary: Create customer account (admin).
      description: Create a customer account and its default data (stores, vehicle_usage_sets,
        vehicle_ids, deliverable_units) which are returned by this operation. Only
        available with an admin api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: formData
        name: ref
        description: Only available in admin.
        type: string
        required: false
      - in: formData
        name: name
        description: 'Only available in admin. Nomenclature: [Company/Organization/Franchise/Integrator]
          [-] [Name/Site/Warehouse/Department/City] [-] [Project]'
        type: string
        required: true
      - in: formData
        name: internal_name
        description: Name of the customer account chosen by non-admin users, appears
          on non-admin pages.
        type: string
        required: false
      - in: formData
        name: end_subscription
        description: Date must be in ISO 8601 (YYYY-MM-DD). Only available in admin.
        type: string
        format: date
        required: false
      - in: formData
        name: max_vehicles
        description: Only available in admin.
        type: integer
        format: int32
        required: true
      - in: formData
        name: billing_email
        description: Email address to send billing information. If not provided it
          will be sent to each user of this account.
        type: string
        required: false
      - in: formData
        name: enable_end_subscription_email
        description: Only available in admin.
        type: boolean
        required: false
      - in: formData
        name: visit_duration
        description: Default visit duration (HH:MM:SS) or number of seconds (can be
          overidded on each Visit entity)
        type: string
        required: false
      - in: formData
        name: setup_duration
        description: Default setup duration (HH:MM:SS) or number of seconds (can be
          overidded on each Destination entity)
        type: string
        required: false
      - in: formData
        name: default_country
        description: Default country (can be overidded on each Destination entity)
        type: string
        required: true
      - in: formData
        name: router_id
        type: integer
        format: int32
        required: true
      - in: formData
        name: router_dimension
        type: string
        enum:
        - time
        - distance
        required: false
      - in: formData
        name: speed_multiplier
        description: Default router speed multiplier (can be overidded on each Vehicle
          entity)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_max_split_size
        description: Maximum number of visits to split problem (default is 500)
        type: integer
        format: int32
        required: false
      - in: formData
        name: optimization_cluster_size
        description: Time in seconds to group near visits (default is )
        type: integer
        format: int32
        required: false
      - in: formData
        name: optimization_time
        description: Maximum optimization time by vehicle/route/trip (default is 60)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_minimal_time
        description: Minimum optimization time by vehicle/route/trip (default is 3)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_stop_soft_upper_bound
        description: Stops delay coefficient, 0 to avoid delay (default is 0.3)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_vehicle_soft_upper_bound
        description: Vehicles delay coefficient, 0 to avoid delay (default is 0.3)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_cost_waiting_time
        description: Coefficient to manage waiting time (default is 1)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_free_approach
        description: Route beginning farthest away from start store (default is false)
        type: boolean
        required: false
      - in: formData
        name: optimization_free_return
        description: Route end farthest away from end store (default is false)
        type: boolean
        required: false
      - in: formData
        name: optimization_force_start
        description: Force time for departure (default is false)
        type: boolean
        required: false
      - in: formData
        name: print_planning_annotating
        type: boolean
        required: false
      - in: formData
        name: print_header
        type: string
        required: false
      - in: formData
        name: print_stop_time
        type: boolean
        required: false
      - in: formData
        name: print_map
        type: boolean
        required: false
      - in: formData
        name: print_barcode
        description: Print the Reference as Barcode
        type: string
        enum:
        - code128
        required: false
      - in: formData
        name: print_gps_coordinates
        type: boolean
        required: false
      - in: formData
        name: business_name
        description: Any information about your company you want to display at the
          top of the printed page / send to the mobile app Mapotempo Live
        type: string
        required: false
      - in: formData
        name: enable_external_callback
        description: Add a button to allow user to call external callback webhook
          on planning page. Webhook should be configured with `external_callback_name`
          and `external_callback_url`.
        type: boolean
        required: false
      - in: formData
        name: external_callback_name
        description: Name of external webhook to call by a user.
        type: string
        required: false
      - in: formData
        name: external_callback_url
        description: |-
          Url of external webhook to call by a user. Request (GET) is processed using AJAX in browser and by the way subjects to browsers standard rules
                    (Ex: SSL/TLS, CORS, etc...). http://www.example.com?p_id={PLANNING_IDS}. Can contain the following replacement tokens: PLANNING_REF,
                    PLANNING_IDS, ROUTE_ID, ROUTE_REF, API_KEY, CUSTOMER_ID. Tokens containing multiple values are splitted by comma.
        type: string
        required: false
      - in: formData
        name: advanced_options
        description: Advanced options in a serialized json format
        type: string
        required: false
      - in: formData
        name: custom_attributes_def
        description: 'Custom attributes definition in a json format.<br> e.g: `{"visit":
          {"my_custom_visit_attribute": {"label": "My custom Visit attribute", "description":
          "My description of custom attribute"}`'
        type: string
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: devices
        description: Only available in admin.
        type: string
        required: false
      - in: formData
        name: profile_id
        type: string
        required: true
      - in: formData
        name: logo
        description: Company logo, 150x50 pixels in SVG, PNG, JPEG or GIF format.
          Will be printed / sent to the mobile app Mapotempo Live if added.
        type: file
        required: false
      - in: formData
        name: router_options[traffic]
        type: boolean
        required: false
      - in: formData
        name: router_options[track]
        type: boolean
        required: false
      - in: formData
        name: router_options[motorway]
        type: boolean
        required: false
      - in: formData
        name: router_options[toll]
        type: boolean
        required: false
      - in: formData
        name: router_options[trailers]
        type: integer
        format: int32
        required: false
      - in: formData
        name: router_options[weight]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[weight_per_axle]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[height]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[width]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[length]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[hazardous_goods]
        type: string
        required: false
      - in: formData
        name: router_options[max_walk_distance]
        type: number
        format: float
        required: false
      responses:
        '201':
          description: Created.
          schema:
            "$ref": "#/definitions/V01_CustomerAdmin"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: createCustomer
    get:
      summary: Fetch customer accounts (admin).
      description: Retrieve all customer accounts. Only available with an admin api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: name_like
        description: Find accounts with similarity on the name (case insensitive).
        type: string
        required: false
      - in: query
        name: ref_like
        description: Find accounts with similarity on the reference (case insensitive).
        type: string
        required: false
      - in: query
        name: words_mask
        description: Words separated by commas that will skip the similarity check
          (case insensitive)
        type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_CustomerAdmin"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '402':
          description: Subscription error.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '405':
          description: Method not allowed.
        '409':
          description: Conflict.
        '500':
          description: Internal servor error.
      tags:
      - customers
      operationId: getCustomers
  "/0.1/customers/{id}":
    delete:
      summary: Delete customer account (admin).
      description: Only available with an admin api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: deleteCustomer
    put:
      summary: Update customer account.
      description: Update informations and details, for example customer account associated
        to the current api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: formData
        name: ref
        description: Only available in admin.
        type: string
        required: false
      - in: formData
        name: name
        description: 'Only available in admin. Nomenclature: [Company/Organization/Franchise/Integrator]
          [-] [Name/Site/Warehouse/Department/City] [-] [Project]'
        type: string
        required: false
      - in: formData
        name: internal_name
        description: Name of the customer account chosen by non-admin users, appears
          on non-admin pages.
        type: string
        required: false
      - in: formData
        name: end_subscription
        description: Date must be in ISO 8601 (YYYY-MM-DD). Only available in admin.
        type: string
        format: date
        required: false
      - in: formData
        name: max_vehicles
        description: Only available in admin.
        type: integer
        format: int32
        required: false
      - in: formData
        name: billing_email
        description: Email address to send billing information. If not provided it
          will be sent to each user of this account.
        type: string
        required: false
      - in: formData
        name: enable_end_subscription_email
        description: Only available in admin.
        type: boolean
        required: false
      - in: formData
        name: visit_duration
        description: Default visit duration (HH:MM:SS) or number of seconds (can be
          overidded on each Visit entity)
        type: string
        required: false
      - in: formData
        name: setup_duration
        description: Default setup duration (HH:MM:SS) or number of seconds (can be
          overidded on each Destination entity)
        type: string
        required: false
      - in: formData
        name: default_country
        description: Default country (can be overidded on each Destination entity)
        type: string
        required: false
      - in: formData
        name: router_id
        type: integer
        format: int32
        required: false
      - in: formData
        name: router_dimension
        type: string
        enum:
        - time
        - distance
        required: false
      - in: formData
        name: speed_multiplier
        description: Default router speed multiplier (can be overidded on each Vehicle
          entity)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_max_split_size
        description: Maximum number of visits to split problem (default is 500)
        type: integer
        format: int32
        required: false
      - in: formData
        name: optimization_cluster_size
        description: Time in seconds to group near visits (default is )
        type: integer
        format: int32
        required: false
      - in: formData
        name: optimization_time
        description: Maximum optimization time by vehicle/route/trip (default is 60)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_minimal_time
        description: Minimum optimization time by vehicle/route/trip (default is 3)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_stop_soft_upper_bound
        description: Stops delay coefficient, 0 to avoid delay (default is 0.3)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_vehicle_soft_upper_bound
        description: Vehicles delay coefficient, 0 to avoid delay (default is 0.3)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_cost_waiting_time
        description: Coefficient to manage waiting time (default is 1)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_free_approach
        description: Route beginning farthest away from start store (default is false)
        type: boolean
        required: false
      - in: formData
        name: optimization_free_return
        description: Route end farthest away from end store (default is false)
        type: boolean
        required: false
      - in: formData
        name: optimization_force_start
        description: Force time for departure (default is false)
        type: boolean
        required: false
      - in: formData
        name: print_planning_annotating
        type: boolean
        required: false
      - in: formData
        name: print_header
        type: string
        required: false
      - in: formData
        name: print_stop_time
        type: boolean
        required: false
      - in: formData
        name: print_map
        type: boolean
        required: false
      - in: formData
        name: print_barcode
        description: Print the Reference as Barcode
        type: string
        enum:
        - code128
        required: false
      - in: formData
        name: print_gps_coordinates
        type: boolean
        required: false
      - in: formData
        name: business_name
        description: Any information about your company you want to display at the
          top of the printed page / send to the mobile app Mapotempo Live
        type: string
        required: false
      - in: formData
        name: enable_external_callback
        description: Add a button to allow user to call external callback webhook
          on planning page. Webhook should be configured with `external_callback_name`
          and `external_callback_url`.
        type: boolean
        required: false
      - in: formData
        name: external_callback_name
        description: Name of external webhook to call by a user.
        type: string
        required: false
      - in: formData
        name: external_callback_url
        description: |-
          Url of external webhook to call by a user. Request (GET) is processed using AJAX in browser and by the way subjects to browsers standard rules
                    (Ex: SSL/TLS, CORS, etc...). http://www.example.com?p_id={PLANNING_IDS}. Can contain the following replacement tokens: PLANNING_REF,
                    PLANNING_IDS, ROUTE_ID, ROUTE_REF, API_KEY, CUSTOMER_ID. Tokens containing multiple values are splitted by comma.
        type: string
        required: false
      - in: formData
        name: advanced_options
        description: Advanced options in a serialized json format
        type: string
        required: false
      - in: formData
        name: custom_attributes_def
        description: 'Custom attributes definition in a json format.<br> e.g: `{"visit":
          {"my_custom_visit_attribute": {"label": "My custom Visit attribute", "description":
          "My description of custom attribute"}`'
        type: string
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: devices
        description: Only available in admin.
        type: string
        required: false
      - in: formData
        name: logo
        description: Company logo, 150x50 pixels in SVG, PNG, JPEG or GIF format.
          Will be printed / sent to the mobile app Mapotempo Live if added.
        type: file
        required: false
      - in: formData
        name: router_options[traffic]
        type: boolean
        required: false
      - in: formData
        name: router_options[track]
        type: boolean
        required: false
      - in: formData
        name: router_options[motorway]
        type: boolean
        required: false
      - in: formData
        name: router_options[toll]
        type: boolean
        required: false
      - in: formData
        name: router_options[trailers]
        type: integer
        format: int32
        required: false
      - in: formData
        name: router_options[weight]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[weight_per_axle]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[height]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[width]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[length]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[hazardous_goods]
        type: string
        required: false
      - in: formData
        name: router_options[max_walk_distance]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[approach]
        type: string
        required: false
      - in: formData
        name: router_options[snap]
        type: number
        format: float
        required: false
      - in: formData
        name: router_options[strict_restriction]
        type: boolean
        required: false
      - in: formData
        name: update_fleet
        description: Update at the same time fleet database if a fleet device is linked
          to this customer.
        type: boolean
        default: 'true'
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_CustomerAdmin"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: updateCustomer
    get:
      summary: Fetch customer account.
      description: Get informations and details, for example customer account associated
        to the current api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_CustomerAdmin"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: getCustomer
  "/0.1/customers/{id}/users":
    get:
      summary: Fetch users for customer account id (admin).
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_User"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '402':
          description: Subscription error.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '405':
          description: Method not allowed.
        '409':
          description: Conflict.
        '500':
          description: Internal servor error.
      tags:
      - customers
      operationId: getCustomerUsers
  "/0.1/customers/search":
    get:
      summary: Fetch customer accounts with filters and pagination (admin).
      description: Retrieve customer accounts. Only available with an admin api_key.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: filters[]
        description: 'model.attributes:value separated by comma. (example: destinations.ref:ref1,plannings.name:planning1).'
        type: array
        items:
          type: string
        required: false
      - in: formData
        name: sorting[]
        description: 'model.attributes:order (asc/desc) separated by comma (example:
          destinations.ref:asc,plannings.name:desc).'
        type: array
        items:
          type: string
          default:
          - id:desc
        required: false
      - in: query
        name: offset
        description: Number of elements skipped.
        type: integer
        format: int32
        required: false
      - in: query
        name: limit
        description: Number of elements returned.
        type: integer
        format: int32
        required: true
      - in: query
        name: with_length
        description: 'Return the total length matching the filters or search query.
          (regardless of the limit) '
        type: boolean
        default: 'false'
        required: false
      - in: query
        name: search_query
        description: Value for the global search.
        type: string
        required: false
      - in: query
        name: with_ids
        description: Return an array of all ids matching the filters or search query.
          (regardless of the limit)
        type: boolean
        default: 'false'
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_SearchCustomers"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - customers
      operationId: paginatedCustomer
  "/0.1/deliverable_units":
    delete:
      summary: Delete multiple deliverable units.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: formData
        name: ids
        description: Ids separated by comma. You can specify ref (not containing comma)
          instead of id, in this case you have to add `ref:` before each ref, e.g.
          `ref:ref1,ref:ref2,ref:ref3`.
        type: string
        required: true
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - deliverable_units
      operationId: deleteDeliverableUnits
    post:
      summary: Create deliverable unit.
      description: "(Note a default deliverable unit is already automatically created
        when a customer account is initialized.) By creating a new deliverable unit,
        it will be possible to specify quantities and capacities for this another
        unit."
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: formData
        name: ref
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`).
        type: string
        required: false
      - in: formData
        name: label
        type: string
        required: false
      - in: formData
        name: icon
        description: 'Icon name from font-awesome. Default: fa-archive.'
        type: string
        required: false
      - in: formData
        name: default_quantity
        description: Default quantity value (can be overidded on each Visit entity)
        type: number
        format: float
        required: false
      - in: formData
        name: default_capacity
        description: Default capacity value (can be overidded on each Vehicle entity)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_overload_multiplier
        description: Multiplier used during optimization in case of overload.
        type: integer
        format: int32
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: default_codes[]
        description: Default barcodes for this deliverable unit
        type: array
        items:
          type: string
        required: false
      responses:
        '201':
          description: Created.
          schema:
            "$ref": "#/definitions/V01_DeliverableUnit"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - deliverable_units
      operationId: createDeliverableUnit
    get:
      summary: Fetch customer's deliverable units. At least one deliverable unit exists
        per customer.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: ids[]
        description: Ids separated by comma. You can specify ref (not containing comma)
          instead of id, in this case you have to add `ref:` before each ref, e.g.
          `ref:ref1,ref:ref2,ref:ref3`.
        type: array
        items:
          type: string
        required: false
      - in: query
        name: label_like
        description: Find deliverable units with similarity on the label (case insensitive).
        type: string
        required: false
      - in: query
        name: ref_like
        description: Find deliverable units with similarity on the reference (case
          insensitive).
        type: string
        required: false
      - in: query
        name: words_mask
        description: Words separated by commas that will skip the similarity check
          (case insensitive)
        type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_DeliverableUnit"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '402':
          description: Subscription error.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '405':
          description: Method not allowed.
        '409':
          description: Conflict.
        '500':
          description: Internal servor error.
      tags:
      - deliverable_units
      operationId: getDeliverableUnits
  "/0.1/deliverable_units/{id}":
    delete:
      summary: Delete deliverable unit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - deliverable_units
      operationId: deleteDeliverableUnit
    put:
      summary: Update deliverable unit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: formData
        name: ref
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`).
        type: string
        required: false
      - in: formData
        name: label
        type: string
        required: false
      - in: formData
        name: icon
        description: 'Icon name from font-awesome. Default: fa-archive.'
        type: string
        required: false
      - in: formData
        name: default_quantity
        description: Default quantity value (can be overidded on each Visit entity)
        type: number
        format: float
        required: false
      - in: formData
        name: default_capacity
        description: Default capacity value (can be overidded on each Vehicle entity)
        type: number
        format: float
        required: false
      - in: formData
        name: optimization_overload_multiplier
        description: Multiplier used during optimization in case of overload.
        type: integer
        format: int32
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: default_codes[]
        description: Default barcodes for this deliverable unit
        type: array
        items:
          type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_DeliverableUnit"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - deliverable_units
      operationId: updateDeliverableUnit
    get:
      summary: Fetch deliverable unit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_DeliverableUnit"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - deliverable_units
      operationId: getDeliverableUnit
  "/0.1/destinations/{id}":
    get:
      summary: Fetch destination.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: getDestination
    delete:
      summary: Delete destination.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: deleteDestination
    put:
      summary: Update destination.
      description: Update destination (point to visit). If want to force geocoding
        for a new address, you have to send empty lat/lng with new address.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: formData
        name: ref
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`).
        type: string
        required: false
      - in: formData
        name: name
        type: string
        required: false
      - in: formData
        name: street
        description: Content from address only useful for geocoding.
        type: string
        required: false
      - in: formData
        name: detail
        description: Content from address useless for geocoding (flat number).
        type: string
        required: false
      - in: formData
        name: postalcode
        type: string
        required: false
      - in: formData
        name: city
        type: string
        required: false
      - in: formData
        name: state
        type: string
        required: false
      - in: formData
        name: country
        type: string
        required: false
      - in: formData
        name: lat
        description: Decimal value between -90 and 90. If no geolocation is provided,
          point will be automatically geocoded.
        type: number
        format: float
        required: false
      - in: formData
        name: lng
        description: Decimal value between -180 and 180. If no geolocation is provided,
          point will be automatically geocoded.
        type: number
        format: float
        required: false
      - in: formData
        name: comment
        type: string
        required: false
      - in: formData
        name: phone_number
        type: string
        required: false
      - in: formData
        name: contact_email
        type: string
        required: false
      - in: formData
        name: visits[]
        type: array
        items:
          "$ref": "#/definitions/V01_Visit"
        required: false
      - in: formData
        name: setup_duration
        description: Unique preparation duration however number of visits (In case
          of multiple visits at same time for one destination, this duration will
          be taken into account only one time). Format is HH:MM:SS or number of seconds.
        type: string
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: tag_ids
        description: Ids separated by comma.
        type: integer
        format: int32
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: updateDestination
  "/0.1/destinations/geocode_complete":
    get:
      summary: Auto completion on destination.
      description: Auto completion on address of destination. Results are priorized
        from last geolocated store of the customer account.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: street
        description: Content from address only useful for geocoding.
        type: string
        required: false
      - in: query
        name: postalcode
        type: string
        required: false
      - in: query
        name: city
        type: string
        required: false
      - in: query
        name: state
        type: string
        required: false
      - in: query
        name: country
        type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: autocompleteDestination
  "/0.1/destinations/reverse":
    get:
      summary: Reverse geocoding.
      description: Result of reverse geocoding is not saved with this operation.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: lat
        description: Decimal value between -90 and 90. If no geolocation is provided,
          point will be automatically geocoded.
        type: number
        format: float
        required: false
      - in: query
        name: lng
        description: Decimal value between -180 and 180. If no geolocation is provided,
          point will be automatically geocoded.
        type: number
        format: float
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: reverseGeocodingDestination
  "/0.1/destinations/geocode":
    get:
      summary: Geocode destination.
      description: Result of geocoding is not saved with this operation. You can use
        update operation to save the result of geocoding.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: street
        description: Content from address only useful for geocoding.
        type: string
        required: false
      - in: query
        name: postalcode
        type: string
        required: false
      - in: query
        name: city
        type: string
        required: false
      - in: query
        name: state
        type: string
        required: false
      - in: query
        name: country
        type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: geocodeDestination
  "/0.1/destinations":
    delete:
      summary: Delete multiple destinations.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: formData
        name: ids
        description: Ids separated by comma. You can specify ref (not containing comma)
          instead of id, in this case you have to add `ref:` before each ref, e.g.
          `ref:ref1,ref:ref2,ref:ref3`. If no Id is provided, all objects are deleted.
        type: string
        required: false
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: deleteDestinations
    put:
      summary: Import destinations by upload a CSV file, by JSON or from Webfleet.
      description: 'Import multiple destinations and visits. Use your internal and
        unique ids as a "reference" to automatically retrieve and update objects.
        If `route` key is provided for a visit or if a planning attribute is sent,
        a planning will be automatically created at the same time. If all `route`
        attibutes are blank or none attribute for planning is sent, only destinations
        and visits will be created/updated. Three mutualy exclusive types of import:
        `destinations`, `file`, `remote`.'
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: header
        name: accept-language
        description: 'Language used in CSV file (useless without `file` parameter).
          Default value: `en`. French language: `fr`.'
        type: string
        required: false
      - in: formData
        name: replace
        description: Remove all existing destinations/visits before importing new
          ones.
        type: boolean
        required: false
      - in: formData
        name: merge_rows
        description: Merge file rows with the same client (identified by its reference)
          and import only one visit. Only available for CSV files
        type: boolean
        required: false
      - in: formData
        name: planning[ref]
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`). You can provide an already used
          reference to update an existing planning.
        type: string
        required: false
      - in: formData
        name: planning[name]
        type: string
        required: false
      - in: formData
        name: planning[date]
        type: string
        required: false
      - in: formData
        name: planning[vehicle_usage_set_id]
        description: If not filled, first vehicle_usage_set is used.
        type: integer
        format: int32
        required: false
      - in: formData
        name: planning[zoning_ids][]
        description: If a new zoning is specified before planning save, all visits
          will be affected to vehicles specified in zones.
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: formData
        name: file
        description: CSV file (encoding, separator and line return automatically detected,
          with localized CSV header according to HTTP header `Accept-Language`). In
          mutual exclusion with `destinations` and `remote`.
        type: file
        required: false
      - in: formData
        name: synchronous
        description: Synchronous or asynchronous (false) processing of import and
          geocoding (if geocoding necessary). If asynchronous, the job id will be
          returned. You can find running and completed jobs at the endpoint /0.1/jobs
        type: boolean
        default: true
        required: false
      - in: formData
        name: destinations[]
        type: array
        items:
          "$ref": "#/definitions/V01_DestinationImportJson"
        required: false
      - in: formData
        name: remote
        description: In mutual exclusion with CSV `file` upload and `destinations`.
        type: string
        enum:
        - tomtom
        required: false
      - in: formData
        name: custom_columns
        description: Use custom columns defined in customer (only avalaible for CSV)
        type: boolean
        default: 'false'
        required: false
      responses:
        '204':
          description: No Content.
        '202':
          description: Accepted.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_Destination"
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '402':
          description: Subscription error.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '405':
          description: Method not allowed.
        '409':
          description: Conflict.
        '500':
          description: Internal servor error.
        '422':
          description: Unprocessable entity.
      tags:
      - destinations
      operationId: importDestinations
    post:
      summary: Create destination.
      description: Create destination (point to visit). A same destination/point can
        be visited multiple times.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: formData
        name: ref
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`).
        type: string
        required: false
      - in: formData
        name: name
        type: string
        required: true
      - in: formData
        name: street
        description: Content from address only useful for geocoding.
        type: string
        required: false
      - in: formData
        name: detail
        description: Content from address useless for geocoding (flat number).
        type: string
        required: false
      - in: formData
        name: postalcode
        type: string
        required: false
      - in: formData
        name: city
        type: string
        required: false
      - in: formData
        name: state
        type: string
        required: false
      - in: formData
        name: country
        type: string
        required: false
      - in: formData
        name: lat
        description: Decimal value between -90 and 90. If no geolocation is provided,
          point will be automatically geocoded.
        type: number
        format: float
        required: false
      - in: formData
        name: lng
        description: Decimal value between -180 and 180. If no geolocation is provided,
          point will be automatically geocoded.
        type: number
        format: float
        required: false
      - in: formData
        name: comment
        type: string
        required: false
      - in: formData
        name: phone_number
        type: string
        required: false
      - in: formData
        name: contact_email
        type: string
        required: false
      - in: formData
        name: visits[]
        type: array
        items:
          "$ref": "#/definitions/V01_Visit"
        required: false
      - in: formData
        name: setup_duration
        description: Unique preparation duration however number of visits (In case
          of multiple visits at same time for one destination, this duration will
          be taken into account only one time). Format is HH:MM:SS or number of seconds.
        type: string
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: tag_ids
        description: Ids separated by comma.
        type: integer
        format: int32
        required: false
      responses:
        '201':
          description: Created.
          schema:
            "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: createDestination
    get:
      summary: Fetch customer's destinations.
      description: Fetch all customer's destinations (points to visit).
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: query
        name: ids[]
        description: Ids separated by comma. You can specify ref (not containing comma)
          instead of id, in this case you have to add `ref:` before each ref, e.g.
          `ref:ref1,ref:ref2,ref:ref3`.
        type: array
        items:
          type: string
        required: false
      - in: query
        name: with_extra_properties
        description: Only for geojson format. Include extra properties in geojson
          output like quantities, duration, etc...
        type: boolean
        default: 'false'
        required: false
      - in: query
        name: name_like
        description: Find destinations with similarity on the name (case insensitive).
        type: string
        required: false
      - in: query
        name: ref_like
        description: Find destinations with similarity on the reference (case insensitive).
        type: string
        required: false
      - in: query
        name: words_mask
        description: Words separated by commas that will skip the similarity check
          (case insensitive)
        type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_Destination"
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '402':
          description: Subscription error.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '405':
          description: Method not allowed.
        '409':
          description: Conflict.
        '500':
          description: Internal servor error.
      tags:
      - destinations
      operationId: getDestinations
  "/0.1/destinations/{destination_id}/visits/{id}/stops":
    get:
      summary: Fetch stops by visit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: destination_id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_Stop"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: StopsbyVisit
  "/0.1/destinations/{destination_id}/visits/{id}/routes":
    get:
      summary: Fetch routes by visit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: destination_id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '200':
          description: OK.
          schema:
            type: array
            items:
              "$ref": "#/definitions/V01_Route"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: RoutesbyVisit
  "/0.1/destinations/{destination_id}/visits/{id}":
    delete:
      summary: Delete visit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: destination_id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: query
        name: delete_destination
        description: If true delete destination if it's the last visit
        type: boolean
        required: false
      responses:
        '204':
          description: No Content.
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: deleteVisit
    put:
      summary: Update visit.
      description: If want to force geocoding for a new address, you have to send
        empty lat/lng with new address.
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: path
        name: destination_id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: formData
        name: ref
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`).
        type: string
        required: false
      - in: formData
        name: repeat_timewindows
        description: Repeat time windows on the next days
        type: boolean
        default: true
        required: false
      - in: formData
        name: priority
        description: Insertion priority used during optimization in case all visits
          cannot be planned (-4 to 4, 0 if not defined).
        type: integer
        format: int32
        required: false
      - in: formData
        name: custom_attributes
        description: 'Custom attributes in a json format.<br> e.g: `{"my_custom_attribute":
          "my_value"}`'
        type: string
        required: false
      - in: formData
        name: tag_ids
        description: Ids separated by comma.
        type: string
        required: false
      - in: formData
        name: quantities[][deliverable_unit_id]
        type: array
        required: false
        items:
          type: integer
          format: int32
      - in: formData
        name: quantities[][quantity]
        description: Value (positive or negative to distinct pickup and delivery)
        type: array
        required: false
        items:
          type: number
          format: float
      - in: formData
        name: quantities[][operation]
        description: To use only in case vehicle is fully emptied or fully filled.
        type: array
        required: false
        items:
          type: string
      - in: formData
        name: quantities[][codes][]
        description: Array of codes separated by commas
        type: array
        items:
          type: string
        required: false
      - in: formData
        name: time_window_start_1
        description: Schedule time (HH:MM) or number of seconds since midnight
        type: string
        required: false
      - in: formData
        name: time_window_end_1
        description: Schedule time (HH:MM) or number of seconds since midnight
        type: string
        required: false
      - in: formData
        name: time_window_start_2
        description: Schedule time (HH:MM) or number of seconds since midnight
        type: string
        required: false
      - in: formData
        name: time_window_end_2
        description: Schedule time (HH:MM) or number of seconds since midnight
        type: string
        required: false
      - in: formData
        name: duration
        description: Visit duration (HH:MM:SS) or number of seconds
        type: string
        required: false
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Visit"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: updateVisit
    get:
      summary: Fetch visit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      parameters:
      - in: path
        name: destination_id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: path
        name: id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      responses:
        '200':
          description: OK.
          schema:
            "$ref": "#/definitions/V01_Visit"
        '400':
          description: Bad request.
          schema:
            "$ref": "#/definitions/V01_Status400"
        '401':
          description: Unauthorized.
          schema:
            "$ref": "#/definitions/V01_Status401"
        '402':
          description: Subscription error.
          schema:
            "$ref": "#/definitions/V01_Status402"
        '403':
          description: Forbidden.
          schema:
            "$ref": "#/definitions/V01_Status403"
        '404':
          description: Not found.
          schema:
            "$ref": "#/definitions/V01_Status404"
        '405':
          description: Method not allowed.
          schema:
            "$ref": "#/definitions/V01_Status405"
        '409':
          description: Conflict.
          schema:
            "$ref": "#/definitions/V01_Status409"
        '500':
          description: Internal servor error.
          schema:
            "$ref": "#/definitions/V01_Status500"
      tags:
      - destinations
      operationId: getVisit
  "/0.1/destinations/{destination_id}/visits":
    post:
      summary: Create visit.
      description: ''
      produces:
      - application/json; charset=UTF-8
      - application/vnd.geo+json; charset=UTF-8
      - application/xml
      consumes:
      - application/json
      parameters:
      - in: path
        name: destination_id
        description: Id or the ref field value, then use `ref:[value]`.
        type: string
        required: true
      - in: formData
        name: ref
        description: A free reference, like an external ID from other information
          system (forbidden characters are `./\`).
        type: string
        required: false
      - in: formData
        name: repeat_timewindows
        description: Repeat time windows on the next days
        type: boolean
        default: true
        required: false
      - in: formData
        name: custom_attributes
[...]
