openapi: 3.0.0
info:
  description: |
    L'API de Pappers vous permet de récupérer des informations et documents sur les entreprises françaises à partir de leur numéro SIREN ou SIRET.

    Vous devez indiquer votre clé d'API dans les requêtes, en utilisant le paramètre `api_token`.

    L'URL d'accès à l'API est https://api.pappers.fr/v2/

    Lien vers la documentation de la V1 : https://www.pappers.fr/api/documentation/v1

    L'historique des modifications (changelog) est accessible à l'url suivante : https://www.pappers.fr/api/changelog
  version: 2.7.0
  title: Pappers API
  contact:
    name: "Support technique Pappers"
    email: support@pappers.fr
servers:
  - url: https://api.pappers.fr/v2
paths:
  /entreprise:
    get:
      tags:
        - Fiche entreprise
      summary: "Récupère l'ensemble des informations disponibles sur une entreprise."
      description: "Vous devez fournir soit le SIREN, soit le SIRET. Si vous indiquez le SIREN, tous les établissements associés à ce SIREN seront renvoyés dans la clé `etablissements`. Si vous indiquez le SIRET, seul l'établissement associé sera renvoyé dans la clé `etablissement`."
      operationId: entreprise
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - name: siren
          in: query
          description: "SIREN de l'entreprise"
          required: false
          schema:
            type: string
            example: 443061841
        - name: siret
          in: query
          description: "SIRET de l'entreprise"
          required: false
          schema:
            type: string
            example: 44306184100047
        - name: format_publications_bodacc
          in: query
          description: "Format attendu pour les publications BODACC. Valeur par défaut : `\"objet\"`."
          required: false
          schema:
            type: string
            enum: [objet, texte]
            example: objet
        - name: marques
          in: query
          description: "Si vrai, le retour inclura les marques éventuelles de l'entreprise. Valeur par défaut : `false`."
          required: false
          schema:
            type: boolean
        - name: validite_tva_intracommunautaire
          in: query
          description: "Si vrai, le champ validite_tva_intracommunautaire du retour indiquera si le numéro de tva est valide auprès de la Commission européenne. Valeur par défaut : `false`."
          required: false
          schema:
            type: boolean
        - name: publications_bodacc_brutes
          in: query
          description: "Pappers traite les publications BODACC afin de supprimer les publications périmée. Si vrai, le retour inclura les publications bodacc sans traitement. Valeur par défaut : `false`."
          required: false
          schema:
            type: boolean

      responses:
        "200":
          description: Entreprise trouvée. Le retour contient un objet décrivant l'entreprise.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntrepriseFiche"
        "206":
          description: "Entreprise trouvée. Le retour est cependant partiel : au moins une source de données n'a pas répondu dans le temps imparti."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntrepriseFiche"
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Entreprise inexistante.
  /association:
    get:
      tags:
        - Fiche association
      summary: "Récupère l'ensemble des informations disponibles sur une association."
      description: "Vous devez fournir soit l'identifiant de l'association, soit le SIREN, soit le SIRET."
      operationId: association
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: votre_clé_ici
        - name: id_association
          in: query
          description: "Identifiant de l'association"
          required: false
          schema:
            type: string
            example: W142005389
        - name: siret
          in: query
          description: "SIRET de l'association"
          required: false
          schema:
            type: string
            example: 95037097300014
        - name: siren
          in: query
          description: "SIREN de l'association"
          required: false
          schema:
            type: string
            example: 950370973

      responses:
        "200":
          description: Association trouvée. Le retour contient un objet décrivant l'association.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Association"
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Association inexistante.
        "503":
          description: Service momentanément indisponible.
  /recherche:
    get:
      tags:
        - Recherche
      summary: "Recherche les entreprises qui correspondent à des critères."
      description: |
        Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différentes entreprises seront renvoyées dans un tableau `resultats`, et le nombre total de résultats sera renvoyé dans le champ `total`.

        Pour parcourir l'ensemble des résultats, deux solutions sont possibles :

        - La pagination (paramètres `page` et `par_page`), limitée aux 400 premiers résultats ;
        - Les curseurs (paramètres `curseur` et `par_curseur`).

        Cette route permet également le téléchargement d'un export des résultats de recherche au format xlsx, csv ou json. Il faut pour cela utiliser le paramètre `export`.
      operationId: recherche
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/curseur'
        - $ref: '#/components/parameters/par_curseur'
        - $ref: '#/components/parameters/bases'
        - $ref: '#/components/parameters/precision'
        - $ref: '#/components/parameters/export'
        - name: q
          in: query
          description: "Texte à rechercher. Dénomination pour une personne morale, nom et prénom pour une personne physique.\nSi vous recherchez dans plusieurs bases, ce paramètre sera utilisé pour rechercher dans toutes les bases."
          required: false
          schema:
            type: string
            example: Google France
        - name: siege
          in: query
          description: "Défini si la requête se base sur le siège"
          required: false
          schema:
            type: string
            example: 'true'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        "200":
          description: Recherche réussie. Le retour contient la liste des entreprises qui répondent aux critères indiqués.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultats:
                    type: array
                    description: Liste des entreprises qui correspondent à la recherche.
                    items:
                      allOf:
                        - $ref: '#/components/schemas/EntrepriseRecherche'
                        - type: object
                          properties:
                            dirigeants:
                              type: array
                              description: Dirigeants de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base dirigeants).
                              items:
                                $ref: '#/components/schemas/RepresentantRecherche'
                            beneficiaires:
                              type: array
                              description: Bénéficiaires effectifs de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base bénéficiaires effectifs).
                              items:
                                $ref: '#/components/schemas/Beneficiaire'
                            documents:
                              type: array
                              description: Documents de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base documents).
                              items:
                                $ref: '#/components/schemas/Document'
                            publications:
                              type: array
                              description: Publications de l'entreprise qui correspondent à la recherche (si vous recherchez dans la base publications).
                              items:
                                allOf:
                                  - $ref: '#/components/schemas/Publication'
                                  - type: object
                                    properties:
                                      mentions:
                                        type: array
                                        description: Mentions de la recherche dans la publication.
                                        items:
                                          type: string
                            nb_dirigeants_total:
                              type: integer
                              description: Nombre de dirigeants total de l'entreprise.
                            nb_beneficiaires_total:
                              type: integer
                              description: Nombre de bénéficiaires effectifs total de l'entreprise.
                            nb_documents_avec_mentions:
                              type: integer
                              description: Nombre de documents de l'entreprise qui correspondent à la recherche.
                            nb_documents_total:
                              type: integer
                              description: Nombre de documents total de l'entreprise.
                            nb_publications_avec_mentions:
                              type: integer
                              description: Nombre de publications de l'entreprise qui correspondent à la recherche.
                            nb_publications_total:
                              type: integer
                              description: Nombre de publications total de l'entreprise.
                  total:
                    type: integer
                    description: Nombre d'entreprises qui correspondent à la recherche.
                    example: 100
                  page:
                    type: integer
                    description: Page actuelle.
                    example: 1
                  curseurSuivant:
                    type: string
                    description: "Présent uniquement en cas d'utilisation du paramètre `curseur`. Contient le curseur courant à envoyer en paramètre `curseur` de la requête suivantes."
                    example: QxNRrqKiBFDQq54SpHsrw8r5Z3yWZMDAAzcvwywX
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucune entreprise ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
  /recherche-dirigeants:
    get:
      tags:
        - Recherche
      summary: "Recherche les dirigeants qui correspondent à des critères."
      description: "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différents dirigeants seront renvoyées dans un tableau `resultats`."
      operationId: recherche-dirigeants
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - name: q
          in: query
          description: Texte à rechercher. Nom et prénom du dirigeant pour une personne physique, dénomination pour une personne morale.
          required: false
          schema:
            type: string
            example: Google France
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        "200":
          description: Recherche réussie. Le retour contient la liste des dirigeants qui répondent aux critères indiqués.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultats:
                    type: array
                    description: Liste des dirigeants qui correspondent à la recherche.
                    items:
                      allOf:
                        - $ref: '#/components/schemas/RepresentantRecherche'
                        - type: object
                          properties:
                            entreprises:
                              type: array
                              description: Liste des entreprises du dirigeant, dans la limite de 100 entreprises.
                              items:
                                  $ref: '#/components/schemas/EntrepriseRecherche'
                            nb_entreprises_total:
                              type: integer
                              description: Nombre d'entreprises du dirigeant au total
                  total:
                    type: integer
                    description: Nombre de dirigeants qui correspondent à la recherche.
                    example: 100
                  page:
                    type: integer
                    description: Page actuelle.
                    example: 1
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucun dirigeant ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
  /recherche-beneficiaires:
    get:
      tags:
        - Recherche
      summary: "Recherche les bénéficiaires effectifs qui correspondent à des critères."
      description: "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différents bénéficiaires effectifs seront renvoyées dans un tableau `resultats`."
      operationId: recherche-beneficiaires
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - name: q
          in: query
          description: Nom et/ou prénom du bénéficiaire effectif.
          required: false
          schema:
            type: string
            example: Xavier Niel
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        "200":
          description: Recherche réussie. Le retour contient la liste des bénéficiaires effectifs qui répondent aux critères indiqués.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultats:
                    type: array
                    description: Liste des bénéficiaires effectifs qui correspondent à la recherche.
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Beneficiaire'
                        - type: object
                          properties:
                            entreprises:
                              type: array
                              description: Liste des entreprises dont le bénéficiaire effectif est bénéficiaire effectif, dans la limite de 100 entreprises.
                              items:
                                  $ref: '#/components/schemas/EntrepriseRecherche'
                            nb_entreprises_total:
                              type: integer
                              description: Nombre d'entreprises du bénéficiaire effectif au total.
                            entreprises_dirigeant:
                              type: array
                              description: Liste des entreprises dont le bénéficiaire effectif est dirigeant (sans forcément en être bénéficiaire effectif), dans la limite de 100 entreprises.
                              items:
                                  $ref: '#/components/schemas/EntrepriseRecherche'
                            nb_entreprises_dirigeant_total:
                              type: integer
                              description: Nombre d'entreprises dont le bénéficiaire effectif est dirigeant au total.
                  total:
                    type: integer
                    description: Nombre de bénéficiaires effectifs qui correspondent à la recherche.
                    example: 100
                  page:
                    type: integer
                    description: Page actuelle.
                    example: 1
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucun bénéficiaire effectif ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
  /recherche-documents:
    get:
      tags:
        - Recherche
      summary: "Recherche les documents qui correspondent à des critères."
      description: "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différents documents seront renvoyées dans un tableau `resultats`."
      operationId: recherche-documents
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - name: q
          in: query
          description: Mot-clé à rechercher dans le contenu du document.
          required: false
          schema:
            type: string
            example: Rémunération
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        "200":
          description: Recherche réussie. Le retour contient la liste des documents qui répondent aux critères indiqués.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultats:
                    type: array
                    description: Liste des documents qui correspondent à la recherche.
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Document'
                        - type: object
                          properties:
                            entreprise:
                              $ref: '#/components/schemas/EntrepriseRecherche'
                  total:
                    type: integer
                    description: Nombre de documents qui correspondent à la recherche.
                    example: 100
                  page:
                    type: integer
                    description: Page actuelle.
                    example: 1
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucun document ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
  /recherche-publications:
    get:
      tags:
        - Recherche
      summary: "Recherche les publications BODACC qui correspondent à des critères."
      description: "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différentes publications seront renvoyées dans un tableau `resultats`."
      operationId: recherche-publications
      parameters:
        - $ref: '#/components/parameters/api_token'
        - $ref: '#/components/parameters/par_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/precision'
        - name: q
          in: query
          description: Mot-clé à rechercher dans le contenu de la publication.
          required: false
          schema:
            type: string
            example: Liquidation
        - $ref: '#/components/parameters/code_naf'
        - $ref: '#/components/parameters/departement'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/code_postal'
        - $ref: '#/components/parameters/convention_collective'
        - $ref: '#/components/parameters/categorie_juridique'
        - $ref: '#/components/parameters/entreprise_cessee'
        - $ref: '#/components/parameters/statut_rcs'
        - $ref: '#/components/parameters/objet_social'
        - $ref: '#/components/parameters/date_immatriculation_rcs_min'
        - $ref: '#/components/parameters/date_immatriculation_rcs_max'
        - $ref: '#/components/parameters/date_radiation_rcs_min'
        - $ref: '#/components/parameters/date_radiation_rcs_max'
        - $ref: '#/components/parameters/capital_min'
        - $ref: '#/components/parameters/capital_max'
        - $ref: '#/components/parameters/chiffre_affaires_min'
        - $ref: '#/components/parameters/chiffre_affaires_max'
        - $ref: '#/components/parameters/resultat_min'
        - $ref: '#/components/parameters/resultat_max'
        - $ref: '#/components/parameters/date_creation_min'
        - $ref: '#/components/parameters/date_creation_max'
        - $ref: '#/components/parameters/tranche_effectif_min'
        - $ref: '#/components/parameters/tranche_effectif_max'
        - $ref: '#/components/parameters/type_dirigeant'
        - $ref: '#/components/parameters/qualite_dirigeant'
        - $ref: '#/components/parameters/nationalite_dirigeant'
        - $ref: '#/components/parameters/prenom_dirigeant'
        - $ref: '#/components/parameters/age_dirigeant_min'
        - $ref: '#/components/parameters/age_dirigeant_max'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_min'
        - $ref: '#/components/parameters/date_de_naissance_dirigeant_max'
        - $ref: '#/components/parameters/age_beneficiaire_min'
        - $ref: '#/components/parameters/age_beneficiaire_max'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_min'
        - $ref: '#/components/parameters/date_de_naissance_beneficiaire_max'
        - $ref: '#/components/parameters/nationalite_beneficiaire'
        - $ref: '#/components/parameters/date_depot_document_min'
        - $ref: '#/components/parameters/date_depot_document_max'
        - $ref: '#/components/parameters/type_publication'
        - $ref: '#/components/parameters/date_publication_min'
        - $ref: '#/components/parameters/date_publication_max'
        - $ref: '#/components/parameters/siren'
      responses:
        "200":
          description: Recherche réussie. Le retour contient la liste des publications qui répondent aux critères indiqués.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultats:
                    type: array
                    description: Liste des publications qui correspondent à la recherche.
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Publication'
                        - type: object
                          properties:
                            entreprise:
                              $ref: '#/components/schemas/EntrepriseRecherche'
                  total:
                    type: integer
                    description: Nombre de publications qui correspondent à la recherche.
                    example: 100
                  page:
                    type: integer
                    description: Page actuelle.
                    example: 1
        "401":
          description: Clé API incorrecte.
        "404":
          description: Aucune publication ne correspond aux critères indiqués.
        "503":
          description: Service momentanément indisponible.
  /suggestions:
    get:
      tags:
        - Suggestions / Autocomplete
      summary: "Recherche les entreprises qui correspondent à un début de recherche textuelle (type autocomplete)."
      description: "Cette route nécessite généralement d'avoir un temps de réponse très faible. Une URL avec un temps de réponse plus faible a été mise en place : `https://suggestions.pappers.fr/v2?q=googl`. D'autre part, afin de permettre une intégration en front-end la plus directe, cette route ne nécessite pas de token d'authentification."
      operationId: suggestions
      parameters:
        - name: q
          in: query
          description: "Début de recherche textuelle"
          required: true
          schema:
            type: string
            example: googl
        - name: longueur
          in: query
          description: "Nombre de résultats. Maximum 100. Valeur par défaut : `10`."
          required: false
          schema:
            type: integer
            example: 20
        - name: cibles
          in: query
          description: "Cibles de la recherche, séparées par des virgules. Valeur par défaut : `\"nom_entreprise\"`."
          required: false
          schema:
            type: string
            enum: [nom_entreprise, denomination, nom_complet, representant, siren, siret]
            example: nom_entreprise,siren,siret
      responses:
        "200":
          description: Requête correctement exécutée. Le retour contient une ou plusieurs listes d'entreprises en fonction du paramètre `cibles` de la requête.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultats_nom_entreprise:
                    type: array
                    format: optional
                    description: Liste des entreprises dont le nom (dénomination ou nom/prénom) peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `nom_entreprise`.
                    items:
                      allOf:
                        - type: object
                          properties:
                            mention:
                              type: string
                              description: Nom de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`.
                        - $ref: '#/components/schemas/EntrepriseRecherche'
                  resultats_denomination:
                    type: array
                    format: optional
                    description: Liste des entreprises dont la dénomination peut compléter la recherche textuelle (concerne les personnes morales seulement). Uniquement présent si le paramètre `cibles` contient `denomination`.
                    items:
                      allOf:
                        - type: object
                          properties:
                            mention:
                              type: string
                              description: Dénomination de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`.
                        - $ref: '#/components/schemas/EntrepriseRecherche'
                  resultats_nom_complet:
                    type: array
                    format: optional
                    description: Liste des entreprises dont le nom complet (nom + prénom ou prénom + nom) peut compléter la recherche textuelle (concerne les personnes physiques seulement). Uniquement présent si le paramètre `cibles` contient `nom_complet`.
                    items:
                      allOf:
                        - type: object
                          properties:
                            mention:
                              type: string
                              description: Nom complet de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`.
                        - $ref: '#/components/schemas/EntrepriseRecherche'
                  resultats_representant:
                    type: array
                    format: optional
                    description: Liste des représentants dont le nom complet (nom + prénom ou prénom + nom) peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `representant`.
                    items:
                      allOf:
                        - type: object
                          properties:
                            mention:
                              type: string
                              description: Nom du dirigeant, avec le texte recherché encerclé d'une balise HTML `<em>`.
                        - $ref: '#/components/schemas/Representant'
                  resultats_siren:
                    type: array
                    format: optional
                    description: Liste des entreprises dont le numéro SIREN peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `siren`.
                    items:
                      allOf:
                        - type: object
                          properties:
                            mention:
                              type: string
                              description: SIREN de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`.
                        - $ref: '#/components/schemas/EntrepriseRecherche'
                  resultats_siret:
                    type: array
                    format: optional
                    description: Liste des entreprises dont le numéro SIRET peut compléter la recherche textuelle. Uniquement présent si le paramètre `cibles` contient `siret`.
                    items:
                      allOf:
                        - type: object
                          properties:
                            mention:
                              type: string
                              description: SIRET de l'entreprise, avec le texte recherché encerclé d'une balise HTML `<em>`.
                        - $ref: '#/components/schemas/EntrepriseRecherche'
        "400":
          description: Paramètres de la requête incorrects.
  /entreprise/comptes:
    get:
      tags:
        - Comptes annuels
      summary: Récupère les comptes annuels publiés d'une entreprise.
      description: Vous devez fournir le SIREN de l'entreprise pour laquelle vous souhaitez obtenir les comptes annuels.
      operationId: comptes-annuels
      parameters:
        - $ref: '#/components/parameters/api_token'
        - name: siren
          in: query
          description: SIREN de l'entreprise
          required: false
          schema:
            type: string
            example: 443061841
        - name: annee
          in: query
          description: Année de cloture des comptes souhaités. Il est possible d'indiquer plusieurs années en les séparant par des virgules. Si le paramètre n'est pas fourni, toutes les années disponibles seront retournées.
          required: false
          schema:
            type: string
            example: 2016,2017,2018
      responses:
        "200":
          description: Comptes annuels disponibles. Le retour contient les comptes détaillés, ainsi que les ratios associés.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  description: Comptes disponibles pour l'année correspondant à la clé.
                  items:
                    type: object
                    description: Année
                    properties:
                      date_depot:
                        type: string
                        description: Date de dépôt des comptes, au format AAAA-MM-JJ.
                        example: 2021-04-23
                      code_greffe:
                        type: string
                        description: Code du greffe de dépôt des comptes.
                        example: 7501
                      numero_depot:
                        type: string
                        description: Numéro de dépôt des comptes au greffe.
                        example: 75548
                      numero_gestion:
                        type: string
                        description: Numéro de gestion au greffe.
                        example: 2003B09427
                      date_cloture:
                        type: string
                        description: Date de cloture des comptes, au format AAAA-MM-JJ.
                        example: 2020-12-31
                      date_cloture_n-1:
                        type: string
                        format: nullable
                        description: Date de cloture des comptes n-1, lorsque présents, au format AAAA-MM-JJ.
                      duree_exercice_n:
                        type: integer
                        description: Durée de l'exercice déposé, en mois.
                        example: 12
                      duree_exercice_n-1:
                        type: integer
                        format: nullable
                        description: Durée de l'exercice précédent, lorsque présent, en mois.
                      type_comptes:
                        type: string
                        enum: [C,S,K,CS,B,A]
                        description: Type de comptes (C = complets ; S = simplifiés ; K = consolidés ; CS = mélange complets/simplifiés ; B = banques ; A = assurances).
                        example: C
                      libelle_type_comptes:
                        type: string
                        enum: [Complets,Simplifiés,Consolidés,Complets/Simplifiés,Banques,Assurances]
                        description: Libellé du type de comptes.
                        example: Complets
                      devise:
                        type: string
                        description: Devise des comptes.
                        example: EUR
                      devise_origine:
                        type: string
                        format: nullable
                        description: Devise d'origine en cas de conversion.
                      confidentialite:
                        type: boolean
                        description: Confidentialité totale des comptes.
                      confidentialite_compte_de_resultat:
                        type: boolean
                        description: Confidentialité partielle des comptes (seul le compte de résultat est confidentiel, le reste des comptes sont disponibles).
                      type_saisie:
                        type: string
                        description: Description du type de saisie des comptes.
                      informations_traitement:
                        type: array
                        format: nullable
                        description: Informations complémentaires sur le traitement des comptes.
                        items:
                          type: string
                      sections:
                        type: array
                        description: Liste des sections de liasses fiscales.
                        items:
                          type: object
                          properties:
                            libelle:
                              type: string
                              description: Libellé de la section.
                              example: Actif (bilan)
                            liasses:
                              type: array
                              description: Liste des liasses fiscales de la section.
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Code de la liasse.
                                    example: AN
                                  libelle:
                                    type: string
                                    description: Libellé de la liasse.
                                    example: Terrains
                                  colonnes:
                                    type: array
                                    description: Colonnes de la liasse.
                                    items:
                                      type: object
                                      properties:
                                        libelle:
                                          type: string
                                          description: Libellé de la colonne.
                                          example: Montant brut année N
                                        valeur:
                                          type: integer
                                          description: Valeur de la colonne.
                                          example: 60067444
                      ratios:
                        $ref: '#/components/schemas/Ratios'
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Comptes annuels indisponibles.
        "503":
          description: Service momentanément indisponible.
  /document/telechargement:
    get:
      tags:
        - Documents
      summary: Télécharge un document PDF ou XLSX à partir de son token.
      description: "Vous devez fournir le token du document. Le document vous sera envoyé au format PDF ou XLSX."
      operationId: document-telechargement
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: token
          in: query
          description: "Token du document"
          required: true
          schema:
            type: string
            example: QTQ0MzA2MTg0MTIwMjAwNDA3RMOpY2lzaW9uKHMpIGRlIGwnYXNzb2Npw6kgdW5pcXVl
      responses:
        "200":
          description: Document disponible. Le retour contient le document au format PDF ou XLSX.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Document indisponible.
        "503":
          description: Service momentanément indisponible.
  /document/extrait_pappers:
    get:
      tags:
        - Documents
      summary: Télécharge l'extrait Pappers d'une entreprise à partir de son SIREN ou SIRET.
      description: "Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera envoyé au format PDF."
      operationId: document-extrait-pappers
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: siren
          in: query
          description: "SIREN de l'entreprise"
          required: false
          schema:
            type: string
            example: 443061841
        - name: siret
          in: query
          description: "SIRET de l'entreprise"
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        "200":
          description: Document disponible. Le retour contient l'extrait Pappers au format PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Document indisponible.
        "503":
          description: Service momentanément indisponible.
  /document/extrait_inpi:
    get:
      tags:
        - Documents
      summary: Télécharge l'extrait INPI d'une entreprise à partir de son SIREN ou SIRET.
      description: "Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera envoyé au format PDF."
      operationId: document-extrait-inpi
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: siren
          in: query
          description: "SIREN de l'entreprise"
          required: false
          schema:
            type: string
            example: 443061841
        - name: siret
          in: query
          description: "SIRET de l'entreprise"
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        "200":
          description: Document disponible. Le retour contient l'extrait INPI au format PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Document indisponible.
        "503":
          description: Service momentanément indisponible.
  /document/avis_situation_insee:
    get:
      tags:
        - Documents
      summary: Télécharge l'avis de situation INSEE d'une entreprise à partir de son SIREN ou SIRET.
      description: "Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera envoyé au format PDF."
      operationId: document-avis-situation-insee
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: siren
          in: query
          description: "SIREN de l'entreprise"
          required: false
          schema:
            type: string
            example: 443061841
        - name: siret
          in: query
          description: "SIRET de l'entreprise"
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        "200":
          description: Document disponible. Le retour contient l'avis de situation au format PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Document indisponible.
        "503":
          description: Service momentanément indisponible.
  /document/statuts:
    get:
      tags:
        - Documents
      summary: Télécharge les derniers statuts disponibles d'une entreprise à partir de son SIREN ou SIRET.
      description: "Vous devez fournir soit le SIREN, soit le SIRET. Le document vous sera envoyé au format PDF."
      operationId: document-status
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: siren
          in: query
          description: "SIREN de l'entreprise"
          required: false
          schema:
            type: string
            example: 443061841
        - name: siret
          in: query
          description: "SIRET de l'entreprise"
          required: false
          schema:
            type: string
            example: 44306184100047
      responses:
        "200":
          description: Document disponible. Le retour contient les statuts au format PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Document indisponible.
        "503":
          description: Service momentanément indisponible.
  /document/declaration_beneficiaires_effectifs:
    get:
      tags:
        - Documents
      summary: Télécharge la déclaration des bénéficiaires effectifs d'une entreprise à partir de son SIREN.
      description: "Vous devez fournir le SIREN. Le document vous sera envoyé au format PDF.\n\nSeules les autorités de contrôle (<a rel='noreferrer noopener' target='_blank' href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000041578272/'>article R. 561-57 du Code monétaire et financier en dénombre 18</a>) et les personnes assujetties à la lutte contre le blanchiment des capitaux et le financement du terrorisme (<a rel='noreferrer noopener' target='_blank' href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042648575/'>article L. 561-2 du code monétaire et financier</a>) peuvent accéder à ces informations.\n\nPour pouvoir utiliser cette route veuillez nous contacter au préalable à api@pappers.fr"
      operationId: document-beneficiaires-effectifs
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: siren
          in: query
          description: "SIREN de l'entreprise"
          required: false
          schema:
            type: string
            example: 443061841
      responses:
        "200":
          description: Document disponible. Le retour contient la déclaration des bénéficiaires effectifs au format PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "403":
          description: Vous n'avez pas les droits pour exécuter cette requête.
        "404":
          description: Document indisponible.
        "503":
          description: Service momentanément indisponible.
  /suivi-jetons:
    get:
      tags:
        - Suivi utilisation
      summary: Récupère le suivi d'utilisation des jetons.
      description: "Vous devez fournir la clé d'utilisation de l'API."
      operationId: suivi-jetons
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
      responses:
        "200":
          description: Succès
          content:
            application/json:
              schema:
                type: object
                description: Suivi d'utilisation des jetons.
                properties:
                  jetons_abonnement:
                    type: number
                    example: 10000
                    description: Le nombre de jetons mensuels initiaux de votre abonnement.
                  jetons_abonnement_utilises:
                    type: number
                    example: 650
                    description: Le nombre de jetons mensuels de votre abonnement que vous avez utilisés
                  jetons_pay_as_you_go_restants:
                    type: number
                    example: 0
                    description: Le nombre de jetons pay as you go qu'il vous reste.
        "401":
          description: Clé API incorrecte.
        "503":
          description: Service momentanément indisponible.
  /liste:
    post:
      tags:
        - Surveillance
      summary: Ajoute une (ou plusieurs) entreprise(s) à une liste d'entreprises.
      description: "Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant de votre liste."
      operationId: surveillance-entreprise
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: id_liste
          in: query
          description: Identifiant unique de votre liste de surveillance d'entreprises
          required: true
          schema:
            type: string
            example: 'votre_identifiant_ici'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - siren
                properties:
                  siren:
                    type: string
                    example: '443061841'
                    description: SIREN de l'entreprise

      responses:
        "200":
          description: Aucun changement, les données étaient déjà présentes.
          content:
            application/json:
              schema:
                type: object
                description: Nombre de notifications ajoutées.
                properties:
                  notifications_ajoutees:
                    type: number
                    example: 0
                    default: 0
                    description: Le nombre d'entreprises ajoutées à votre liste de surveillance d'entreprises.
        "201":
          description: Créés, liste mise à jour.
          content:
            application/json:
              schema:
                type: object
                description: Nombre de notifications ajoutées.
                properties:
                  notifications_ajoutees:
                    type: number
                    example: 10
                    description: Le nombre d'entreprises ajoutées à votre liste de surveillance d'entreprises.
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "403":
          description: Offre dépassée.
        "404":
          description: Liste non trouvée.
        "503":
          description: Service momentanément indisponible.
  /liste/:
    post:
      tags:
        - Surveillance
      summary: Ajoute un (ou plusieurs) dirigeant(s) à une liste de dirigeants.
      description: "Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant de votre liste. Les informations à renseigner sont différentes selon le type de personne à ajouter (morale ou physique)"
      operationId: surveillance-dirigeant
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: id_liste
          in: query
          description: Identifiant unique de votre liste de surveillance de dirigeants
          required: true
          schema:
            type: string
            example: 'votre_identifiant_ici'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - siren
                properties:
                  siren:
                    type: string
                    description: SIREN de la personne morale (si ajout d'une personne morale)
                  denomination:
                    type: string
                    description: Dénomination de la personne morale (si ajout d'une personne morale)
                  nom:
                    type: string
                    description: Nom de la personne physique (si ajout d'une personne physique)
                  prenom:
                    type: string
                    description: Prénom de la personne physique (si ajout d'une personne physique)
                  date_de_naissance:
                    type: string
                    description: Date de naissance de la personne physique au format AAAA-MM-JJ (si ajout d'une personne physique)
                  recherche_elargie:
                    type: boolean
                    default: false
                    description: "Active la recherche élargie du dirigeant : <ul><li>Pour une personne physique : c'est un cas rare mais la date de naissance du dirigeant n'est pas toujours connue de Pappers. Si vous activer ce filtre et que la date de naissance est inconnue, l'alerte sera générée uniquement sur la base du nom et prénom.</li><li>Pour une personne morale : c'est un cas rare mais le SIREN du dirigeant n'est pas toujours connu de Pappers. Si vous activer ce filtre et que le SIREN est inconnu, l'alerte sera générée uniquement sur la base de la dénomination. Activable uniquement si le champ denomination est présent.</li></ul>"
              example: [
                {
                  "siren": '443061841',
                  "denomination": 'Google FRANCE'
                },
                {
                  "nom": 'Yi',
                  "prenom": 'Kenneth H.',
                  "date_de_naissance": "1970-01-06",
                  "recherche_elargie": true
                }
              ]

      responses:
        "200":
          description: Aucun changement, les données étaient déjà présentes.
          content:
            application/json:
              schema:
                type: object
                description: Nombre de notifications ajoutées.
                properties:
                  notifications_ajoutees:
                    type: number
                    example: 0
                    default: 0
                    description: Le nombre de dirigeants ajoutées à votre liste de surveillance de dirigeants.
        "201":
          description: Créés, liste mise à jour.
          content:
            application/json:
              schema:
                type: object
                description: Nombre de notifications ajoutées.
                properties:
                  notifications_ajoutees:
                    type: number
                    example: 10
                    description: Le nombre de dirigeants ajoutées à votre liste de surveillance de dirigeants.
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "403":
          description: Offre dépassée.
        "404":
          description: Liste non trouvée.
        "503":
          description: Service momentanément indisponible.
    delete:
      tags:
        - Surveillance
      summary: Supprime une (ou plusieurs) notification(s) d'une liste.
      description: "Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant de votre liste."
      operationId: surveillance-notifications-delete
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: id_liste
          in: query
          description: Identifiant unique de votre liste de surveillance
          required: true
          schema:
            type: string
            example: 'votre_identifiant_ici'
        - name: siren
          in: query
          description: Liste des sirens des notifications à supprimer, séparés par une virgule
          required: false
          schema:
            type: string
            example: '443061841,950370973'
        - name: id
          in: query
          description: Liste des ids des notifications à supprimer, séparés par une virgule
          required: false
          schema:
            type: string
            example: 'ecfca3e5fb1ce07bb3fdfe8760a28df5aa617ed4951b7f61,a67b9de66189ba98eb4aede09f4b2b565b0f18fe694da7bc'
        - name: supprimer_totalite
          in: query
          description: Suppression de toutes les notifications de la liste
          required: false
          schema:
            type: boolean
            example: true
      responses:
        "200":
          description: Succés.
          content:
            application/json:
              schema:
                type: object
                description: Nombre de notifications supprimées.
                properties:
                  notifications_supprimees:
                    type: number
                    example: 10
                    description: Le nombre de notifications supprimées de votre liste de surveillance.
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Liste non trouvée.
        "503":
          description: Service momentanément indisponible.
  /liste-informations:
    post:
      tags:
        - Surveillance
      summary: Ajoute des informations à une (ou plusieurs) notification(s).
      description: "Vous devez fournir la clé d'utilisation de l'API ainsi que l'identifiant de votre liste."
      operationId: surveillance-liste-informations
      parameters:
        - name: api_token
          in: query
          description: Clé d'utilisation de l'API
          required: true
          schema:
            type: string
            example: 'votre_clé_ici'
        - name: id_liste
          in: query
          description: Identifiant unique de votre liste de surveillance d'entreprises
          required: true
          schema:
            type: string
            example: 'votre_identifiant_ici'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notifications:
                  type: array
                  description: Tableau d'identifiant de notifications
                  items:
                    type: string
                    example: ecfca3e5fb1ce07bb3fdfe8760a28df5aa617ed4951b7f61
                informations:
                  type: string
                  example: 'Information quelconque'
                  description: Information à rajouter sur les notifications
                  maxLength: 255
      responses:
        "200":
          description: Succés.
        "400":
          description: Paramètres de la requête incorrects.
        "401":
          description: Clé API incorrecte.
        "404":
          description: Liste non trouvée.
        "503":
          description: Service momentanément indisponible.
components:
  parameters:
    api_token:
      name: api_token
      in: query
      description: Clé d'utilisation de l'API
      required: true
      schema:
        type: string
        example: 'votre_clé_ici'
    par_page:
      name: par_page
      in: query
      description: "Nombre de résultats affichés sur une page. Valeur par défaut : `10`."
      required: false
      schema:
        type: integer
        example: 20
    page:
      name: page
      in: query
      description: "Page de résultats. Valeur par défaut : `1`."
      required: false
      schema:
        type: integer
        example: 1
    bases:
      name: bases
      in: query
      description: "Bases de données dans lesquelles rechercher. Il est possible d'indiquer plusieurs bases en les séparant par des virgules. Valeur par défaut : `\"entreprises\"`."
      required: false
      schema:
        type: string
        enum: [entreprises, dirigeants, beneficiaires, documents, publications]
        example: entreprises
    precision:
      name: precision
      in: query
      description: "Niveau de précision de la recherche. Valeur par défaut : `\"standard\"`."
      required: false
      schema:
        type: string
        enum: [approximative, standard, exacte]
        example: standard
    curseur:
      name: curseur
      in: query
      description: "Curseur servant à parcourir l'ensemble des résultats (alternativement à la pagination qui est limitée à 400 résultats maximum). Doit valoir `*` pour la première requête, et doit pour les requêtes suivantes reprendre la valeur `curseurSuivant` retournée par la dernière réponse."
      required: false
      schema:
        type: string
        example: "*"
    par_curseur:
      name: par_curseur
      in: query
      description: "Nombre de résultats affichés par curseur. Valeur par défaut : `50`. Valeur minimale: `1`. Valeur maximale : `1000`."
      required: false
      schema:
        type: integer
        example: 20
    export:
      name: export
      in: query
      description: Si ce champ est renseigné, la requête renverra directement un export de l'ensemble des résultats de la recherche.
      required: false
      schema:
        type: string
        enum: [xlsx, csv, json]
        example: xlsx
    code_naf:
      name: code_naf
      in: query
      description: Code NAF de l'entreprise. Il est possible d'indiquer plusieurs codes NAF en les séparant par des virgules.
      required: false
      schema:
        type: string
        example: 70.10Z
    departement:
      name: departement
      in: query
      description: Numéro de département de l'un des établissements de l'entreprise. Il est possible d'indiquer plusieurs départements en les séparant par des virgules.
      required: false
      schema:
        type: string
        example: 75
    region:
      name: region
      in: query
      description: Code de la région de l'un des établissements de l'entreprise, selon la [nomenclature Insee](https://www.insee.fr/fr/information/4316069#titre-bloc-18). Il est possible d'indiquer plusieurs codes régions en les séparant par des virgules.
      required: false
      schema:
        type: string
        example: 11
    code_postal:
      name: code_postal
      in: query
      description: Code postal de l'un des établissements de l'entreprise. Il est possible d'indiquer plusieurs codes postaux en les séparant par des virgules.
      required: false
      schema:
        type: string
        example: 75009
    convention_collective:
      name: convention_collective
      in: query
      description: Convention collective de l'entreprise.
      required: false
      schema:
        type: string
        example: 1486
    categorie_juridique:
      name: categorie_juridique
      in: query
      description: "Catégorie juridique de l'entreprise, selon la [nomenclature Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le code correspond à celui de l'INSEE, à l'exception des SASU qui auront comme code 5720 et les EURL qui auront comme code 5498."
      required: false
      schema:
        type: string
        example: 5499
    entreprise_cessee:
      name: entreprise_cessee
      in: query
      description: Activité de l'entreprise cessée ou non.
      required: false
      schema:
        type: boolean
        example: false
    statut_rcs:
      name: statut_rcs
      in: query
      description: Statut au RCS
      required: false
      schema:
        type: string
        enum: [inscrit, radie, non inscrit]
        example: inscrit
    objet_social:
      name: objet_social
      in: query
      description: Objet social de l'entreprise déclaré au RCS.
      required: false
      schema:
        type: string
        example: La conception de moteurs de recherche sur internet.
    date_immatriculation_rcs_min:
      name: date_immatriculation_rcs_min
      in: query
      description: Date d'immatriculation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_immatriculation_rcs_max:
      name: date_immatriculation_rcs_max
      in: query
      description: d'immatriculation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_radiation_rcs_min:
      name: date_radiation_rcs_min
      in: query
      description: Date de radiation au RCS minimale de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_radiation_rcs_max:
      name: date_radiation_rcs_max
      in: query
      description: Date de radiation au RCS maximale de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        example: 17-05-2002
    capital_min:
      name: capital_min
      in: query
      description: Capital minimum de l'entreprise.
      required: false
      schema:
        type: string
        example: 411016200
    capital_max:
      name: capital_max
      in: query
      description: Capital maximum de l'entreprise.
      required: false
      schema:
        type: string
        example: 411016400
    chiffre_affaires_min:
      name: chiffre_affaires_min
      in: query
      description: "Chiffre d'affaires minimum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés."
      required: false
      schema:
        type: string
        example: 411016200
    chiffre_affaires_max:
      name: chiffre_affaires_max
      in: query
      description: "Chiffre d'affaires maximum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés."
      required: false
      schema:
        type: string
        example: 411016400
    resultat_min:
      name: resultat_min
      in: query
      description: "Résultat minimum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés."
      required: false
      schema:
        type: string
        example: 29327000
    resultat_max:
      name: resultat_max
      in: query
      description: "Résultat maximum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés."
      required: false
      schema:
        type: string
        example: 29327100
    date_creation_min:
      name: date_creation_min
      in: query
      description: Date de création minimale de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        example: 15-05-2002
    date_creation_max:
      name: date_creation_max
      in: query
      description: Date de création maximale de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        example: 17-05-2002
    tranche_effectif_min:
      name: tranche_effectif_min
      in: query
      description: "Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/sirene/public/variable/tefen).\n\n**Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur"
      required: false
      schema:
        type: string
        example: 40
    tranche_effectif_max:
      name: tranche_effectif_max
      in: query
      description: "Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/sirene/public/variable/tefen).\n\n**Note** : 00 ou NN donneront les mêmes résultats et veulent dire non employeur"
      required: false
      schema:
        type: string
        example: 42
    type_dirigeant:
      name: type_dirigeant
      in: query
      description: Type du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: string
        enum: [personne physique, personne morale]
        example: physique
    qualite_dirigeant:
      name: qualite_dirigeant
      in: query
      description: Qualité du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: string
        example: Administrateur
    nationalite_dirigeant:
      name: nationalite_dirigeant
      in: query
      description: Nationalité du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: string
        example: Française
    nom_dirigeant:
      name: nom_dirigeant
      in: query
      description: Nom du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: string
        example: Yi
    prenom_dirigeant:
      name: prenom_dirigeant
      in: query
      description: Prénom du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: string
        example: Kenneth H.
    age_dirigeant_min:
      name: age_dirigeant_min
      in: query
      description: Âge minimal du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: integer
        example: 40
    age_dirigeant_max:
      name: age_dirigeant_max
      in: query
      description: Âge maximal du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: integer
        example: 42
    date_de_naissance_dirigeant_min:
      name: date_de_naissance_dirigeant_min
      in: query
      description: Date de naissance minimale du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 1970-01-01
    date_de_naissance_dirigeant_max:
      name: date_de_naissance_dirigeant_max
      in: query
      description: Date de naissance maximale du dirigeant (ou de l'un des dirigeants de l'entreprise pour une recherche d'entreprises) de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 1970-12-31
    age_beneficiaire_min:
      name: age_beneficiaire_min
      in: query
      description: Âge minimal du bénéficiaire effectif (ou de l'un des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: integer
        example: 40
    age_beneficiaire_max:
      name: age_beneficiaire_max
      in: query
      description: Âge maximal du bénéficiaire effectif (ou de l'un des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: integer
        example: 42
    date_de_naissance_beneficiaire_min:
      name: date_de_naissance_beneficiaire_min
      in: query
      description: Date de naissance minimale du bénéficiaire effectif (ou de l'un des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises), au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 1970-01-01
    date_de_naissance_beneficiaire_max:
      name: date_de_naissance_beneficiaire_max
      in: query
      description: Date de naissance maximale du bénéficiaire effectif (ou de l'un des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises) de l'entreprise, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 1970-12-31
    nationalite_beneficiaire:
      name: nationalite_beneficiaire
      in: query
      description: Nationalité du bénéficiaire effectif (ou de l'un des bénéficiaires effectifs de l'entreprise pour une recherche d'entreprises).
      required: false
      schema:
        type: string
        example: Française
    date_depot_document_min:
      name: date_depot_document_min
      in: query
      description: Date de dépôt minimale du document, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 2000-01-01
    date_depot_document_max:
      name: date_depot_document_max
      in: query
      description: Date de dépôt maximale du document, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 2000-12-31
    type_publication:
      name: type_publication
      in: query
      description: Type de publication
      required: false
      schema:
        type: string
        enum: [Création, Immatriculation, Modification, Vente, Radiation, Procédure collective, Dépôt des comptes]
        example: Procédure collective
    date_publication_min:
      name: date_publication_min
      in: query
      description: Date publication minimale de la publication, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 2000-01-01
    date_publication_max:
      name: date_publication_max
      in: query
      description: Date de publication maximale de la publication, au format JJ-MM-AAAA.
      required: false
      schema:
        type: string
        format: date
        example: 2000-12-31
    siren:
      name: siren
      in: query
      description: SIREN de l'entreprise.
      required: false
      schema:
        type: string
        example:
  schemas:
    EntrepriseBase:
      type: object
      properties:
        siren:
          type: string
          example: "443061841"
          description: Le numéro SIREN de l'entreprise au format xxxxxxxxx.
        siren_formate:
          type: string
          example: 443 061 841
          description: Le numéro SIREN de l'entreprise au format xxx xxx xxx.
        nom_entreprise:
          type: string
          example: GOOGLE FRANCE
          description: Le nom de l'entreprise. Il est égal à sigle + dénomination en cas de personne morale, ou à nom + prénom en cas de personne physique.
        personne_morale:
          type: boolean
          description: Vrai en cas de personne morale, faux en cas de personne physique.
        denomination:
          type: string
          format: nullable
          description: Dénomination de l'entreprise si personne morale.
          example: GOOGLE FRANCE
        nom:
          type: string
          format: nullable
          description: Nom si personne physique.
          example:
        prenom:
          type: string
          format: nullable
          description: Prénom si personne physique.
          example:
        sexe:
          type: string
          format: nullable
          description: Sexe si personne physique. F pour féminin, M pour masculin.
          example:
        code_naf:
          type: string
          description: Code NAF de l'entreprise.
          example: 70.10Z
        libelle_code_naf:
          type: string
          description: Libellé du code NAF de l'entreprise.
          example: Activités des sièges sociaux
        domaine_activite:
          type: string
          description: Domaine d'activité de l'entreprise.
          example: Activités des sièges sociaux ; conseil de gestion
        conventions_collectives:
          description: Liste des conventions collectives de l'entreprise.
          type: array
          items:
            type: object
            properties:
              nom:
                type: string
                description: Nom de la convention collective.
                example: Convention collective nationale applicable au personnel des bureaux d'études techniques des cabinets d'ingénieurs-conseils et des sociétés de conseils(BET SYNTEC)
              idcc:
                type: integer
                description: Code IDCC de l'entreprise.
                example: 1486
              confirmee:
                type: boolean
                description: Si confirmée, l'information est issue de la DSN de l'entreprise et fournie par le ministère du Travail. Si non confirmée, ce n'est qu'une estimation à partir du code NAF de l'entreprise.
        date_creation:
          type: string
          format: date
          description: Date de création de l'entreprise au format AAAA-MM-JJ.
          example: "2002-05-16"
        date_creation_formate:
          type: string
          description: Date de création de l'entreprise au format JJ/MM/AAAA.
          example: 16/05/2002
        entreprise_cessee:
          type: boolean
          description: Si vrai, l'entreprise n'est plus en activité. Sinon, elle est toujours en activité.
        date_cessation:
          type: string
          format: nullable
          description: Date de cessation de l'entreprise au format AAAA-MM-JJ.
          example: "2002-05-16"
        entreprise_employeuse:
          type: boolean
          description: Si vrai, l'entreprise a au moins un employé.
        categorie_juridique:
          type: string
          description: "Catégorie juridique de l'entreprise, selon la [nomenclature Insee](https://www.insee.fr/fr/information/2028129). \n\n**Note** : Le code correspond à celui de l'INSEE, à l'exception des SASU qui auront comme code 5720 et les EURL qui auront comme code 5498."
          example: '5499'
        forme_juridique:
          type: string
          description: Forme juridique de l'entreprise.
          example: Société à responsabilité limitée (SARL)
        effectif:
          type: string
          description: Tranche d'effectif de l'entreprise.
          example: Entre 500 et 999 salariés
        effectif_min:
          type: integer
          description: Effectif minimal de l'entreprise.
          example: 500
        effectif_max:
          type: integer
          description: Effectif maximal de l'entreprise.
          example: 999
        tranche_effectif:
          type: string
          format: nullable
          description: Tranche d'effectif de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/sirene/public/variable/tefen#:~:text=Cette%20variable%20correspond%20%C3%A0%20la,effectif%20salari%C3%A9%20de%20l'entreprise.).
          example: "41"
        annee_effectif:
          type: integer
          format: nullable
          description: Année de validité des variables effectif, effectif_min et effectif_max.
          example: 2017
        capital:
          type: number
          format: nullable
          description: Capital de l'entreprise.
          example: 464884017
        statut_rcs:
          type: string
          format: nullable
          description: Statut de l'entreprise au RCS
          example: "Inscrit"
    EntrepriseFiche:
      allOf:
        - $ref: '#/components/schemas/EntrepriseBase'
        - type: object
          properties:
            siege:
              $ref: '#/components/schemas/EtablissementFiche'
            diffusable:
              type: boolean
              description: Le statut de diffusion de l'entreprise. Non diffusable correspond à une personne physique ayant demandé à être exclue de la diffusion. Aucune information n'est alors disponible. Cette modalité n'est visible que pour les organismes habilités au titre de l'article R. 123-224 ou les administrations.
            sigle:
              type: string
              format: nullable
              description: Sigle de l'entreprise si personne morale.
              example:
            objet_social:
              type: string
              format: nullable
              description: Objet social de l'entreprise.
              example: Fourniture de services et/ou conseils relatifs aux logiciels au réseau internet aux réseaux télématiques ou en ligne notamment L'intermediation en matière de vente de publicité en ligne la promotion sous toutes ses formes de la publicité en ligne la promotion directe de produits et services et la mise en oeuvre de centres de traitement de l'information
            capital_formate:
              type: string
              description: Capital l'entreprise au format xx xxx €.
              example: 464 884 017,00 €
            capital_actuel_si_variable:
              type: string
              format: nullable
              description: Capital actuel de l'entreprise si variable.
              example:
            devise_capital:
              type: string
              format: nullable
              description: Devise de capital_formate et capital_actuel_si_variable.
              example: Euros
            numero_rcs:
              type: string
              format: nullable
              description: Numéro RCS de l'entreprise.
              example: 464884017 R.C.S. Paris
            date_cloture_exercice:
              type: string
              format: nullable
              description: Date de clôture d'exercice de l'entreprise.
              example:
            date_cloture_exercice_exceptionnelle:
              type: string
              format: nullable
              description: Date de clôture d'exercice exceptionnel de l'entreprise.
              example:
            date_cloture_exercice_exceptionnelle_formate:
              type: string
              format: nullable
              description: Date de clôture d'exercice exceptionnel formatée de l'entreprise.
              example:
            prochaine_date_cloture_exercice:
              type: string
              format: nullable
              description: Prochaine date de clôture d'exercice de l'entreprise.
              example:
            prochaine_date_cloture_exercice_formate:
              type: string
              format: nullable
              description: Prochaine date de clôture d'exercice formatée de l'entreprise.
              example:
            economie_sociale_solidaire:
              type: boolean
              description: Vrai si l'entreprise est une entreprise de l'économie sociale et solidaire.
            duree_personne_morale:
              type: string
              format: nullable
              description: Durée de la personne morale.
              example:
            dernier_traitement:
              type: string
              format: date
              description: Date de dernier traitement de l'entreprise.
              example: "2020-07-09"
            derniere_mise_a_jour_sirene:
              type: string
              format: date
              description: Dernière mise à jour de la base de donnée sirène au format AAAA-MM-JJ.
              example: "2020-08-13"
            derniere_mise_a_jour_rcs:
              type: string
              format: date
              description: Dernière mise à jour de la base de donnée RCS au format AAAA-MM-JJ.
              example: "2020-06-25"
            statut_rcs:
              type: string
              description: Statut de l'entreprise au RCS. Peut valoir "Inscrit", "Non inscrit" ou "Radié".
              example: Inscrit
            greffe:
              type: string
              format: nullable
              description: Greffe RCS de l'entreprise.
              example: Paris
            code_greffe:
              type: string
              format: nullable
              description: Code greffe RCS de l'entreprise.
              example: '7501'
            date_immatriculation_rcs:
              type: string
              format: nullable
              description: Date d'immatriculation de l'entreprise au RCS.
              example:
            date_premiere_immatriculation_rcs:
              type: string
              format: nullable
              description: Date de la première immatriculation de l'entreprise au RCS.
              example:
            date_debut_activite:
              type: string
              format: nullable
              description: Date de début d'activité de l'entreprise.
              example: "2002-08-14"
            date_debut_premiere_activite:
              type: string
              format: nullable
              description: Date de début d'activité de l'entreprise.
              example:
            date_radiation_rcs:
              type: string
              format: nullable
              description: Date de radiation de l'entreprise au RCS.
              example:
            numero_tva_intracommunautaire:
              type: string
              description: Numéro de TVA intracommunautaire de l'entreprise.
              example: FR64443061841
            validite_tva_intracommunautaire:
              type: boolean
              format: optional, nullable
              description: "Présent uniquement si le paramètre validite_tva_intracommunautaire a été mis à vrai.\n\nSi vrai, le numéro de TVA intracommunautaire est valide. Si faux, il est invalide. Si null, la validité n'a pas pu être vérifiée."
              example: true
            associe_unique:
              type: boolean
              description: Si vrai, l'entreprise est à associé unique (notamment pour les SASU et les EURL).
            etablissements:
              type: array
              description: Liste des établissements de l'entreprise.
              items:
                $ref: '#/components/schemas/EtablissementFiche'
            finances:
              type: array
              description: Liste des finances de l'entreprise.
              items:
                allOf:
                  - type: object
                    properties:
                      annee:
                        type: integer
                        description: Année de cloture d'exercice.
                        example: 2018
                      date_de_cloture_exercice:
                        type: string
                        format: date
                        description: Date de cloture de l'exercice des finances de l'entreprise.
                        example: "2018-12-31"
                      duree_exercice:
                        type: integer
                        description: Durée de l'exercice de l'entreprise."
                        example: 12
                  - $ref: '#/components/schemas/Ratios'
            representants:
              type: array
              description: Liste des représentants de l'entreprise.
              items:
                $ref: '#/components/schemas/Representant'
            beneficiaires_effectifs:
              type: array
              description: Liste des bénéficiaires effectifs de l'entreprise (si disponibles).
              items:
                type: object
                properties:
                  date_greffe:
                    type: string
                    format: date
                    description: Date de génération des bénéficiaires effectifs, au format AAAA-MM-JJ.
                    example: '2021-01-06'
                  type:
                    type: string
                    format: nullable
                    description: Type du bénéficiaire effectif
                    example: BE_SOC
                  nom:
                    type: string
                    format: nullable
                    description: Nom du bénéficiaire effectif.
                    example: McCourt JR
                  nom_usage:
                    type: string
                    format: nullable
                    description: Nom d'usage du bénéficiaire effectif.
                    example:
                  prenom:
                    type: string
                    format: nullable
                    description: Prénom du bénéficiaire effectif.
                    example: Frank
                  pseudonyme:
                    type: string
                    format: nullable
                    example:
                  date_de_naissance_formatee:
                    type: string
                    description: Mois et année de naissance du bénéficiaire effectif, au format MM/AAAA.
                    example: "08/1953"
                  date_de_naissance_complete_formatee:
                    type: string
                    format: date
                    description: Date de naissance complète du bénéficiaire effectif, au format JJ/MM/AAAA.
                    example: 14/08/1953
                  nationalite:
                    type: string
                    format: nullable
                    description: Nationalité du bénéficiaire effectif.
                    example: Américaine (Etats Unis)
                  code_nationalite:
                    type: string
                    format: nullable
                    description: Code de la nationalité du bénéficiaire effectif.
                    example: US
                  ville_de_naissance:
                    type: string
                    format: nullable
                    description: Ville de naissance du bénéficiaire effectif.
                    example: Massachusetts
                  pays_de_naissance:
                    type: string
                    format: nullable
                    description: Pays de naissance du bénéficiaire effectif.
[...]
